<div class="container-fluid pt60">
  <div class="row">
    <div class="col-md-12">
      <div class="mc-acceso nofluid">
        <%= render(partial: 'shared/errors', locals: {model_name: @user})%>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%=t('user.confirmation.currently')%>: <%= resource.unconfirmed_email %></div>
        <% end %>
        <h2 class="titlePage"><%=t('user.confirmation.title')%></h2>
        <p class="notes mb20">
          <%=t('user.confirmation.presence').html_safe%>
        </p>
        <div class="form form-electronic">
          <div class="mc-acceso-item login">
            <fieldset>
              <div class="form-group">
                <label class="labelUp" id="<%=t('user.confirmation.email_field')%>" alt="<%=t('user.confirmation.email_field')%>"><%=t('user.confirmation.email_field')%> <span class="asterisco">*</span></label>
                <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "big" %>
              </div>
            </fieldset>
            <hr>
            <div class="button-group text-right">
              <%= f.submit t('user.confirmation.title'), class: "event-link big mb20" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>