body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  border: 0;
}
.gal-holder {
  display: block;
  overflow: hidden;
  padding: 20px;
}
.gal-holder .gal-item:first-child {
    float: left;
}
.gal-holder .gal-item {
    display: inline-block;
    width: 150px;
  overflow: hidden;
  position: relative;
  margin: 0 12px 12px 0;
}
.gal-holder .gal-item .gal-del {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  background: url(image_path('ckeditor/filebrowser/gal_del.png')) no-repeat left center;
  width: 17px;
  height: 17px;
}
.gal-holder .gal-item .preloader {
  background: url(image_path('ckeditor/filebrowser/preloader.gif')) no-repeat center center;
  width: 118px;
  height: 100px;
}
.gal-holder .gal-item .gal-del:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.gal-holder .gal-item .gal-upload-holder input {
  height: 162px;
}
.gal-holder .gal-item .gal-upload-holder .add:hover {
  text-decoration: underline;
}
.gal-holder .gal-item .gal-inner-holder, .gal-holder .gal-item .gal-upload-holder {
  display: block;
  margin: 6px 6px 0 0;
  overflow: hidden;
  padding: 12px;
  background: #fff;
  border: solid 1px #D3D3D3;
  min-height: 138px;
}
.gal-holder .gal-item .gal-inner-holder.hover {
    background: #DFF1FF;
    border: solid 1px #99CCFF;
}
.gal-holder .gal-item .gal-inner-holder.selected {
    background: #B4D9FF;
    border: solid 1px #6565FE;
}
.gal-holder .gal-item .gal-upload-holder .add {
  display: block;
  color: #2e5aff;
  background: url(image_path('ckeditor/filebrowser/gal_add.png')) no-repeat left center;
  padding-left: 33px;
  line-height: 25px;
  text-decoration: none;
  margin: 50px 0 0 10px;
  font-size: 14px;
}
.gal-holder .gal-item .gal-inner-holder .img {
  height: 100px;
  overflow: hidden;
  cursor:pointer;
}
.gal-holder .gal-item .gal-inner-holder .img-data {
  display: block;
  overflow: hidden;
  padding-top: 5px;
}
.gal-holder .gal-item .gal-inner-holder .img-data .img-name {
  display: block;
  color: #333;
  padding-bottom: 5px;
  font-size: 12px;
  overflow: hidden;
  width: 500px;
}
.img-name {
  word-wrap: break-word;
  width: auto !important;
}
.gal-holder .gal-item .gal-inner-holder .img-data .time-size {
  display: block;
  overflow: hidden;
  font-size: 10px;
  color: #666;
}
.gal-holder .gal-item .gal-inner-holder .img-data .time-size .time {
  display: block;
  float: left;
}
.gal-holder .gal-item .gal-inner-holder .img-data .time-size .size {
  display: block;
  float: right;
}
.gal-more {
  display: block;
  overflow: hidden;
  border-top: dashed 1px #d3d3d3;
  padding: 20px 0;
  text-align: center;
}
.gal-more a {
  color: #2e5aff;
  background: url(image_path('ckeditor/filebrowser/gal_more.gif')) no-repeat left center;
  padding-left: 15px;
  font-size: 14px;
  text-decoration: none;
}
.gal-more a:hover {
  text-decoration: underline;
}

// .pagination {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-weight: inherit;
//   font-style: inherit;
//   height: 40px;
//   text-align: center;
//   vertical-align: middle;
// }

// .pagination a {
//   height: 40px;
//   width: 50%;
//   padding-right: 5px;
//   padding-left: 5px;
//   text-decoration: none;

//   background: #f8f8f8;
//   border-color: #f5c002;
//   color: #000;

//   position: relative;
//   display: inline-block;
//   vertical-align: middle;
//   line-height: 40px;
//   font-weight: 400;
//   font-size: 13px;

//   padding: 0 20px;

//   box-sizing: border-box;
//   border: 1px solid #bcbcbc;
//   -webkit-border-radius: 2px;
//   -moz-border-radius: 2px;
//   -ms-border-radius: 2px;
//   -o-border-radius: 2px;
//   border-radius: 2px;
// }

// .pagination a:hover {
//   background: #fff;
// }
