<%= form_for(@rt_project_publishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_project_publishing})%>
  <p class="notes mb20">
    <%=t('project_publishing.presence').html_safe%>
  </p>
  <%= f.hidden_field :project_id %>
  <fieldset><legend>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ProjectPublishing.human_attribute_name(:notes) %>" alt="<%= Rt::ProjectPublishing.human_attribute_name(:notes) %>"><%= Rt::ProjectPublishing.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_field :notes, {class: 'all', 'aria-label' => Rt::ProjectPublishing.human_attribute_name(:notes)} %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ProjectPublishing.human_attribute_name(:description) %>" alt="<%= Rt::ProjectPublishing.human_attribute_name(:description) %>"><%= Rt::ProjectPublishing.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, {class: 'all', 'aria-label' => Rt::ProjectPublishing.human_attribute_name(:description)} %>
        </div>
      </div>
    </div></legend>
  </fieldset>
  <hr>
    <%= render partial: 'shared/addressInternetNT', locals: {f: f} %>
    <p class="notes mb20">
    *Si no se incluye ninguna dirección el Distrito será obligatorio.
    </p>
  <hr>
  <div class="button-group text-right pb80">
    <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel')  %>
    <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
  </div>
</div>
<% end %>
<br/>