<div class="container-fluid mt45">
  <div class="row">
    <div class="col-md-6">
      <% if @rt_project_publishing.notes %>
        <h2 class="titlePage"> <%=t('project_publishing.title')%>  <%= @rt_project_publishing.notes %></h2>
      <% else %>
        <h2 class="titlePage"><%= main_title(t("project_publishing.title", model: Rt::ProjectPublishing.model_name.human)) %></h2>
      <% end %>
    </div>
    <div class="col-md-6 text-right">
    </div>
  </div>
  <%= render 'form' %>
</div>