<%= form_for(@rt_activity_publishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_activity_publishing})%>
  <fieldset>
    <div class="row">
      <div class="col-md-9"><legend>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityPublishing.human_attribute_name(:name) %>" alt="<%= Rt::ActivityPublishing.human_attribute_name(:name) %>"><%= Rt::ActivityPublishing.human_attribute_name(:name) %> <span class="asterisco">*</span></label>
          <%= f.text_field :name, { class: 'all', 'aria-label' => Rt::ActivityPublishing.human_attribute_name(:name) } %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityPublishing.human_attribute_name(:description) %>" alt="<%= Rt::ActivityPublishing.human_attribute_name(:description) %>"><%= Rt::ActivityPublishing.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, { class: 'all', 'aria-label' => Rt::ActivityPublishing.human_attribute_name(:description)  } %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityPublishing.human_attribute_name(:organizer) %>" alt="<%= Rt::ActivityPublishing.human_attribute_name(:organizer) %>"><%= Rt::ActivityPublishing.human_attribute_name(:organizer) %> <span class="asterisco">*</span></label>
          <%= f.text_field :organizer, { class: 'all', 'aria-label' => Rt::ActivityPublishing.human_attribute_name(:organizer)} %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityPublishing.human_attribute_name(:dates_text_free) %>" alt="<%= Rt::ActivityPublishing.human_attribute_name(:dates_text_free) %>"><%= Rt::ActivityPublishing.human_attribute_name(:dates_text_free) %> <span class="asterisco">*</span></label>
          <%= f.text_area :dates_text_free, {class: "all", 'aria-label' =>Rt::ActivityPublishing.human_attribute_name(:dates_text_free)} %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityPublishing.human_attribute_name(:hours_text_free) %>" alt="<%= Rt::ActivityPublishing.human_attribute_name(:hours_text_free) %>"><%= Rt::ActivityPublishing.human_attribute_name(:hours_text_free) %> <span class="asterisco">*</span></label>
          <%= f.text_area :hours_text_free, { class: 'all', 'aria-label' => Rt::ActivityPublishing.human_attribute_name(:hours_text_free)} %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityPublishing.human_attribute_name(:places_text_free) %>" alt="<%= Rt::ActivityPublishing.human_attribute_name(:places_text_free) %>"><%= Rt::ActivityPublishing.human_attribute_name(:places_text_free) %> <span class="asterisco">*</span></label>
          <%= f.text_area :places_text_free, { class: 'all', 'aria-label' => Rt::ActivityPublishing.human_attribute_name(:places_text_free)} %>
        </div></legend>
      </div>
    </div>
  </fieldset>
</div>
<div class="button-group text-right pb80">
  <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel')  %>
  <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
</div>
<% end %>