
<ul class="row">
  <% unless @new_campaings.where(publicable: true).blank?%>
    <% @new_campaings.where(publicable: true).each do |campaing| %>
      <%if campaing.publicable %>
        <div class="actividadWrapper">
          <div class="row">
            <div class="col-sm-10 ">
                <h2 alt="<%= campaing.title %>">
                  <%= campaing.title %>
                </h2>
            </div>
            <div class="col-sm-2">
                <%= link_to  "Visualizar", new_campaing_path(campaing) ,  class: "event-link", alt: "Visualizar"%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else%>
  <div class="col-sm-12 text-center" style="margin: 20px">
   <h2><%= t('new_campaing.no_data')%></h2>
   </div>
  <% end %>
</ul>
