<div id="entidadessNoLoginWrapper" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-justify">
      <h2 class="titlePage"><%=@new_campaing.title.html_safe%></h2>
      <p><%=@new_campaing.body.html_safe%></p>
      <h3 style="margin-top: 50px"><%= t('new_campaing.images_videos')%></h3>
      <div class="wrapperColaborar">
        <div class="col-auto text-center" style="margin: 20px;">
            <% if @new_campaing.links.count > 0%>
                <% @new_campaing.links.each do |file|%>
                    <% if  !file.path .blank? %>
                        <% unless file.file_content_type.in?  %w(image/jpeg image/jpg image/png)%>
                            <%=video_tag  file.path  , width: 150, controls: true, autobuffer: true, onload: "resize($(this),'400')", style: "border: 1px solid gray"%> 
                        <%else%> 
                            <%= image_tag  file.path , height: 250, width: 250, onload: "resize($(this),'400')", style: "border: 1px solid gray", alt: file.file_file_name %>
                        <% end %>
                    <%end%>
                <%end %>
            <%else%>
                <%= t('new_campaing.no_galery') %>
            <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
