<%= form_for(@rt_volunteer_unsubscribe, default_form_options) do |f| %>
<div class="form form-electronic">
<%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteer_unsubscribe})%>
  <fieldset>
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="form-group ">
          <label class="labelUp" id="<%= Rt::VolunteerUnsubscribe.human_attribute_name(:project) %>" alt="<%= Rt::VolunteerUnsubscribe.human_attribute_name(:project) %>"><%= Rt::VolunteerUnsubscribe.human_attribute_name(:project) %> <span class="asterisco">*</span></label>
          <%= f.select :project_id, volunteer_projects_select_options(current_user.loggable_id),  class: 'medium'  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteerUnsubscribe.human_attribute_name(:notes) %>" alt="<%= Rt::VolunteerUnsubscribe.human_attribute_name(:notes) %>"><%= Rt::VolunteerUnsubscribe.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_area :notes, { class: 'all' } %>
        </div>
      </div>
    </div>
  </fieldset>

  <hr>
  <div class="button-group text-right pb80">
    <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel')  %>
    <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
  </div>
</div>


<% end %>
