<%= form_for(@rt_project_unpublishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_project_unpublishing})%>
  <p class="notes mb20">
    <%=t('project_unpublishing.presence').html_safe%>
  </p>

  <fieldset>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
         <label class="labelUp" id="<%= Rt::ProjectUnpublishing.human_attribute_name(:project_id) %>" alt="<%= Rt::ProjectUnpublishing.human_attribute_name(:project_id) %>"><%= Rt::ProjectUnpublishing.human_attribute_name(:project_id) %> <span class="asterisco">*</span></label>
          <%= f.select :project_id, entity_projects_select_options(current_user.loggable_id), { class: 'all' } %>
        </div>

        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ProjectUnpublishing.human_attribute_name(:notes) %>" alt="<%= Rt::ProjectUnpublishing.human_attribute_name(:notes) %>"><%= Rt::ProjectUnpublishing.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_area :notes, class: 'big all'  %>
        </div>
      </div>
    </div>
  </fieldset>

  <hr>
<div class="button-group text-right pb80">
  <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel')  %>
  <%= f.button t('application.submit'), class: 'event-link big', alt: t('action.submit') %>
</div>
</div>

<% end %>
