<div id="loginContainer" class="container-fluid" style="padding: 0px; background-color: rgba(0, 0, 0, 0.05)">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-sm-6">
    <div class="row" style="background-color: #fff">
      <div class="col-lg-9 col-md-12 col-sm-12 pull-right form-container">
        <h2><%=t('user.session.session')%></h2>

        <div class="form-group first">
          <label for="user_username"  title="Correo electrónico" alt="Correo electrónico" id="<%=t('user.session.email_and_tel')%>"><%=t('user.session.email_and_tel')%>(*)</label>
          <%= f.text_field :username, autofocus: false, 'aria-label' => t('user.session.email_and_tel') %>
        </div>

        <div class="form-group">
          <label for="user_password" id="<%=t('user.session.pass')%>"><%=t('user.session.pass')%></label>
          <%= f.password_field :password, autocomplete: "off", 'aria-label' => t('user.session.pass') %>
        </div>
        <div class="buttons">
          <%= render "users/shared/links" %>
          <button class="event-link big pull-right"><%=t('user.session.session')%></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="">
    <div class="row">
      <div class="col-lg-9 col-md-12 col-sm-12 pull-left form-container">
        <h2><%=t('user.session.dont_regist')%></h2>
        <%= link_to t('application.register_volunteer'), new_rt_volunteer_subscribe_path, class: "event-link negative dark" %>
        <br>
        <%= link_to t('application.register_entity'), new_entity_path, class: "event-link negative dark" %>
      </div>
    </div>
  </div>
  <% end %>
</div>