<%= form_for(@rt_other, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_other})%>
  <p class="notes mb20">
    <%=t('rt_other.presence').html_safe%>
  </p>
  <fieldset><legend>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::Other.human_attribute_name(:description) %>" alt="<%= Rt::Other.human_attribute_name(:description) %>"><%= Rt::Other.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, { class: 'all', 'aria-label' => Rt::Other.human_attribute_name(:description) } %>
        </div>
      </div>
    </div></legend>
  </fieldset>
  <div class="button-group text-right pb80">
    <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel')  %>
    <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
  </div>
</div>
<% end %>
<br/>