<%= form_for(@rt_volunteers_demand, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteers_demand})%>
  <p class="notes mb20">
    <%=t('volunteers_demand.presence').html_safe%>
  </p>

  <%= f.hidden_field :project_id %>
  <fieldset>
    <div class="row"><legend>
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:notes) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:notes) %>"><%= Rt::VolunteersDemand.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_field :notes, {class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:notes)} %>
        </div>
      </div></legend>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:description) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:description) %>"><%= Rt::VolunteersDemand.human_attribute_name(:description) %> <span class="asterisco">*</span></label>
          <%= f.text_area :description, { class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:description)} %>
        </div>
        <div class="form-group">
          <div class="form-group date-field">
            <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:execution_start_date) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:execution_start_date) %>"><%= Rt::VolunteersDemand.human_attribute_name(:execution_start_date) %> <span class="asterisco">*</span></label>
            <%= f.text_field :execution_start_date, :class => "form-control small", 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:execution_start_date) %>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group date-field">
            <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:execution_end_date) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:execution_end_date) %>"><%= Rt::VolunteersDemand.human_attribute_name(:execution_end_date) %><span class="asterisco">*</span></label>
            <%= f.text_field :execution_end_date, :class => "form-control small", 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:execution_end_date)%>
          </div>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:requested_volunteers_num) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:requested_volunteers_num) %>"><%= Rt::VolunteersDemand.human_attribute_name(:requested_volunteers_num) %> <span class="asterisco">*</span></label>
          <%= f.text_field :requested_volunteers_num, { class: 'medium', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:requested_volunteers_num)} %>
        </div>
      </div>
    </div>
  </fieldset>
  <hr>
  <fieldset>
    <div class="row"><legend>
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:volunteers_profile) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:volunteers_profile) %>"><%= Rt::VolunteersDemand.human_attribute_name(:volunteers_profile) %> <span class="asterisco">*</span></label>
          <%= f.text_field :volunteers_profile, { class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:volunteers_profile)} %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_1) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_1) %>"><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_1) %> <span class="asterisco">*</span></label>
          <%= f.text_field :volunteer_functions_1, { class: 'all', 'aria-label' =>  Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_1)} %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_2) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_2) %>"><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_2) %> </label>
          <%= f.text_field :volunteer_functions_2, { class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_2)} %>
        </div>
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_3) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_3) %>"><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_3) %></label>
          <%= f.text_field :volunteer_functions_3, { class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_3)} %>
        </div>
         <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_4) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_4) %>"><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_4) %></label>
          <%= f.text_field :volunteer_functions_4, { class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_4) } %>
        </div>
         <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_5) %>" alt="<%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_5) %>"><%= Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_5) %></label>
          <%= f.text_field :volunteer_functions_5, { class: 'all', 'aria-label' => Rt::VolunteersDemand.human_attribute_name(:volunteer_functions_5)} %>
        </div>
      </div></legend>
    </div>
  </fieldset>
  <hr>
  <label class="labelUp" id="<%=Rt::VolunteersDemand.human_attribute_name(:address)%>" alt="<%=Rt::VolunteersDemand.human_attribute_name(:address)%>"><%=Rt::VolunteersDemand.human_attribute_name(:address)%></label>
  <br><br>
  <%= render partial: 'shared/addressInternetNT', locals: {f: f,rt_volunteers_demand: true} %>
</div>
<hr>
<div class="button-group text-right">
  <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel') %>
  <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
</div>
<% end %>
<br/>