<div class="container-fluid mt45">
  <div class="row">
    <div class="col-md-6">
      <% if @rt_volunteers_demand.notes %>
        <h2 class="titlePage"><%=t('volunteers_demand.title')%>  <%= @rt_volunteers_demand.notes %></h2>
      <% else %>
          <h2 class="titlePage"><%= main_title(t("volunteers_demand.title", model: Rt::VolunteersDemand.model_name.human)) %></h2>
      <% end %>
    </div>
    <div class="col-md-6 text-right">
    </div>
  </div>
  <%= render 'form' %>
</div>