<div class="buttons">
  <ul class="list-inline">
    <%- if controller_name != 'sessions' %>
      <%= link_to t('user.link.action'), new_session_path(resource_name), class: "button button4 button-icon" %><br/>
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to t('user.link.forgot_pass'), new_password_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to t('user.link.dont_unlock'), new_unlock_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "#{t('user.link.sign_in')} #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
    <% end -%>
  </ul>
</div>


