<div class="col-md-9">
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:contact_name) %>" alt="<%= Entity.human_attribute_name(:contact_name) %>"><%= Entity.human_attribute_name(:contact_name) %> <span class="asterisco">*</span></label>
    <%= f.text_field :contact_name, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:contact_name)} %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:contact_last_name) %>" alt="<%= Entity.human_attribute_name(:contact_last_name) %>"><%= Entity.human_attribute_name(:contact_last_name) %><span class="asterisco">*</span></label>
    <%= f.text_field :contact_last_name, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:contact_last_name) } %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:contact_last_name_alt) %>" alt="<%= Entity.human_attribute_name(:contact_last_name_alt) %>"><%= Entity.human_attribute_name(:contact_last_name_alt) %> </label>
    <%= f.text_field :contact_last_name_alt, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:contact_last_name_alt) } %>
    </div>
</div>
<div class="col-md-9">
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:representative_name) %>" alt="<%= Entity.human_attribute_name(:representative_name) %>"><%= Entity.human_attribute_name(:representative_name) %> <span class="asterisco">*</span></label>
    <%= f.text_field :representative_name, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:representative_name) } %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:representative_last_name) %>" alt="<%= Entity.human_attribute_name(:representative_last_name) %>"><%= Entity.human_attribute_name(:representative_last_name) %> <span class="asterisco">*</span></label>
    <%= f.text_field :representative_last_name, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:representative_last_name) } %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:representative_last_name_alt) %>" alt="<%= Entity.human_attribute_name(:representative_last_name_alt) %>"><%= Entity.human_attribute_name(:representative_last_name_alt) %> </label>
    <%= f.text_field :representative_last_name_alt, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:representative_last_name_alt) } %>
    </div>
</div>
<div class="col-md-9">
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:phone_number) %>" alt="<%= Entity.human_attribute_name(:phone_number) %>"><%= Entity.human_attribute_name(:phone_number) %> <span class="asterisco">*</span></label>
    <%= f.text_field :phone_number, { class: 'small', 'aria-label' => Entity.human_attribute_name(:phone_number) } %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:phone_number_alt) %>" alt="<%= Entity.human_attribute_name(:phone_number_alt) %>"><%= Entity.human_attribute_name(:phone_number_alt) %> </label>
    <%= f.text_field :phone_number_alt, { class: 'small', 'aria-label' => Entity.human_attribute_name(:phone_number_alt) } %>
    </div>
</div>