<div class="col-md-12">
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:email) %>" alt="<%= Entity.human_attribute_name(:email) %>"><%= Entity.human_attribute_name(:email) %> <span class="asterisco">*</span></label>
    <%= f.text_field :email, { class: 'big', 'aria-label' => Entity.human_attribute_name(:email) } %>
    </div>
    <%= f.fields_for(:user_attributes, @entity.user) do |f_u| %>
        <div class="form-group">
        <label class="labelUp" id="<%= User.human_attribute_name(:password) %>" alt="<%= User.human_attribute_name(:password) %>"><%= User.human_attribute_name(:password) %><span class="asterisco">*</span></label>
        <%= f_u.password_field :password, autocomplete: "off" , class:  "medium" , style: "width: 300px;", placeholder: t('entity.placeholder.pass'), 'aria-label' => User.human_attribute_name(:password)%>
        </div>
        <div class="form-group">
        <label class="labelUp" id="<%= User.human_attribute_name(:password_confirmation) %>" alt="<%= User.human_attribute_name(:password_confirmation) %>"><%= User.human_attribute_name(:password_confirmation) %><span class="asterisco">*</span></label>
        <%= f_u.password_field :password_confirmation, autocomplete: "off",placeholder: t('entity.placeholder.confirm_pass'), class:  "medium", 'aria-label' => User.human_attribute_name(:password_confirmation) %>
        </div>
    <% end %>
</div>