<div class="container-fluid mt45">
  <div class="row">
    <div class="col-md-6">
      <h2 class="titlePage"><%=t('entity.title')%></h2>
    </div>
  </div>
  <%= form_for(@entity) do |f| %>
    <%= f.invisible_captcha :subtitle %>
    <div class="form form-electronic">
      <%= render(partial: 'shared/errors', locals: {model_name: @entity})%>
      <fieldset>
        <p class="notes mb20"><%=t('entity.content.presence_field').html_safe%></p>
        <p class="notes mb20"><%=t('entity.content.alert_pass')%></p>
        <div class="row" style="border-top: 0.1rem solid;padding-top: 3rem">
          <%= render partial: "entities/credentials", locals: {f: f, model_name: @entity} %>
        </div>
        <div class="row">
          <%= render partial: "entities/general_data", locals: {f: f} %>
        </div>
        <div class="row">
          <%= render partial: "entities/contact_info", locals: {f: f} %>
        </div>
        <%= f.fields_for(:address_attributes, @entity.address) do |f_a| %>
          <%= render partial: 'shared/addressInternet', locals: {f: f_a } %>
        <% end %>
      </fieldset>
      <%= render partial: 'shared/protection', locals: {f: f} %>
    </div>
    <div class="button-group text-right pb90">
      <%= link_to t('entity.register_yet'), new_user_session_path, class: "link", alt: t('entity.register_yet') %>
      <%= f.button t('application.submit'), :class => 'event-link big', :value => t('action.register'), alt: t('application.submit') %>
    </div>
  <% end %>
</div>