<div class="col-md-12">
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:name) %>" alt="<%= Entity.human_attribute_name(:name) %>"><%= Entity.human_attribute_name(:name) %><span class="asterisco">*</span></label>
    <%= f.text_field :name, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:name) } %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:entity_type_id) %>" alt="<%= Entity.human_attribute_name(:entity_type_id) %>"><%= Entity.human_attribute_name(:entity_type_id) %><span class="asterisco">*</span></label>
    <%= f.select :entity_type_id, entity_types_select_options, {include_blank: "", selected: f.object.entity_type_id || ""}, { class: 'medium', 'aria-label' => Entity.human_attribute_name(:entity_type_id)} %>
    </div>
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:vat_number) %>" alt="<%= Entity.human_attribute_name(:vat_number) %>"><%= Entity.human_attribute_name(:vat_number) %> <span class="asterisco">*</span></label>
    <%= f.text_field :vat_number, { class: 'small', 'aria-label' => Entity.human_attribute_name(:vat_number)} %>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:req_reason_id) %>" alt="<%= Entity.human_attribute_name(:req_reason_id) %>"><%= Entity.human_attribute_name(:req_reason_id) %> <span class="asterisco">*</span></label>
    <%= f.select :req_reason_id, request_reasons_select_options, {include_blank: "", selected: f.object.req_reason_id || ""}, { 'aria-label' =>Entity.human_attribute_name(:req_reason_id)} %>
    </div>
    <div class="form-group" id="other_motive">
    <label class="labelUp" id="<%= Entity.human_attribute_name(:other_subscribe_reason) %>" alt="<%= Entity.human_attribute_name(:other_subscribe_reason) %>"><%= Entity.human_attribute_name(:other_subscribe_reason) %> <span class="asterisco">*</span></label>
    <%= f.text_field :other_subscribe_reason, { class: 'big', 'aria-label' => Entity.human_attribute_name(:other_subscribe_reason)} %>
    </div>
</div>