<% content_for :title, t('entity.main_title').html_safe %>
<% content_for :description, t('entity.description').html_safe %>
<div id="entidadessNoLoginWrapper" class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-justify">
      <h2 class="titlePage" alt="<%=t('entity.generic.title')%>"><%=t('entity.generic.title')%></h2>
      <p><%=t('entity.generic.content_title')%></p>
      <div class="wrapperColaborar">
        <%=t('entity.generic.content_body').html_safe%>
        <% if !current_user || current_user.loggable_type == "Volunteer" %>
        <%= link_to t('application.register_entity'), new_entity_path, class: "event-link big", alt: t('application.register_entity')%>
        <% end %>
      </div>
    </div>
  </div>
</div>