<%= form_for(@rt_volunteer_amendment, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteer_amendment})%>
  <p class="notes mb20">
    <%=t('volunteer_amendment.presence').html_safe%>
  </p>
  <fieldset>
    <div class="row">
      <div class="col-md-9"><legend>
        <div class="form-group">
          <label class="labelUp" id="<%= Rt::VolunteerAmendment.human_attribute_name(:email) %>" alt="<%= Rt::VolunteerAmendment.human_attribute_name(:email) %>"><%= Rt::VolunteerAmendment.human_attribute_name(:email) %> <span class="asterisco">*</span></label>
          <%= f.text_field :email, style: "width: 350px;", 'aria-label' => Rt::VolunteerAmendment.human_attribute_name(:email) %>
        </div>
        <div class="form-group">
          <label class="labelUp" id="<%= Rt::VolunteerAmendment.human_attribute_name(:phone_number) %>" alt="<%= Rt::VolunteerAmendment.human_attribute_name(:phone_number) %>"><%= Rt::VolunteerAmendment.human_attribute_name(:phone_number) %> <span class="asterisco">*</span></label>
          <%= f.text_field :phone_number, 'aria-label' => Rt::VolunteerAmendment.human_attribute_name(:phone_number) %>
        </div>
        <div class="form-group">
          <label class="labelUp" id="<%= Rt::VolunteerAmendment.human_attribute_name(:phone_number_alt) %>" alt="<%= Rt::VolunteerAmendment.human_attribute_name(:phone_number_alt) %>"><%= Rt::VolunteerAmendment.human_attribute_name(:phone_number_alt) %> </label>
          <%= f.text_field :phone_number_alt, 'aria-label' => Rt::VolunteerAmendment.human_attribute_name(:phone_number_alt) %>
        </div></legend>
      </div>
    </div>
  </fieldset>
  <%= render partial: 'shared/addressInternetNT', locals: {f: f} %>
</div>
<hr>
<div class="button-group text-right">
  <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel') %>
  <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit')  %>
</div>
<% end %>
<br/>