<div class="mc-acceso nofluid">
  <%= form_for(resource ) do |f| %>
  <% if resource.errors.any? %>
  <div id="errores" class="nofluid">
    <div class="info-seccion">
      <div class="modal-alert modal-error">
        <h2 class="title-modal"><%=t('user.edit.error')%></h2>
        <!--            <a href="#" onclick='closeErrores()' class="close" title="<%= t("application.close") %>">&times;</a>-->
        <h2><%= pluralize(resource.errors.count, "error") %> </h2>
        <ul>
          <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <%= f.hidden_field :reset_password_token %>
  <p class="notes">
   <%=t('user.edit.presence').html_safe%>
  </p>
  <div class="panel panel-type1">
    <div class="panel-heading">
      <h3 class="panel-title"><%=t('user.edit.title')%></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-xs-6 col-md-12">
          <div class="mc-acceso-item login">
            <div class="content">
              <h4 class="legend legend-user"><%=t('user.edit.data')%></h4>
              <br/>
              <div class="form-group">
                <span class="labelUp"><%=t('user.edit.pass_field')%> <span class="asterisco">*</span></span>
                <!-- <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña" /> -->
                <%=f.label :password%>
                <%= f.password_field :password, autocomplete: "off" ,:maxlength => 8, class:  "form-control" ,placeholder: t('user.edit.placeholder_pass'), 'aria-label' => t('user.edit.pass_field') %>
              </div>
              <div class="form-group">
                <span class="labelUp"><%=t('user.edit.confirm_field')%> <span class="asterisco">*</span></span>
                <!-- <input type="password" class="form-control" id="contrasenia" name="contrasenia" placeholder="Contraseña" /> -->
                <%= f.password_field :password_confirmation, autocomplete: "off",:maxlength => 8,placeholder:t('user.edit.placeholder_confirm'), class:  "form-control" %>
              </div>
              <div class="buttons">
                <button class="button button4 button-icon"><%=t('user.edit.action')%> <i class="button-icon-arrowright"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>