<%= javascript_pack_tag 'address' %>
<div class="js-address">
  <div class="address-fields col-md-12">
    <div class="row row-4-1">
      <% normalize = f.object.normalize %>
      <%= f.check_box :normalize, class: 'js-normalize'  %>
    </div>
  </div>
  <div class="address-fields col-md-12">
    <fieldset>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:country) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:country) %>"><%= Rt::EntitySubscribe.human_attribute_name(:country) %> <span class="asterisco">*</span></label>
        <%= f.text_field :country, as: :string,  value: ("ESPAÑA" ), readonly: true, class: 'js-country'%>
      </div>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:province) %>"><%= Rt::EntitySubscribe.human_attribute_name(:province) %> <span class="asterisco">*</span></label>
        <%= f.select :province, provinces_select_options, {include_blank: "", selected: "MADRID"},  class: 'js-province' %>
      </div>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:town) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:town) %>"><%= Rt::EntitySubscribe.human_attribute_name(:town) %> <span class="asterisco">*</span></label>
        <%= f.text_field :town, data: { 'js-search-towns-url' => bdc_search_towns_addresses_url }, class: 'js-town' %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_type) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_type) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_type) %> <span class="asterisco">*</span></label>
        <%= f.select :road_type, road_types_select_options, {include_blank: "", selected: ""},  class: 'small'  %>
      </div>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_name) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_name) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_name) %> <span class="asterisco">*</span></label>
        <%= f.text_field :road_name, class: 'js-road_name', data: { 'js-search-road-names-url' => bdc_search_roads_addresses_url } %>
      </div>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_number_type) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_number_type) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_number_type) %> <span class="asterisco">*</span></label>
        <%= f.text_field :road_number_type, class: 'm-width250 js-road_number_type', readonly: normalize  %>
      </div>
      <div class="form-group">
        <% if !normalize %>
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_number) %> <span class="asterisco">*</span></label>
        <%= f.text_field :road_number, collection: [f.object.road_number || ''],  class: 'm-width250 js-road_number-select'%>
        <% end %>
      </div>
      <div class="form-group">
        <% if normalize %>
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_number) %> <span class="asterisco">*</span></label>
        <%= f.text_field :road_number, class: 'm-width250 js-road_number-input', data: { 'js-search-road-numbers-url' => bdc_search_road_numbers_addresses_url }%>
        <% end %>
      </div>
      <div class="form-group">
        <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %>"><%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %> <span class="asterisco">*</span></label>
        <%= f.text_field :postal_code, class: 'js-postal_code', readonly: normalize, data: { mask: '99999'} , wrapper_html: { class: 'postal_code col-md-3' } %>
      </div>
    </fieldset>
    <div class="form-group">
      <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:grader) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:grader) %>"><%= Rt::EntitySubscribe.human_attribute_name(:grader) %> <span class="asterisco">*</span></label>
      <%= f.text_field :grader, class: 'm-width80 js-grader', readonly: normalize , wrapper_html: { class: 'col-md-3' } %>
    </div>
    <div class="row row-4-3">
      <%= f.text_field :stairs,  class: 'm-width250 js-stairs'  %>
      <%= f.text_field :floor,  class: 'm-width250 js-floor'  %>
      <%= f.text_field :door,  class: 'm-width250 js-door'  %>
    </div>
  </div>
</div>