<fieldset>
    <legend>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_type) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_type) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_type) %> <span class="asterisco">*</span></label>
                    <%= f.select :road_type, road_types_select_options, {include_blank: "", selected: f.object.road_type || ""},  {class: 'small', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:road_type)}  %>
                </div>
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_name) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_name) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_name) %> <span class="asterisco">*</span></label>
                    <%= f.text_field :road_name, { class: 'big', 'aria-label' =>  Rt::EntitySubscribe.human_attribute_name(:road_name) } %>
                </div>
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_number_type) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_number_type) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_number_type) %><span class="asterisco">*</span></label>
                    <%= f.select :road_number_type, number_types_select_options, {include_blank: "", selected: f.object.road_number_type || ""},  {class: 'small', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:road_number_type)} %>
                </div>
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_number) %> <span class="asterisco">*</span></label>
                    <%= f.text_field :road_number, { class: 'small', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:road_number) }  %>
                </div>
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %>"><%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %><span class="asterisco">*</span></label>
                    <%= f.text_field :postal_code, { class: 'small', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:postal_code) } %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:province) %>"><%= Rt::EntitySubscribe.human_attribute_name(:province) %> <span class="asterisco">*</span></label>
                    <%= f.select :province_id, provinces_select_options, {include_blank: "", selected:f.object.province || ""},  {class: 'medium', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:province)} %>
                </div>
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:town) %>"><%= Rt::EntitySubscribe.human_attribute_name(:town) %><span class="asterisco">*</span></label>
                    <%= f.text_field :town, { class: 'medium', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:town) } %>
                </div>
            </div>
        </div>
    </legend>
</fieldset>