<% if current_user.loggable_type=="Entity" && !(local_assigns.has_key? :rt_volunteers_demand)
    span=""
else 
    span="*" 
end%> 

<fieldset>
    <div class="row">
        <div class="col-md-9"><legend>
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_type) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_type) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_type) %> <span class="asterisco"><%=span%></span></label>
                <%= f.select :road_type, road_types_select_options, {include_blank: "", selected: f.object.road_type || ""},  {class: 'small', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:road_type)}  %>
            </div>
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_name) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_name) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_name) %> <span class="asterisco"><%=span%></span></label>
                <%= f.text_field :road_name, { class: 'big' , 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:road_name)} %>
            </div>
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:number_type) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:number_type) %>"><%= Rt::EntitySubscribe.human_attribute_name(:number_type) %><span class="asterisco"><%=span%></span></label>
                <%= f.select :number_type, number_types_select_options, {include_blank: "", selected: f.object.number_type || ""}, {class: 'small', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:number_type)} %>
            </div>
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:road_number) %>"><%= Rt::EntitySubscribe.human_attribute_name(:road_number) %> <span class="asterisco"><%=span%></span></label>
                <%= f.text_field :road_number, { class: 'small' , 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:road_number)}  %>
            </div>
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %>", alt="<%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %>"><%= Rt::EntitySubscribe.human_attribute_name(:postal_code) %><span class="asterisco"><%=span%></span></label>
                <%= f.text_field :postal_code, { class: 'small' , 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:postal_code)} %>
            </div>
            <% if current_user.loggable_type=="Entity" %>
                <div class="form-group">
                    <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:district) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:district) %>"><%= Rt::EntitySubscribe.human_attribute_name(:district) %> </label>
                    <%= f.select :district_id, @hash_district||{},{include_blank: "", selected: f.object.district_id || ""}, {'aria-label' => Rt::EntitySubscribe.human_attribute_name(:district)}%>
                </div>
            <% end%></legend> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:province) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:province) %>"><%= Rt::EntitySubscribe.human_attribute_name(:province) %> <span class="asterisco"><%=span%></span></label>
                <%= f.select :province_id, provinces_select_options, {include_blank: ""}, { class: 'medium', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:province)} %>
            </div>
            <div class="form-group">
                <label class="labelUp" id="<%= Rt::EntitySubscribe.human_attribute_name(:town) %>" alt="<%= Rt::EntitySubscribe.human_attribute_name(:town) %>"><%= Rt::EntitySubscribe.human_attribute_name(:town) %><span class="asterisco"><%=span%></span></label>
                <%= f.text_field :town, { class: 'medium', 'aria-label' => Rt::EntitySubscribe.human_attribute_name(:town)} %>
            </div>
        </div>
    </div>
</fieldset>