<%if !areas.blank?%>
    <% areas.each do |area| %>
        <span class="tag"><i class="fa <%= area.description %>" aria-hidden="true"></i><%= area.name.capitalize %></span>
    <%end%>
<%else%>
    <% areas.each do |area| %>
        <span class="tag"><i class="fa <%= area.description %>" aria-hidden="true"></i><%= area.name.capitalize %></span>
    <%end%>
<%end%>