<% if model_name.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div id="errores" class="nofluid">
        <div>
          <h2 class="title-modal"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          <% if model_name.errors.count >1%>
            <span><%=t('shared.errors',num: model_name.errors.count)%></span></h2>
          <% else%>
            <span><%=t('shared.error',num: model_name.errors.count)%></span></h2>
          <%end%>
          <ul>
            <% model_name.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>