<style>
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background: rgba(255, 102, 0, 0.7);
    border-color: #fc4f08;
    color: #1d1d1d;
    }

  .pagination > li > a, .pagination > li > span, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
  color: #fc4f08;
    }
</style>
<div class="pagination-container">
  <ul class='list-inline'>
    <li class="pull-left"><%= will_paginate(collection, renderer: BootstrapPagination::Rails, params: local_assigns[:params]) %></li>
  </ul>
</div>