<div id="participation">
  <% if current_user && current_user.loggable.class=="Entity" %>
    <%= link_to t('volunteer_subscribe.interest'), projects_path(@project.id), class: "event-link " %>
  <% else %>
    <span> <%= t('volunteer_subscribe.participation') %> <%= link_to t('devise_views.sessions.new.submit'), new_user_session_path, alt: t('devise_views.sessions.new.submit') %> o <%= link_to t('volunteer_subscribe.new'), new_rt_volunteer_subscribe_path, alt: t('volunteer_subscribe.new') %></span>
  <% end %>
</div>
<br>