<% if !current_user.blank? %>  
  <li class="areaT">
    <i class="fa fa-user" style="color: #FF6600"></i> <%= link_to t('shared.personal_area'), user_path(current_user.id), alt: t('shared.personal_area') %>
  </li>
<% end %>