<a href="javascript:window.print();" id="print_link" 
    class="button warning tiny radius right event-link" alt="<%= t("shared.print.print_button") %>">
    <%= t("shared.print.print_button") %>
</a>

