<div id="legalWrapper">
  <%if controller_name!='entities'%>    
    <%=@component.try(:content).to_s.html_safe%>
    <h4 style="margin-top: 50px"><%=t('shared.protection.data')%></h4>
    <div class="checkCustom">
      <%= check_box_tag :terms_of_service, {'aria-label' => t('shared.protection.data')} %>
      <label id="<%=t('shared.protection.data')%>" for="terms_of_service"></label>
    </div>
    <span class="labelCheck textCheckbox">
      <%= t("devise_views.users.registrations.new.protection_data_accept").html_safe %>
    </span>
  <%else%>
    <%=@component.try(:content).to_s.html_safe%>
  <%end%>
</div>