<div class="row">
  <div class="col-md-12">
    <% if records.current_page * Kaminari.config.default_per_page < num_records %>
      <p id="view-more">
        <%= link_to(t('shared.show_more'), url_for(page: records.current_page + 1), {:remote => true, alt: t('shared.show_more')}) %>
      </p>
    <% end%>
  </div>
</div>