<div class="row">
  <div class="col-md-12">
    <% if records.current_page != records.total_pages && records.current_page < records.total_pages %>
    <p id="view-more">
      <%= link_to(t('shared.show_more'), url_for(page: records.current_page + 1), {:remote => true}), alt: t('shared.show_more') %>
    </p>
    <% end%>
  </div>
</div>