<%= form_for(@rt_volunteer_appointment, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteer_appointment})%>
  <p class="notes mb20">
    <%=t('volunteer_appointment.presence').html_safe%>
  </p>
  <fieldset>
    <div class="row"><legend>
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::VolunteerAppointment.human_attribute_name(:notes) %>" alt="<%= Rt::VolunteerAppointment.human_attribute_name(:notes) %>"><%= Rt::VolunteerAppointment.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_area :notes, {class: 'all', 'aria-label' => Rt::VolunteerAppointment.human_attribute_name(:notes)} %>
        </div>
      </div></legend>
    </div>
  </fieldset>
</div>
<hr>
<div class="button-group text-right">
  <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel') %>
  <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
</div>
<% end %>
<br>