<section id="activities" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="titlePage"><%=c.title%> <div class="right"><%= link_to t('action.show_activity'), activities_path, class: "event-link negative rightChev", alt: t('action.show_activity') %></div></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row" style="padding: 0px;overflow-x:auto;">   
        <table class="table table-striped" style="width: 100%">
          <thead><tr><%=get_week_first_monday%></tr></thead>
          <tbody><%=get_days_month_range(@current_date_calendar, @activities_unpag, {})%></tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-12">
          <div style="height: 1rem;width: 1rem; border-radius: 100%;background: rgba(255, 102, 0, 1);float: left;padding: 0.8rem;margin-right: 1rem;"></div> Eventos
        </div>
        <div class="col-12">
          <div style="height: 1rem;width: 1rem; border-radius: 100%;background: #FFA200;float: left;padding: 0.8rem;margin-right: 1rem;"></div> Día actual
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="activities">
        <%if @activities_search.count.to_i == 0%>
          <h4><%=t('welcome.not_activity') %></h4>
        <%elsif @activities_search.count.to_i == 1 %>
          <h4><%=t('welcome.next_activity') %></h4>
        <%else%>
          <h4><%=t('welcome.next_activities',num_activities:@activities_search.count) %></h4>
        <%end%>

        <div class="col-md-12" style="margin-top: 1rem">
          
          <div class="row" style="overflow: auto;">
            <% @activities.each do |activity|%>
              <div class="col-12">
                <%=render partial: 'activities/activity', locals: {activity: activity}%>
              </div>
            <%end%>
          </div>      
          <div class ="row">
            <div class="col">
              <%= render partial: "shared/pagination", locals: {collection: @activities} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>