
<section id="mapWrapper" class="container-fluid nopadding">
  <div class="row">
    <h2 class="col-md-12 titlePage" style="text-align:left"><%=c.title%></h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="map"> </div>
        <% i=0
          Activity.all.each do |activity| 
            activity.addresses.each do |address|
              coords = get_latitude_and_longitude(address)%>
              
            <%= javascript_tag do %>
              <%if !coords.blank?%>
               coords_convert(<%=coords[:latitude]%>,<%=coords[:longitude]%>,"<%=asset_path('project_yellow.png').to_s%>",<%=i%>,{"id":<%=activity.id%>,"name": "<%=activity.name%>"},'activity');
              
              <% i=i+1 %>
              <%end%>
            <% end %>
          <%end%>
        <%end%>
    </div>
  </div>
</section>

<div id="project_urgent">
<% if @project_urgent.size > 0 %>
  <% content_for :head do %>
    <% @project_urgent.each do |project| %>
      <div class="urgenteWrapper">
        <style type="text/css">
            .parpadea { 

                animation-name: parpadeo; 
                animation-duration: 1s; 
                animation-timing-function: linear; 
                animation-iteration-count: infinite; 
              
                -webkit-animation-name:parpadeo; 
                -webkit-animation-duration: 1s; 
                -webkit-animation-timing-function: linear; 
                -webkit-animation-iteration-count: infinite; 
            } 
              
              @-moz-keyframes parpadeo{   
                0% { opacity: 1.0; } 
                50% { opacity: 0.5; } 
                100% { opacity: 1.0; } 
              } 
              
              @-webkit-keyframes parpadeo {   
                0% { opacity: 1.0; } 
                50% { opacity: 0.5; } 
                100% { opacity: 1.0; } 
              } 
              
              @keyframes parpadeo {   
                0% { opacity: 1.0; } 
                50% { opacity: 0.5; } 
                100% { opacity: 1.0; } 
              }
        </style>
          <% if project.urgent %> 
            <p class="parpadea text-left" style="padding: 10px; text-transform:uppercase; background: #ff6600; color: white; font-weight: bold; font-size: 20px;"><%=t('project.urgent')%></p> 
          <%end%>
        <h2><%=  project.name %></h2>
        <p> <%= truncate(strip_tags(project.description), length: 180, :escape => false).html_safe %></p>
        <i><%= link_to  "" , project_path(project), class: "fa fa-chevron-right" %> </i>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>