<section id="projects" class="container-fluid">
  <div class="row">
    <div id="projects" class="col-md-12">
      <h2 class="titlePage"><%=c.title%> <div class="right"><%= link_to t('action.show_project'), projects_path, class: "event-link negative rightChev", alt: t('action.show_project') %></div></h2>
      <ul class="row destacadosWrapperHome">
        <%= render partial: 'projects/project', locals: { records: @projects_featured }  %>
      </ul>
    </div>
  </div>
</section>