<section id="rrss">
  <div class="row">
    <h2 class="col-md-12 titlePage" style="text-align:left"><%=c.title%></h2>
  </div>
  <div class="row timelines">
    <label id="timeline_twitter" class="col-md-6">
      <a class="twitter-timeline" data-lang="es" data-width="100%" data-height="400" href="https://twitter.com/voluntmadrid">Tweets de Voluntarios por Madrid</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </label>
    <label id="timeline_facebook"  class="col-md-6">
      <iframe name="facebook" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpg%2Fvoluntariospormadrid%2Fposts%2F%3Fref%3Dpage_internal&tabs=timeline&small_header=false&hide_cover=false&show_facepile=true&appId" width="100%" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </label>
  </div>
</section>