<section id="actividadesHome" class="container-fluid">
  <div class="row">
    <h2 class="col-md-12 titlePage" style="text-align:left"><%=c.title%></h2>
  </div>
  <div class="row" style="margin-bottom: 20px">
    <h3 class="col-md-2 text-center"><%=t('welcome.volunteers_active')%></h3>
    <h3 class="col-md-2 text-center"><%=t('welcome.projects_active')%></h3>
    <h3 class="col-md-3 text-center"><%=t('welcome.participation_percent')%></h3>
    <h3 class="col-md-5 text-center"><%=t('welcome.areas_percent')%></h3>
  </div>
  <div class="row" style="margin-bottom: 20px">
    <h4 class="col-md-2 text-center" style="font-size:4em; color:#ff6600">
      <span class="Count"><%= Volunteer.all_active %></span>
      <script>
        $('.Count').each(function () {
          var $this = $(this);
          jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
            duration: 5000,
            easing: 'swing',
            step: function () {
              $this.text(Math.ceil(this.Counter));
            }
          });
        });
      </script>
    </h4>
    <h4 class="col-md-2 text-center" style="font-size:4em; color:#ff6600">
      <span class="counter2"><%= Project.all_active %></span>
        <script>
          $('.counter2').each(function () {
            var $this = $(this);
            jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
              duration: 5000,
              easing: 'swing',
              step: function () {
                $this.text(Math.ceil(this.Counter));
              }
            });
          });
        </script>
    </h4>
    <div class="col-md-3">
      <%= pie_chart @participation_projects.map {|pp| [ t("pt_extend.#{pp.subtype_pt.blank? ? 'other' : pp.subtype_pt}"),  pp.total]}, library:{animation:{easing: 'easeOutQuad',duration: 5000}} %>
    </div>
    <div class="col-md-5">
      <%= pie_chart @areas_percent, library:{animation:{easing: 'easeOutQuad',duration: 5000}} %>
    </div>
  </div>
</section>