<%= javascript_tag do %>
  var locations = <%= raw @locations.to_json %>;
  var project = true;
  var url_map = "<%= Rails.application.secrets.url_map %>";
  var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
  var list_days = <%= raw @list_days.to_json %>;
  var lock = true;
  var day_c = ""
<% end %>

<script  src="https://www.gstatic.com/charts/loader.js"></script>
<div id="contents_for_welcome">
  <% content_for :title, t('welcome.main_title').html_safe, alt: t('welcome.main_title').html_safe? %>
  <% content_for :description, t('welcome.description').html_safe, alt: t('welcome.description').html_safe? %>
</div>
<div class="section-cont">
  <h2 class="section-name">
  <span class="section-name-title">
    <%=@component_home.try(:title)%>
  </span>
  </h2>
</div>

<%@components.each do |c|%>
  <%= render 'projects', c: c if c.denomination == 'Proyectos destacados'%>
  <%= render 'statistics', c: c if c.denomination == 'Estadísticas de la comunidad'%>
  <%= render 'agends', c: c if c.denomination == 'Agenda de actividades solidarias'%>
  <%= render 'rrss', c: c if c.denomination == 'Redes sociales'%>
  <%= render 'map', c: c if c.denomination == 'Mapa'%>
<%end%>


