<style>
h3{
  margin: 4rem 0;
  }
h2{
  margin: 3rem 0;
}
p{
  margin: 1rem 0;
}
ul {
  margin-left: 4rem
}
</style>
<% content_for :title, @component.try(:title) %>
<% content_for :description, @component.try(:content).to_s.html_safe %>
<div class="container-fluid">
  <div class="row">
    <div class="text col-12" style="margin: 5rem 0">
      <h1 class="titlePage"><%=@component.try(:title)%></h1>
      <%=@component.try(:content).to_s.html_safe%>
    </div>
  </div>
</div>