

<div class="container-fluid mt45">
  <div class="row">
    <div class="col-md-12">
      <h2 class="titlePage"><%= main_title(t("blog_subscribe.title")) %></h2>
    </div>
  </div>
  <div class="form form-electronic">
    <div class="row">
      <div class="col-md-12">
          <div id="mce-responses" class="clear">
            <div  class="response" id="mce-error-response" style="display:none"></div>
            <div  class="response" id="mce-success-response" style="display:none"></div>
          </div>
      </div>
    </div>
    <form action="//madrid.us15.list-manage.com/subscribe/post?u=d0b94a8670f792d3c36e3f337&amp;id=8125b45135" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <fieldset>
        <div class="row">
          <div class="col-md-12">
            <div class="mc-field-group">
              <label for="mce-EMAIL" id="<%=t('page.email')%>" alt="<%=t('page.email')%>"><%=t('page.email')%>  <span class="asterisco">*</span></label>
              <input id="email" type="email" value="" name="EMAIL" class="big required email" id="mce-EMAIL">
            </div>
          </div>
          <div class="col-md-12">
            <div class="mc-field-group">
              <label for="mce-FNAME" id="<%=t('page.name')%>" alt="<%=t('page.name')%>"><%=t('page.name')%> <span class="asterisco">*</span></label>
              <input id="FNAME" type="text" value="" name="FNAME" class="big required" id="mce-FNAME">
            </div>
          </div>
          <div class="col-md-12">
            <div class="mc-field-group">
              <label for="mce-LNAME" id="<%=t('page.last_names')%>" alt="<%=t('page.last_names')%>"><%=t('page.last_names')%> <span class="asterisco">*</span></label>
              <input id="LNAME" type="text" value="" name="LNAME" class="big required" id="mce-LNAME">
            </div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input id="coords" type="text" name="b_d0b94a8670f792d3c36e3f337_8125b45135" tabindex="-1" value="">
          </div>
        </div>
      </fieldset>

      <div class="button-group text-right pb80">
        <input id="submit" type="submit" value="<%=t('action.send')%>" alt="<%=t('action.send')%>" name="subscribe" id="mc-embedded-subscribe" class="event-link big">
      </div>
    </form>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';
  $.extend($.validator.messages, {
  required: "Este campo es obligatorio.",
  remote: "Por favor, rellena este campo.",
  email: "Por favor, escribe una dirección de correo válida",
  url: "Por favor, escribe una URL válida.",
  date: "Por favor, escribe una fecha válida.",
  dateISO: "Por favor, escribe una fecha (ISO) válida.",
  number: "Por favor, escribe un número entero válido.",
  digits: "Por favor, escribe sólo dígitos.",
  creditcard: "Por favor, escribe un número de tarjeta válido.",
  equalTo: "Por favor, escribe el mismo valor de nuevo.",
  accept: "Por favor, escribe un valor con una extensión aceptada.",
  maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
  minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
  rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
  range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
  max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
  min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
  });}(jQuery));var $mcj = jQuery.noConflict(true);
</script>




