<% content_for :title, @component.try(:title) %>
<% content_for :description, @component.try(:content).to_s.html_safe %>
<div id="voluntariosNoLoginWrapper" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="titlePage"><%=@component.try(:title)%></h2>
      <%=@component.try(:content).to_s.html_safe%>
      <% if @component.blank? || @component.button_active%>
        <p style="text-align: center;margin-top: 5rem"><%= link_to @component.blank? ? t('action.volunteer') : @component.button_title, new_rt_volunteer_subscribe_path, class: "event-link big", alt: @component.blank? ? t('action.volunteer') : @component.button_alt_title if !current_user || current_user.loggable_type == "Entity"%></p>
      <%end%>
    </div>
  </div>
</div>