<% content_for :title, @component.try(:title) %>
<% content_for :description, @component.try(:content).to_s.html_safe %>
<div id="quienesSomos" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="titlePage"><%=@component.try(:title)%></h2>
      <%=@component.try(:content).to_s.html_safe %>
      <nav id="whoami_rrss">
        <ul class="redes">
          <%if !@rrss_facebook.blank?%>
            <li><a href="<%=@rrss_facebook%>" target="_blank" name="facebook" alt="facebook" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true" aria-label="facebook"></i></a></li>
          <%end%>
          <%if !@rrss_twitter.blank?%>
            <li><a href="<%= @rrss_twitter%>" target="_blank" alt="Twitter" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true" aria-label="twitter"></i></a></li>
          <%end%>          
          <%if !@rrss_instagram.blank?%>
            <li><a href="<%=@rrss_instagram%>" target="_blank" alt="Instagram" aria-label="instagram"><i class="fa fa-instagram" aria-hidden="true" aria-label="instagram"></i></a></li>
          <%end%>          
          <%if !@rrss_youtube.blank?%>
            <li><a href="<%=@rrss_youtube%>" target="_blank" alt="Youtube" aria-label="youtube"><i class="fa fa-youtube-play" aria-hidden="true" aria-label="youtube"></i></a></li>
          <%end%>        
        </ul>
      </nav>
    </div>
  </div>
</div>