<%= form_for(@rt_volunteer_subscribe) do |f| %>
  <%= f.invisible_captcha :subtitle %>
  <div class="form form-electronic">
    <%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteer_subscribe})%>
    <% if !current_user ||  !current_user.loggable_type=="Entity"  %>
      <h4><%="#{t('volunteer_subscribe.text1')} #{link_to 'Iniciar sesión', new_user_session_path} #{t('volunteer_subscribe.text2')}".html_safe  %>:</h4>
    <% end %>
    <br>
    <fieldset>
      <%= f.hidden_field :project_id, value: params[:project_id] %>
      <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label class="labelUp" id="<%= Rt::VolunteerSubscribe.human_attribute_name(:name) %>" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:name) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:name) %> <span class="asterisco">*</span></label>
            <%= f.text_field :name, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:name) } %>
          </div>
          <div class="form-group">
            <label class="labelUp" id="<%= Rt::VolunteerSubscribe.human_attribute_name(:last_name) %>" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:last_name) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:last_name) %> <span class="asterisco">*</span></label>
            <%= f.text_field :last_name, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:last_name) } %>
          </div>
          <div class="form-group">
            <label class="labelUp" id="<%= Rt::VolunteerSubscribe.human_attribute_name(:last_name_alt) %>" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:last_name_alt) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:last_name_alt) %> </label>
            <%= f.text_field :last_name_alt, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:last_name_alt) } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label class="labelUp" id="<%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number_alt) %>" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number_alt) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number_alt) %> <span class="asterisco">*</span></label>
            <%= f.text_field :phone_number_alt, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:phone_number_alt)} %>
          </div>
          <div class="form-group">
            <label class="labelUp" id="<%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number) %>" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:phone_number) %> </label>
            <%= f.text_field :phone_number, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:phone_number)} %>
          </div>
          <div class="form-group">
            <label class="labelUp" id="<%= Rt::VolunteerSubscribe.human_attribute_name(:email) %>" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:email) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:email) %> <span class="asterisco">*</span></label>
            <%= f.text_field :email, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:email)} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label class="labelUp" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:postal_code) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:postal_code) %></label>
            <%= f.text_field :postal_code, { class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:postal_code)} %>
          </div>
          <div class="form-group">
            <label class="labelUp" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:district) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:district) %> </label>
            <%= f.select :district_id, @hash_district||{},{include_blank: "", selected: f.object.district_id || ""}, {'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:district)}%>
          </div>
          <div class="form-group">
            <label class="labelUp" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:info_source) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:info_source) %> </label>
            <%= f.select :info_source_id, @hash_info_source||{},{include_blank: "", selected: f.object.info_source_id || ""}, {'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:info_source)}%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="form-group">
            <label class="labelUp" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:is_adult) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:is_adult) %> <span class="asterisco">*</span></label>
            <%= f.select :is_adult,{"Sí": "true","No": "false"},{include_blank: "", selected:  "" },{ class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:is_adult)} %>
          </div>
        </div>
      </div>
    </fieldset>
    <div style="border-top: 0.1rem solid;border-bottom: 0.1rem solid">
      <%= render partial: 'shared/protection', locals: {f: f} %>
    </div>
    <div class="button-group text-right pb90" style="margin-top: 5rem">
      <%= f.button t('application.submit'), :class => 'event-link big', :value => 'Registrarme', alt: t('application.submit')%>
    </div>
  </div>
<% end %>