<%project.albums.order(year: :desc).each do |album|%>
    <div class="well">
        <h4><strong>Album <%=album.year%></strong></h4>
        <p style="margin: 3rem 0rem"><%=album.description.html_safe%></p>
        <%if !album.try(:images).blank?%>
            <div role="tabpanel" class="tab-pane active carousel" id="tpi-tab2">
                <div id="myCarouselAlbum_<%=album&.id%>" class="carousel slide" data-ride="carousel">        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox" style="height: 70rem">
                        <div class="item active">
                            <%= render partial: "links/link", locals: {link: album.images.first} %>
                        </div>
                        <%= render partial: "links/link", collection: album.images.where("id not in (?)",album.images.first.id) %>
                    </div>
                    <!-- Left and right controls -->
                    <%if  album.images.count > 1 %>
                        <a class="left carousel-control" href="#myCarouselAlbum_<%=album&.id%>" role="button" data-slide="prev">
                            <i class="fa fa-chevron-left" style="background: black" aria-hidden="true"></i>
                            <span class="sr-only"><%=t('action.previous')%></span>
                        </a>
                        <a class="right carousel-control" href="#myCarouselAlbum_<%=album&.id%>" role="button" data-slide="next">
                            <i class="fa fa-chevron-right" style="background: black" aria-hidden="true"></i>
                            <span class="sr-only"><%=t('action.next')%></span>
                        </a>
                    <%end%>
                    <!-- Indicators -->
                    <%if  album.images.count > 1 %>
                        <ol class="carousel-indicators">                
                            <% album.images.each_with_index do |obj,index| %>
                                <%if index==0%>
                                    <li data-target="#myCarouselAlbum_<%=album&.id%>" data-slide-to="0" class="active"></li>
                                <%else%>
                                    <li data-target="#myCarouselAlbum_<%=album&.id%>" data-slide-to="<%=index%>"></li>
                                <%end%>
                            <% end %>
                        </ol>
                    <%end%>
                </div>        
            </div>
        <%end%>
    </div>
<%end%>