<style type="text/css">
  .project_search{
    margin: 0px;
  }
</style>
<div class='form form-electronic buscarProyectos'>
  <div class="bg-fluid0">
      <div>
        <div class="panel-heading">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="cajaBusqueda" style="margin: 5px 0px;">
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="conjuntoBusqueda">
                        <%= text_field_tag :name_or_description_cont,params[:q][:name_or_description_cont].blank? ? "" : params[:q][:name_or_description_cont],placeholder: t('project.finder.placeholder'), class: "buscarInput", alt: t('project.finder.placeholder'), id: "search_project", 'aria-label' => t('project.finder.placeholder') %>
                        <%= button_tag "",'data-toggle' => 'modal', class: "lupa", value: t('project.finder.find'), alt: t('project.finder.find'), id: t('project.finder.find'), 'aria-label' => t('project.finder.find'),
                          onclick: "submit_form(params_search());"  %>                    
                      </div>
                    </div>
                    <div class="col-sm-4 text-right">
                        <%= button_tag t('project.finder.show_filter'),
                        'data-toggle' => 'collapse',
                        'data-target'=> "#searcher-diary", 
                        class: "panel-title collapsed verFiltros",
                        id: "ver", alt: t('project.finder.show_filter'),
                        onclick: "verOcultar(params_search());",
                         'aria-label' => t('project.finder.find')  %>                  
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
        <div class="panel-body" id="searcher-diary" style="display:none; visibility:hidden;">
          <div class="container-fluid" id="reload_div">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="form-group date-field">
                    <%= hidden_field_tag :extend_search, 0 %>
                    <label class="labelUp" id="<%=t('project.finder.date_field')%>"><%=t('project.finder.date_field')%></label>
                    <%= text_field_tag :timetables_execution_date_eq,params[:q][:timetables_execution_date_eq] ? "" : params[:q][:timetables_execution_date_eq],:data => {:remote => true}, :class => "form-control small", 
                    id:"search_date", onchange: "submit_form(params_search());"%>
                  </div>
                </div>
                <div class="form-group" >
                  <label class="labelUp" id="<%=t('project.finder.district_field')%>"><%=t('project.finder.district_field')%></label>
                  <%= select_tag :addresses_district_eq, options_for_select(@districts || {}, :selected => params[:q][:addresses_district_eq]), include_blank: true,
                      class: 'big', 
                      style: 'width: 150px; margin:3px 2px;', 
                      id:'search_district',
                      style: 'padding-left: 12px;',
                      onchange: "submit_form(params_search());"%>
                </div>
                <div class="form-group">
                  <label class="labelUp" id="<%=t('project.finder.borough_field')%>"><%=t('project.finder.borough_field')%> </label>
                  
                  <%= select_tag :addresses_borough_eq, options_for_select(@boroughs || {},:selected => params[:q][:addresses_borough_eq]), include_blank: true, 
                    class: 'big', 
                    style: 'width: 150px; margin:3px 2px;', 
                    id:'search_borough',
                    style: 'padding-left: 12px;',
                    onchange: "submit_form(params_search());"%>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <legend class="form-legend"><%=t('project.finder.tematic').html_safe%></legend>
                <% @areas.each do |area| %>
                  <div class="form-group tagW">
                    <label id="<%=area.name%>">
                      <%= check_box_tag "q[areas_name_in][]", area.name, params[:q][:areas_name_in].blank? ? false : (true if params[:q][:areas_name_in].include?(area.name)), onclick: "submit_form(params_search());"%>
                      <span class="tag">
                      <%= area.name.capitalize %></span>
                    </label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>