<%if !records.blank?%>
<% records.each_slice(3) do |group| %>

<ul class="row">
  <% group.each do |project| %>
  <li class="col-xs-12 col-sm-4 col-md-4" style="display:inline-block">
    <div class="gallery-item" style="padding-bottom:1em">
      <header>
        <style type="text/css">
            .parpadea {
              animation-name: parpadeo;
              animation-duration: 1s;
              animation-timing-function: linear;
              animation-iteration-count: infinite;

              -webkit-animation-name:parpadeo;
              -webkit-animation-duration: 1s;
              -webkit-animation-timing-function: linear;
              -webkit-animation-iteration-count: infinite;
            }
              
              @-moz-keyframes parpadeo{   
                0% { opacity: 1.0; } 
                50% { opacity: 0.5; } 
                100% { opacity: 1.0; } 
              } 
              
              @-webkit-keyframes parpadeo {   
                0% { opacity: 1.0; } 
                50% { opacity: 0.5; } 
                100% { opacity: 1.0; } 
              } 
              
              @keyframes parpadeo {   
                0% { opacity: 1.0; } 
                50% { opacity: 0.5; }
                100% { opacity: 1.0; } 
              }
        </style>
      
        <% if project.urgent %> 
          <p class="parpadea text-left" style="padding:10px; text-transform:uppercase; background: #ff6600; color: white; font-weight: bold; font-size: 20px;"><%=t('project.urgent')%></p> 
        <%end%>
        
      </header>
      <div class="row" style="text-align:center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <% if  project.logo.try(:path).blank? || project.logo.try(:file).blank?%>
        	<%= image_tag  image_url('missing.png') , class: "logoEspecifico", alt: "missing"  %>
        <% else  %>
        	<%= image_tag  project.logo.try(:path) , class: "logoEspecifico", alt: "#{project.logo.try(:file_file_name).to_s.split(".")[0]}"  %>
        <%end%>
          <%#= render partial: "links/link", collection: project.links.logo %>
        </div>
      </div>
      <div class="main">
        <h3><%= link_to project.name, project_path(project) %></h3>
        <p><%= truncate(strip_tags(project.description), length: 145, :escape => false).html_safe %></p>
        <p><%= project.entity.name %></p>
   
          <p><%= project.execution_start_date%>
            <% unless project.execution_end_date.blank?%> - <%= project.execution_end_date%> 
            <% end %>
          </p>
        <div class="row ctaGroupPreview">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="tags">
              <%= render partial: "shared/area", locals: {areas: project.areas} %>
            </div>
          </div>
          <div class="col-lg-12 text-right">
            <%= link_to  t('action.learn_more') , project_path(project), class: "event-link", alt: t('action.learn_more') %>
          </div>         <br/>
        </div>
      </div>
    </div>
  </li>
    <% end %>
  </ul>
<% end %>
<% end %>