<h3 class="summary-title"><%= project&.name&.html_safe %></h3>
<% if !project&.areas.blank? %>
    <div class=" col tags">
        <%= render partial: "shared/area", locals:{ areas:  project.areas } %>
    </div>
<% end %>
<%if !project.try(:links).try(:image).blank? || !project.try(:logo).blank?%>
    <div class="row">
        <div class="col">
        <%= render partial: "commons/wrapper_slides", locals: {object: project} %>
        </div>
    </div>
<%end%>
<div class="row">
    <div class="col">
        <%= project&.description&.html_safe %>
    </div>
</div>
<%= render partial: "projects/subproyects", locals: {project: project}%>
<%= render partial: "commons/links_url_video", locals: {resource: project}%>
<%= render partial: "projects/albums", locals: {project: project}%>