<%if !project.subtype_proyect.blank?%>
    <div style="margin-top: 5rem">
        <%if project.subtype_proyect == "subproyect"%>
            <div class="row well">
                <%= content_tag :h2, "Proyecto Matriz", class: 'form-subtitle' %>
            
                <div class="col" style="width:100%;overflow-x:auto;">
                    <table class="index-table" >
                        <thead>
                        <tr>
                            <% Project.matriz_columns.each do |column| %>
                                <th><%=Project.human_attribute_name(column) %></th>
                            <% end %>
                        </tr>
                        </thead>            
                        <tbody>
                            <tr>
                                <% Project.matriz_columns.each do |column| %>
                                    <td><%= project.father.try(column.to_sym).blank? ? "" : (link_to project.father.try(column.to_sym), project_path(project.father))  %></td>
                                <% end %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <%elsif !project.subprojects.blank?%>
            <div class="row well">
                <%= content_tag :h2, "Subproyectos", class: 'form-subtitle' %>
            
                <div class="col" style="width:100%;overflow-x:auto;">
                    <table class="index-table" >
                        <thead>
                            <tr>
                                <% Project.subproyect_columns.each do |column| %>
                                    <th><%=Project.human_attribute_name(column) %></th>
                                <% end %>      
                            </tr>
                        </thead>            
                        <tbody>
                            <% project.subprojects.order(:pt_order).each do |sub|  %>
                                <tr>                               
                                    <% Project.subproyect_columns.each do |column| %>
                                        <td><%= sub.try(column.to_sym).blank? ? "" : (link_to sub.try(column.to_sym), project_path(sub))  %></td>
                                    <% end %>                              
                                </tr>
                            <%end%>
                        </tbody>
                    </table>
                </div>
            </div>
        <%end%>
    </div>
<%end%>