<div class="row">
  <div class="col-md-12">
    <div class="tags">
      <% if params[:per_page].to_i != records.count.to_i%>
        <%=link_to t('project.show_all'), projects_path(per_page: records.count), {class: "event-link",onclick: "search_clear_project()" }%> 
      <%end%>
    </div>
  </div>
</div>