<% if @project.volunteers_allowed %>
    <% if current_user && current_user.loggable_type=="Volunteer" %>
        <%if @project.volunteers.where("projects_volunteers.volunteer_id = ? and projects_volunteers.project_id = ?", current_user.loggable_id, @project.id ).exists? %>
            <div class="ctaVoluntarios">
            <h3><%= t('project.subscribed') %></h3>
            </div>
        <% elsif (Rt::VolunteerSubscribe.includes(:request_form).where("project_id= ? and request_forms.user_id=?", @project.id, current_user.id ).references(:request_form).exists? || Rt::VolunteerProjectSubscribe.includes(:request_form).where("project_id= ? and request_forms.user_id=?", @project.id, current_user.id ).references(:request_form).exists?)   %>
            <div class="ctaVoluntarios">
            <h3><%= t('project.requested') %></h3>
            </div>
        <% else  %>
            <div class="ctaVoluntarios">
            <h3><%= t('project.need_volunteers') %></h3>
            <% if current_user.blank? %>
                <%= link_to t('project.interesting') , new_rt_volunteer_subscribe_path(project_id: @project.id), class: "event-link big", alt: t('project.interesting') %>
            <% else %>
                <%= link_to t('project.interesting') , new_rt_volunteer_project_subscribe_path(project_id: @project.id), class: "event-link big", alt: t('project.interesting') %>
            <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>
<br>