<%= javascript_tag do %>
var locations = <%= raw @locations.to_json %>;
var url_map = "<%= Rails.application.secrets.url_map %>";
var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
var lock = true;

var url = "/projects/boroughs"
<% end %>
<% content_for :title, t('project.main_title').html_safe %>
<% content_for :description, t('project.description').html_safe %>

<%= render "buscador" %>
<div class="container-fluid" id="reload">
  <div class="row pt60">
    <div class="col-md-6">
      <div id="numProjects">
        <%= render partial: 'numProjects', locals: {total: @projects_actives.count}  %>
      </div>
    </div>
    <div id="total_projects" class="col-sm-3 col-md-3 text-center"> 
        <%= render partial: 'total_projects', locals: { records: @projects_actives_all} %>  
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3 text-right">
        <%= render partial: "order" %>
    </div>
  </div>
  <div id="grid">
    <div id = "projects">
      <%= render partial: 'project', locals: { records: @projects_actives} %> 
      <%= render partial: "shared/pagination", locals: {collection: @projects_actives} %>
    </div>
  </div>
</div>
  <div class="container-fluid no-padding-left no-padding-right">
    <div class="row">
      <div class="col-md-12">
      <div id="map"> </div>
        <% i=0
            @projects_actives_all.each do |pr| 
              pr.addresses.each do |address|
                coords = get_latitude_and_longitude(address)%>

                <%= javascript_tag do %>
                   coords_convert(<%=coords[:latitude]%>,<%=coords[:longitude]%>,"<%=pr.select_icon_by_project_type%>",<%=i%>,{"id":<%=pr.id%>,"name": "<%=pr.name%>"}, <%=pr.pt_extendable_id%>,'project');

                  <% i=i+1 %>
                <% end %>
              <%end%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  if (window.location.toString().indexOf("&page=")!= -1){
      verOcultar(params_search());
    }
</script>