$('#numProjects').html('<%= escape_javascript(render partial: 'numProjects', locals: { total: @projects_actives.count} ) %>');
<% if @projects_actives.current_page > 1 %>
  $('#projects').append('<%= escape_javascript(render partial: 'project', locals: { records: @projects_actives} ) %>');
  $('#projects').append('<%= escape_javascript(render partial: 'shared/pagination', locals: {collection: @projects_actives}) %>');
<% else %>
  $('#projects').html('<%= escape_javascript(render partial: 'project', locals: { records: @projects_actives} ) %>'+'<%= escape_javascript(render partial: 'shared/pagination', locals: {collection: @projects_actives}) %>');
<% end %>

var locations = <%= raw @locations.to_json %>;
var lock = true;
var url_map = "<%= Rails.application.secrets.url_map %>";
var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
load_map();