  var locations = <%= raw @locations.to_json %>;
  var multiple = true;
  var url_map = "<%= Rails.application.secrets.url_map %>";
  var url_rotulacion = "<%= Rails.application.secrets.url_rotulacion %>";
  load_map();
  $('#timetables').html('<%= escape_javascript(render partial: 'timetables/timetables_by_date_project', locals: {events: @timetables, day:@day}) %>');