<div class="container-fluid single actividadSingle">
  <%=render partial: "commons/back_show_list", locals: {path: projects_path, text: t('application.projects')}%>

  <div class="row">
    <div class="col-md-8">
      <%=render partial: "projects/show_project", locals: {project: @project}%>
    </div>
    <div class="col-md-4">
      <%= render partial: "commons/sidebar_projects", member: @project %>
    </div>
  </div>
  <div class="row" style="margin-top: 5rem">      
    <div class="col-md-8">        
      <%= render partial: "commons/share_links", locals: {object: @project} %>    
    </div>
  </div>
</div>