<%
text ||= ""
path ||=""
%>
<%if !text.blank? && !path.blank?%>
    <div class="row" style="margin-bottom: 3rem">
        <div class="col-md-12 mt45" >
            <i class="fa fa-chevron-left volverArrow" aria-hidden="true"></i>
            <%= link_to text, path,class: "volver" %>
        </div>
    </div>
<%end%>