<div class="rangoFechas">
    <h3>
        <%= object.try(:start_date) || object.try(:execution_start_date).try{|x| x.strftime('%d/%m/%Y')} %>
        <% if object.try(:end_date) || object.try(:execution_end_date) != nil  && (object.try(:start_date) || object.try(:execution_start_date).try{|x| x.strftime('%d/%m/%Y')} != object.try(:end_date) || object.try(:execution_end_date).try{|x| x.strftime('%d/%m/%Y')}) %>
            - <%= object.try(:end_date) || object.try(:execution_end_date).try{|x| x.strftime('%d/%m/%Y')} %>
        <% end %>
    </h3>
</div>