<% if !resource.links.blank? &&  (!resource.urls.blank? || !resource.videos.blank?)%>
    <div class="row" style="margin-top: 5rem">
        <div class="col">
        <h4><strong><%= t('application.links') %></strong></h4>
        <%if !resource.urls.blank?%>
            <div style="padding: 3rem 0rem">
            <%= render partial: "links/link", collection: resource.urls %>
            </div>
        <%end%>
        <% if !resource.videos.blank?%>
            <%= render partial: "links/link", collection: resource.videos %>
        <%end%>
        </div>
    </div>
<%end%>