<div class="bloque">
    <div id="meta">
        <div class="brand">
            <div class="logoW">
                <%= render partial: "links/link", locals: {link: object.entity.logo} %>
            </div>
            <h5><%= object.entity.name %></h5>
        </div>
    </div>
</div>