<div id="mapaW">
  <div id="map"></div>
  <% object.addresses.each_with_index do |address,i|
    coords = get_latitude_and_longitude(address)%>
    <%= javascript_tag do %>
      <%if object.try(:start_date)%>
        coords_convert(<%=!address.longitude.blank? ? address.longitude : coords[:latitude]%>,<%=!address.latitude.blank? ? address.latitude : coords[:longitude] %>,"<%=asset_path('project_yellow.png').to_s%>",<%=i%>,{"id":<%=object.id%>,"name": "<%=object.name%>"},'activity');
      <%else%>
        coords_convert(<%=coords[:latitude]%>,<%=coords[:longitude]%>,"<%=object.select_icon_by_project_type%>",<%=i%>,{"id":<%=object.id%>,"name": "<%=object.name%>"},'project');
      <%end%>
    <%end%>  
  <%end%>
</div>