<div class="row">
    <div class="col-md-12">
    <nav id="navbar_wrap_project" name="wrapper_project" class="redesWrapProject">
        <h4><%= t('application.share') %></h4>
        <ul class="redes">
        <li>
            <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{object.try(:start_date) ? activity_url(object) : project_url(object)}", target: "blank",  title: t('message') do %>
            <i class="fa fa-facebook" data-content="<%=t('message')%>"></i>
            <% end %>
        </li>
        <li>
            <%= link_to "https://twitter.com/intent/tweet?url=#{object.try(:start_date) ? activity_url(object) : project_url(object)}&text=#{object.name}", target: "blank",  title: t('message') do %>
            <i class="fa fa-twitter" data-content="<%=t('message')%>"></i>
            <% end %>
        </li>
        </ul>
    </nav>
    </div>
</div>