<div class="sidebarProyecto">
    <div class="bloque first">
        <div id="fechas">
            <%= render partial: "commons/date_range", locals: {object: @project} %>
        </div>
        <%= render partial: "projects/volunteers_allowed", member: @project %>
         <%= render partial: "commons/map", locals: {object: @project} %>
        <div class="info-actividad">            
            <% @project.addresses.each do |address| %>
                <%= address.district %>
            <% end %>
        </div>       
    </div>
    <%= render partial: "commons/links_logo", locals: {object: @project} %>
    <% if @project.activities.present? %>
        <div class="bloque">
            <div id="actividadesAsociadas">
                <h5> <%= t('project.activities') %> </h5>
                <% @project.activities.each do |activity| %>
                    <%= link_to activity_path(activity) do %>
                        <div class="cardActividadAsociada">
                            <div class="flex">
                                <h3><%= activity.name.html_safe %></h3>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
