<div class="sidebarActividad">
    <div class="bloque first">
        <div id="fechas">
            <%= render partial: "commons/date_range", locals: {object: @activity} %>
            <div class="info-actividad">            
                <%if !@activity.transport.blank?%>
                    <div class="row" style="text-align: left">   
                        <h4 style="margin-bottom: 2rem"><b>Medios de transporte</b></h4>
                        <%= @activity.transport.html_safe %>
                    </div>
                <%end%>
                 <%if !@activity.timetables.blank?%>
                    <div class="row" style="text-align: left;margin-top: 5rem">   
                        <h4 style="margin-bottom: 2rem"><b>Direcciones y horarios</b></h4>
                        <ul id="timetables_by_date" class="direcciones" style="list-style-type: none;">
                            <%@activity.timetables.order(:execution_date).group_by(&:address).each do |address, timetables| %>
                                <li style="border: 0.3rem solid lightgrey; padding: 1rem; border-radius: 2rem;margin-bottom: 2rem">
                                    <div class="row">
                                        <% timetables.each do |timetable| %>
                                            <div class="col-sm-6" style="margin-bottom: 2rem">
                                                <p class="fecha">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    <%= timetable.execution_date %>                                   
                                                </p>
                                                <p class="hora">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <%= timetable.start_hour %> - <%= timetable.end_hour %>                                   
                                                </p>
                                            </div>
                                        <% end %>
                                    </div>
                                    <p class="direccion">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <%= address.road_type %> <%= address.road_name %> <%= address.road_number_type %> <%= address.road_number %>
                                        <%= address.postal_code %> <%= address.town %>
                                    </p>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                <%end%>
            </div>
        </div>
        <%= render partial: "commons/map", locals: {object: @activity} %>
    </div>

    <% if @activity.entity.present? && @activity.entity.links.present? %>
        <%= render partial: "commons/links_logo", locals: {object: @activity} %>
    <% end %>

    <% if @activity.links.present? && !@activity.docs.blank? %>
        <div class="bloque">
            <div id="documentacion">
                <h5> <%= t('application.documentation') %> </h5>
                <%= render partial: "links/link", collection: @activity.docs %>
            </div>
        </div>
    <% end %>

    <% if @activity.project.present? %>
        <div class="bloque">
            <div id="proyectosAsociados">
                <h5><%= t('project.asociated') %></h5>
                <%= link_to project_path(@activity.project) do %>
                    <div class="cardProyectoAsociado">
                        <div class="row" style="margin:0">
                            <div class="col-xs-4 no-padding-left no-padding-right">
                                <figure>
                                    <%= render partial: "links/link", locals: {link: @activity.project.logo} %>
                                </figure>
                            </div>
                            <div class="col-xs-8">
                                <div class="flex">
                                    <h3>
                                        <%= @activity.project.name %>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>