<div role="tabpanel" class="tab-pane active carousel" id="tpi-tab2">
    <div id="myCarousel<%=object&.class&.name%>_<%=object&.id%>" class="carousel slide" data-ride="carousel">        
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="height: 70rem">
            <%if !object.try(:logo).try(:file).blank?%>
                <div class="item active">
                    <%= render partial: "links/link", locals: {link: object.logo} %>
                </div>
                <%= render partial: "links/link", collection: object.images if !object.try(:images).blank?%>
            <%elsif !object.try(:images).blank?%>
                <div class="item active">
                    <%= render partial: "links/link", locals: {link: object.images.first} %>
                </div>
                <%= render partial: "links/link", collection: object.images.where("id not in (?)", object.images.first.id) %>
            <%end%>
        </div>
        <!-- Left and right controls -->
        <%if (!object.try(:logo).try(:file).blank? ? 1 : 0) + object.images.count > 1 %>
            <a class="left carousel-control" href="#myCarousel<%=object&.class&.name%>_<%=object&.id%>" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" style="background: black" aria-hidden="true"></i>
                <span class="sr-only"><%=t('action.previous')%></span>
            </a>
            <a class="right carousel-control" href="#myCarousel<%=object&.class&.name%>_<%=object&.id%>" role="button" data-slide="next">
                <i class="fa fa-chevron-right" style="background: black" aria-hidden="true"></i>
                <span class="sr-only"><%=t('action.next')%></span>
            </a>
        <%end%>
        <!-- Indicators -->
        <%if (!object.try(:logo).try(:file).blank? ? 1 : 0) + object.images.count > 1 %>
            <ol class="carousel-indicators">
                <%if !object.try(:logo).try(:file).blank?%>
                    <li data-target="#myCarousel<%=object&.class&.name%>_<%=object&.id%>" data-slide-to="0" class="active"></li>
                <%end%>               
                <% object.images.each_with_index do |obj,index| %>
                    <%if object.try(:logo).blank? && index==0%>
                        <li data-target="#myCarousel<%=object&.class&.name%>_<%=object&.id%>" data-slide-to="0" class="active"></li>
                    <%else%>                   
                        <li data-target="#myCarousel<%=object&.class&.name%>_<%=object&.id%>" data-slide-to="<%=index+(!object.try(:logo).blank? ? 1 : 0)%>"></li>
                    <%end%>
                <% end %>
            </ol>
        <%end%>
    </div>
</div>