<% if link.present? %>
	<% if link.logo? %>
		<%= image_tag  link.path, alt: "#{link.file_file_name.to_s.split(".")[0]}"  %>
	<% end %>
	<% if link.image? %>
		<div class="item">
			<%= image_tag  link.path, class:"img-fluid",style:"width: 100%",  alt: "#{link.file_file_name.to_s.split(".")[0]}" %>
		</div>
	<% end %>
	<% if link.document? %>
		<div class="row">
		  <div class="col-md-6">
		    <p> <%= link.description.html_safe %> </p>
		  </div>
		  <div class="col-md-6">
		    <div class="text-right">
		      <%= link_to t('action.download'), link.path, download: '', class: "event-link negative" %>
		    </div>
		  </div>
		</div>
		<br>
	<% end %>
	<% if link.video? %>
		<iframe width="560" height="315" src="<%= link.path.to_s.gsub("https://www.youtube.com/watch?v=","https://www.youtube.com/embed/") %>" target="blank" frameborder="0" allowfullscreen></iframe>
	<% end %>
	<% if link.url? %>
		<dd><a href="<%= link.path %>" target="blank"><%= link.description.html_safe %></a></dd>
	<% end %>
<% end %>
