<div class="row">
    <div class="col">
        <%= form_for(@rt_solidarity_chain) do |f| %>
            <%= f.invisible_captcha :subtitle %>
            <div class="form">
                <%= render(partial: 'shared/errors', locals: {model_name: @rt_solidarity_chain})%>
                <div class="row text-center">
                    <div class="col">
                        <h3 class="titlePage" style="margin: 0 0 30px 100px;"><%=t('solidarity_chain.title_form')%></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right text-left-sm text-left-xs">
                        <label class="labelUp" id="<%=t('solidarity_chain.full_name')%>" alt="<%=t('solidarity_chain.full_name')%>"><%=t('solidarity_chain.full_name')%> <span class="asterisco">*</span></label>
                    </div>
                    <div class="col-md-6">
                        <%= f.text_field :full_name, {style: "width: 250px; #{ 
                            unless @rt_solidarity_chain.errors["full_name"].blank? 
                                @style_error
                            else
                                @style_form
                            end
                        }" } %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right text-left-sm text-left-xs">
                        <label class="labelUp" id="<%=t('solidarity_chain.phone_number')%>" alt="<%=t('solidarity_chain.phone_number')%>"><%=t('solidarity_chain.phone_number')%> <span class="asterisco">*</span></label>
                    </div>
                    <div class="col-md-6">
                        <%= f.text_field :phone_number, {class: "field_form",style: "width: 250px; #{ 
                            unless @rt_solidarity_chain.errors["phone_number"].blank? 
                                @style_error
                            else
                                @style_form
                            end
                        }" }%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right text-left-xs text-left-sm ">
                        <label class="labelUp" id="<%=t('solidarity_chain.email')%>" alt="<%=t('solidarity_chain.email')%>"><%=t('solidarity_chain.email')%> <span class="asterisco">*</span></label>
                    </div>
                    <div class="col-md-6">
                        <%= f.text_field :email, {style: "width: 250px; #{ 
                            unless @rt_solidarity_chain.errors["email"].blank? 
                                @style_error
                            else
                                @style_form
                            end
                        }" }%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-right text-left-sm text-left-xs">
                        <label class="labelUp" alt="<%=t('solidarity_chain.action_description')%>"><%=t('solidarity_chain.action_description')%> <span class="asterisco">*</span></label>
                    </div>
                    <div class="col-md-6 ">
                        <%= f.text_area :action_description, {onkeyup: "validateLength($(this),1000)", style: "width: 250px; #{ 
                            unless @rt_solidarity_chain.errors["action_description"].blank? 
                                @style_error_text_area
                            else
                                @style_form_text_area
                            end
                        }", maxlength: "1000" }%>
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="col-md-6 text-right text-left-sm text-left-xs">
                        <label class="labelUp" alt="<%=t('solidarity_chain.url_image')%>"><%=t('solidarity_chain.url_image')%></label>
                    </div>
                    <div class="col-md-6">
                        <%= f.file_field :url_image,  { accept: 'image/jpeg,image/png,image/jpg,image/gif',style: "width: 250px", class: 'big'} %>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6 text-right text-left-sm text-left-xs">
                        <label class="labelUp" alt="<%=t('solidarity_chain.alias')%>"><%=t('solidarity_chain.alias')%></label>
                    </div>
                    <div class="col-md-6">
                        <%= f.text_field :alias, {style: "width: 250px; #{ 
                            unless @rt_solidarity_chain.errors["alias"].blank? 
                                @style_error
                            else
                                @style_form
                            end
                        }", maxlength: "25", onkeyup: "validateLength($(this),25)" }%>
                    </div>
                </div>
                <div class="row" style="margin: 0 0 20px 0;">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 text-justify">
                        <p class="notes mb20"><%=t('solidarity_chain.alias_text')%></p>
                    </div>
                </div>
                
                <div class="row" style="margin: 20px 0;">
                    <div class="col text-right text-left-sm text-left-xs">
                        <p class="notes mb20">
                            <%=t('solidarity_chain.presence').html_safe%>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <%= f.submit t('solidarity_chain.button_send'),{:class => 'event-link big',onclick: "return confirm_field($('#rt_solidarity_chain_url_image'),[
                            [$('#rt_solidarity_chain_action_description'),'sm',1000],
                            [$('#rt_solidarity_chain_email'),'e'],
                            [$('#rt_solidarity_chain_phone_number'),'i'],
                            [$('#rt_solidarity_chain_full_name'),'s']
                        ])", alt: t('action.submit')}%>
                    </div>
                </div>
                <div class="row" style="margin: 20px 0;">
                    <div class="col-11 text-right">
                        <p class="notes mb20" style="margin-left: 85px; text-align: justify; color:#928f8f">
                        <%=t('solidarity_chain.data_protection_text').html_safe%>   
                        </p>
                    </div>
                </div>
            </div>
        <%end%>
    </div>
</div>