<hr>
<div class="row">
    <div class="col">
        <div class="row">
           <h2 class="titlePage"><%=t('solidarity_chain.title_list')%></h2>
        </div>
        <div class="row">
            <div class="col" style="border: 2px solid #CCCCCC; background: #FEFEFE; padding: 10px; margin-bottom: 20px;">               
                <% if @solidarity_chains.count.to_i>0 
                if params[:page].to_i>0
                    num_count=@solidarity_chains.count-(params[:page].to_i-1)*10
                 else
                    num_count=@solidarity_chains.count
                 end 
                @solidarity_chains.each do |solidary| %>
                 <div class="row" >
                    <div class="col-md-2 text-right" style="padding: 0 10px">
                        <label class="labelUp" id="solidarity-name">
                        <% if solidary.alias.blank? %>
                            <%=solidary.full_name%>
                        <% else %>
                            <%=solidary.alias%>
                        <%end %>
                        </label>
                        <br>
                        <p class="notes" style="font-size: 12px"><%=solidary.translate_date%></p>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-8 text-justify">
                                <p class="notes"><%=solidary.action_description%></p>
                            </div>
                            <div class="col-md-2 text-center">
                                <% if  !solidary.url_image.blank? && solidary.url_image.exists? %>
                                   <% unless solidary.url_image.content_type.in?  %w(image/jpeg image/jpg image/png)%>
                                         <%=video_tag  solidary.url_image , width: 150, controls: true, autobuffer: true%> 
                                     <%else%> 
                                          <%= link_to (image_tag  solidary.url_image ,width:150,heigth:150, onload: "resize($(this),'150')") , show_image_path(id: solidary.id), remote: true %>
                                    <% end %>
                                <%end%>
                            </div>
                            <div class="col text-center" >
                                <label id="num_count" class="notes" style="color: #fc4f08; font-size: 60px;"><%=num_count%></label>
                                <% num_count=num_count-1 %>
                            </div>
                        </div>
                        <div class="row">
                            <hr style="border: 1px solid #CCCCCC; border-style: dashed; margin: 20px;">
                        </div>
                    </div>
                </div>
                <% end %>
                <%= render partial: "shared/pagination", locals: {collection: @solidarity_chains} %>
                <%else %>
                    <p class="notes"><%=t('solidarity_chain.wihtout_action')%></p>
                <%end%>
            </div>
        </div>
    </div>
</div>