<% content_for :title, t('solidarity_chain.main_title').html_safe? %>
<% content_for :description, t('solidarity_chain.description').html_safe? %>
<script>
    $("#HeaderWrapper").css({"background-image" : "none !important", 
    "height" : "unset", 
    "height" : "auto", 
    "border-bottom" : "solid 1px rgba(29, 29, 29, 0.3)"});
</script>
<style>
  p{
    margin-bottom: 10px;
    }
  h3{
    margin: 30px 0px;
  }
</style>

<div class="container-fluid">
<div class="row" style="margin-bottom: 20px;">
  <img title='<%= t('layout.header.solidarity_chain') %>' src="<%= asset_path("cadena-solidaria-web.jpg") %>" style="width:100%"/>
</div>
<div class="row" style="margin: 50px 0;">
  <div class="col-md-6 text-justify notes">
    <%=t('solidarity_chain.left_text',link: (link_to 'descargar',tarjeta_rt_solidarity_chains_path)).html_safe? %>
  </div>
  <div class="col-md-5">
    <%= render "form"%>
  </div>
  </div>
    <%= render "list_solidarity_chains"%>
  </div>

  