<div class="row" >
    <div class="col-auto text-center" style="margin: 20px;">
        <%= image_tag  @solidary.url_image.url,id: "var_2",width:150,heigth:150, onload: "resize($(this),'400')", alt: %>
    </div>
</div>
<div class="row">
    <div class="col-auto" style="margin: 20px;">
        <%= link_to "Descargar", @solidary.url_image(:original).to_s,{download: @solidary.url_image(:original).to_s,class: "event-link big"}, alt: t('action.download') %>
    </div>
</div>

