<li class="prev">
  <%= link_to t("views.pagination.previous").html_safe, url, :rel => "prev", :remote => remote, :class => 'pagination-text', alt: t("views.pagination.previous").html_safe %>
</li>


