<%= form_for(@rt_activity_unpublishing, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_activity_unpublishing})%>
  <p class="notes mb20">
    <%=t('activity_unpublishing.presence').html_safe%>
  </p>
  <fieldset>
    <div class="row">
       <div class="col-md-9">
         <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityUnpublishing.human_attribute_name(:activity_id) %>" alt="<%= Rt::ActivityUnpublishing.human_attribute_name(:activity_id) %>"><%= Rt::ActivityUnpublishing.human_attribute_name(:activity_id) %> <span class="asterisco">*</span></label>
          <%= f.select :activity_id, entity_activities_select_options(current_user.loggable_id),  {class: 'all'}  %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::ActivityUnpublishing.human_attribute_name(:notes) %>" alt="<%= Rt::ActivityUnpublishing.human_attribute_name(:notes) %>"><%= Rt::ActivityUnpublishing.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_area :notes, {class: 'all'}  %>
        </div>
      </div>
    </div>
  </fieldset>
  <hr>
  <div class="button-group text-right pb80">
    <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big"  %>
    <%= f.button t('application.submit'), :class => 'event-link big' %>
  </div>

</div>
<% end %>