<section class="container-fluid profileW">
  <div class="row">
    <div class="col-md-12">
      <div class="profile row">        
      <div class="col-md-12 centerMobile" style="margin-bottom: 3rem">
        <%=link_to "<i class='fa fa-chevron-left'></i> Volver".html_safe, show_project_path(@project), class: "event-link"%>
      </div>
          <div class="col-md-12 centerMobile">
            <h3 class="userName">FAQ: <%= @project.name %></h3>
          </div>
      </div>
    </div>
  </div> 
</section>

<div class="row container-fluid" style="margin-top:2rem">
    <div class="col-md-3 profileW" style="padding: 2rem;height: 70rem">
       <h4><b>Preguntas frecuentes sobre el proyecto</b></h4>
       <div style="margin-top: 3rem">
        <p><%=Setting.find_by(key: 'VolunFrontend.faq').try(:value)%></p>
       </div>
    </div>
    <div class="col-md-9" style="padding: 2rem; overflow-y: auto;height: 70rem">
        <% @digital_faqs.each do |faq|%>
            <div class="faq_title">
                <h4><%=button_tag "<i id='faq_title_#{faq.id}' class='faq-botton fa fa-plus'></i> <b>#{faq.title}</b>".html_safe, style: "background: none;border: none", onclick: "changeVisibility('#{faq.id}')"%></h4>
            </div>
            <div id="faq_body_<%=faq.id%>"  class="faq_body" style="display: none">
                <%=faq.description.html_safe%>
            </div>
        <%end%>
    </div>
</div>
<script>
    function changeVisibility(id) {
        if ($('#faq_title_'+id).hasClass('fa-plus')) {
            $('#faq_body_'+id).show();
            $('#faq_title_'+id).removeClass('fa-plus');
            $('#faq_title_'+id).addClass('fa-minus');
        } else {
            $('#faq_body_'+id).hide();
            $('#faq_title_'+id).addClass('fa-plus');
            $('#faq_title_'+id).removeClass('fa-minus');
        }        
    }
</script>
