<section class="container-fluid profileW">
  <div class="row">
    <div class="col-md-12">
      <div class="profile row">        
      <div class="col-md-12 centerMobile" style="margin-bottom: 3rem">
        <%=link_to "<i class='fa fa-chevron-left'></i> Volver".html_safe, topic_digital_path(@project), class: "event-link"%>
      </div>
          <div class="col-md-12 centerMobile">
            <h3 class="userName">Nuevo Foros de debate: <%= @project.name %></h3>
          </div>
      </div>
    </div>
  </div> 
</section>

<div class="row container-fluid" style="margin-top:2rem">    
  <div class="col-md-12" style="padding: 2rem; overflow-y: auto;height: 70rem">
      <%=form_for :digital_topic, as: :digital_topic, url: create_topic_digital_path(@project), method: :post do |f|%>
        <div class="col-12 my-3">
          <%= render(partial: 'shared/errors', locals: {model_name: @digital_topic})%>
        </div>
        <div class="row">
          <div class="col-12" style="margin-bottom: 3rem">
            <%=f.label :title, "Título", class: "form-label"%>
            <%=f.text_field :title, class: "form-control"%>
          </div>
          <div class="col-12" style="margin-bottom: 5rem">
            <%=f.label :body, "Descripción del debate", class: "form-label"%>
            <%=f.cktext_area :body, class: "form-control",ckeditor: { toolbar:  'mini' }%>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%=f.submit "Guardar", class: "event-link"%>
          </div>
        </div>
      <%end%>
  </div>
</div>