<section class="container-fluid profileW">
  <div class="row">
    <div class="col-md-12">
      <div class="profile row">        
        <div class="col-md-12 centerMobile" style="margin-bottom: 3rem">
          <%=link_to "<i class='fa fa-chevron-left'></i> Volver".html_safe, myarea_path(type: 'myProjectsDigitals'), class: "event-link"%>
        </div>
        <div class="col-md-12 centerMobile">
          <h3 class="userName"><%= @project.name %></h3>
        </div>
        <div class="col-12 centerMobile contacto">
          <p><span><%= @project.description.to_s.html_safe %></span></p>
        </div>
      </div>
    </div>
  </div> 
</section>

<div class="row">
    <div class="col-md-6 " style="padding: 5rem">
      <% if @project.permit_debate%>
        <%=link_to topic_digital_path(@project) do%>
          <div class="button_digital_menu">
            <i class="fa fa-comments fa-5x"></i>
            <h4>Foro de debates</h4>
          </div>
        <%end%>
      <%end%>
    </div>
    <div class="col-md-6" style="padding: 5rem">
      <% if @project.permit_faq%>
        <%=link_to faq_digital_path(@project)  do%>
          <div class="button_digital_menu">
            <i class="fa fa-question-circle fa-5x"></i>
            <h4>FAQ</h4>
          </div>
        <%end%>
      <%end%>
    </div>
</div>

