<section class="container-fluid profileW">
  <div class="row">
    <div class="col-md-12">
      <div class="profile row">        
      <div class="col-md-12 centerMobile" style="margin-bottom: 3rem">
        <%=link_to "<i class='fa fa-chevron-left'></i> Volver".html_safe, show_project_path(@project), class: "event-link"%>
      </div>
          <div class="col-md-12 centerMobile">
            <h3 class="userName">Foros de debate: <%= @project.name %></h3>
          </div>
      </div>
    </div>
  </div> 
</section>

<div class="row container-fluid" style="margin-top:2rem">
    <div class="col-md-6" style="padding: 2rem;">
      <%=form_tag topic_digital_path(@project), :method => :get do %>
        <div class="row">
          <div class="col-sm-6">
            <%=text_field_tag :search_text,params[:search_text], class: "form-control", placeholder: "Introduce título o descripción"%>
          </div>
          <div class="col-sm-3">
            <%=select_tag :search_type,options_for_select([ ['Siguiendo','follow'],['Sin seguir','unfollow']], params[:search_type]), include_blank: "Todos", class: "form-control"%>
          </div>
          <div class="col-sm-3">
            <%=button_tag "<i class='fa fa-search'></i> Buscar".html_safe,type: "submit", class: "event-link"%>
          </div>
        </div>
      <%end%>
    </div>
    <div class="col-md-6" style="padding: 2rem;">
      <%=link_to "<i class='fa fa-plus'></i> Nuevo foro".html_safe,new_topic_digital_path(@project), class: "event-link"%>
    </div>
    <div class="col-md-12" style="padding: 2rem; overflow-y: auto;height: 70rem">
      <%if !@digital_topics.blank?%>
        <% @digital_topics.each do |topic|%>              
          <div class="row faq_title">
            <div class="col-sm-6">
              <h4><%="<b>#{topic.title}</b>".html_safe%></h4>
              <%=topic.body.to_s.truncate(150,omission: '...').html_safe%>
            </div>
            <div class="col-sm-6" >   
              <div class="row">                   
                <div class="col-sm-8" style="text-align: right;">   
                  <div style="padding: 0 0rem 0 20rem;">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: <%=topic.digital_votes.count== 0 ? 0 : topic.digital_votes.sum(:value)*100/topic.digital_votes.count%>%" aria-valuenow="<%=topic.digital_votes.count== 0 ? 0 : topic.digital_votes.sum(:value)/topic.digital_votes.count%>" aria-valuemin="0" aria-valuemax="<%=topic.digital_votes.count%>"><%= topic.digital_votes.sum(:value)%></div>
                    </div>   
                  </div>             
                  <span style="padding: 0 2rem"><b>Votos:</b> <%= topic.digital_votes.sum(:value)%></span>
                  <%=link_to "<i class='fa fa-thumbs-up'></i>".html_safe, vote_topic_up_digital_path(@project,topic), class: topic.digital_votes.find_by(userable: current_user).try(:value).to_i > 0 ? "voto_plus" : "voto_neutro"%>
                  <%=link_to "<i class='fa fa-thumbs-down'></i>".html_safe, vote_topic_down_digital_path(@project,topic),  class: topic.digital_votes.find_by(userable: current_user).try(:value).to_i < 0 ? "voto_minus" : "voto_neutro"%>
                </div>
                <div class="col-sm-3" style="text-align: center;">                      
                  <%=topic.digital_follows.where(userable: current_user).blank? ? (link_to "<i class='fa fa-thumb-tack'></i> Seguir foro".html_safe, follow_topic_up_digital_path(@project,topic), class: "button_follow") : (link_to "<i class='fa fa-times'></i> Dejar de seguir".html_safe, follow_topic_down_digital_path(@project,topic), class: "button_unfollow")%>
                </div>
                <div class="col-sm-1" style="text-align: right;">                      
                  <%=link_to "<i class='fa fa-chevron-circle-right'></i>".html_safe, topic_show_digital_path(@project,topic),class: "button_enter_foro" %>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <%else%>
        <p>No hay foros abiertos actualmente para este proyecto</p>
      <%end%>
    </div>
</div>
