<section class="container-fluid profileW">
  <div class="row">
    <div class="col-md-12">
      <div class="profile row">        
        <div class="col-md-12 centerMobile" style="margin-bottom: 3rem">
            <%=link_to "<i class='fa fa-chevron-left'></i> Volver".html_safe, topic_digital_path(@project), class: "event-link"%>
        </div>
        <div class="col-md-9 centerMobile">
            <h3 class="userName"><%= @digital_topic.title %></h3>            
            <%=@digital_topic.body.to_s.html_safe%>
        </div>
        <div class="col-md-3 centerMobile" style="text-align: center;">
          <div class="row" style="margin-bottom: 4rem">                   
            <div class="col" >
              <%=@digital_topic.digital_follows.where(userable: current_user).blank? ? (link_to "<i class='fa fa-thumb-tack'></i> Seguir foro".html_safe, follow_topic_up_digital_path(@project,@digital_topic, show: true), class: "button_follow") : (link_to "<i class='fa fa-times'></i> Dejar de seguir".html_safe, follow_topic_down_digital_path(@project,@digital_topic, show: true), class: "button_unfollow")%>
            </div>
          </div>
          <div class="row">                   
            <div class="col" >
              <div class="row" style="margin-bottom: 2rem">                   
                <div class="col">
                  <div style="padding: 0 10rem;">
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: <%=@digital_topic.digital_votes.sum(:value)*100/@digital_topic.digital_votes.count%>%" aria-valuenow="<%=@digital_topic.digital_votes.sum(:value)/@digital_topic.digital_votes.count%>" aria-valuemin="0" aria-valuemax="<%=@digital_topic.digital_votes.count%>"><%= @digital_topic.digital_votes.sum(:value)%></div>
                    </div>
                  </div>
                  <span style="padding: 0 2rem"><b>Votos:</b> <%= @digital_topic.digital_votes.sum(:value)%></span>
                </div>
              </div>
              <div class="row">                   
                <div class="col">
                  <%=link_to "<i class='fa fa-thumbs-up'></i>".html_safe, vote_topic_up_digital_path(@project,@digital_topic, show: true), class: @digital_topic.digital_votes.find_by(userable: current_user).try(:value).to_i > 0 ? "voto_plus" : "voto_neutro"%>
                  <%=link_to "<i class='fa fa-thumbs-down'></i>".html_safe, vote_topic_down_digital_path(@project,@digital_topic, show: true),  class: @digital_topic.digital_votes.find_by(userable: current_user).try(:value).to_i < 0 ? "voto_minus" : "voto_neutro"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div> 
</section>

<div class="row container-fluid" style="margin-top:2rem">
  <div class="col-md-12" style="padding: 2rem;">
    <%=form_for :digital_comment, as: :digital_comment, url: create_comment_digital_path(@project,@digital_topic), method: :post do |f|%>
      <%=f.hidden_field :digital_comment_id%>
      <div class="row">          
        <div class="col-12" style="margin-bottom: 5rem">
          <%=f.label :body, "Comentar", class: "form-label"%>
          <%=f.cktext_area :body, class: "form-control",ckeditor: { toolbar:  'mini' }%>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%=f.submit "Comentar", class: "event-link", id: "comment_submit"%>
        </div>
      </div>
    <%end%>
  </div>
</div>
<section class="container-fluid profileW">
  <div class="col-md-12" style="padding: 2rem;">
    <%=form_tag topic_show_digital_path(@project,@digital_topic), :method => :get do %>
      <div class="row">
        <div class="col-sm-6">
          <%=text_field_tag :search_text,params[:search_text], class: "form-control", placeholder: "Introduce título o descripción"%>
        </div>
        <div class="col-sm-3">
          <%=button_tag "<i class='fa fa-search'></i> Buscar".html_safe,type: "submit", class: "event-link"%>
        </div>
      </div>
    <%end%>
  </div>
  <div class="col-md-12" style="padding: 2rem; overflow-y: auto;height: 70rem">
    <%if !@digital_comments.blank?%>
      <% @digital_comments.each do |comment|%>              
        <%=render partial: "profile/projects/partials/comment", locals: {comment: comment}%>
        <div id="subcoments_<%=comment.id%>" style="padding-left: 5rem; display: none">
          <% filter_comments(comment.digital_comments, params[:search_text]).each do |subcomment|%> 
            <%=render partial: "profile/projects/partials/comment", locals: {comment: subcomment}%>            
          <%end%>
        </div>
      <%end%>
      <%= render partial: "shared/pagination", locals: {collection: @digital_comments} %>
    <%else%>
      <p>No hay comentarios en el debate</p>
    <%end%>
  </div>
</section>
<script>
  function changeToResponse(id) {  
    $('#comment_submit').val("Responder comentario");
    $('#digital_comment_digital_comment_id').val(id);
  }

  function showHideSubcomentes(id) {
    if ($('#subcoments_'+id).css('display') =='none') {
      $('#subcoments_'+id).show();
    } else {
      $('#subcoments_'+id).hide();
    }
  }
</script>