// Dialog

.ui-dialog .ui-dialog-titlebar-close {
  display: none;

}

.ui-draggable .ui-dialog-titlebar {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
  min-height: 50px;
  border-bottom: 1px solid #eeeeee;
  color: #3b5f79;
}

.ui-dialog {
  border-radius: 0/*{cornerRadius}; */;
}

// Datepicker

.ui-datepicker-header {
  color: #3b5f79;
  border-radius: 0/*{cornerRadius}; */;
  border-bottom: 1px #cccccc/*{cornerRadius}; */;
}

#ui-datepicker-div {
  border-radius: 0/*{cornerRadius}; */;
}

.ui-widget span{
  font-size: 1.3em/*{fsDefault}*/;
  line-height: 25px;
}

.ui-dialog-buttonpane.ui-widget-content {
  border: 0;
  border-top: 1px solid #eeeeee;
}

.ui-widget-content dt{
  color: #824505;
}


// Autocomplete
.ui-autocomplete-loading {
  background: white image_url("ui-anim_basic_16x16.gif") right center no-repeat;
}

.ui-autocomplete {
  max-height: 500px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 500px;
}