<div class="container-fluid pt60">
  <div class="row">
    <div class="col-md-12">
      <div class="mc-acceso nofluid">
        <%= render(partial: 'shared/errors', locals: {model_name: @user})%>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put}) do |f| %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div> <%=t('user.password.edit.currently')%>: <%= resource.unconfirmed_email %></div>
        <% end %>
        <h2 class="titlePage"> <%=t('user.password.edit.title')%></h2>
        <p class="notes mb20">
          <%=t('user.password.edit.presence').html_safe%>
        </p>
        <%= f.hidden_field :reset_password_token %>
        <div class="form form-electronic">
          <div class="mc-acceso-item login">
            <fieldset>
              <div class="form-group">
              
                <label class="labelUp" id="<%=t('user.password.edit.new_pass')%>" alt="<%=t('user.password.edit.new_pass')%>"><%=t('user.password.edit.new_pass')%> <span class="asterisco">*</span></label>
                <%= f.password_field :password, autocomplete: "off",:maxlength => 8,  class: "big", 'aria-label' => t('user.password.edit.new_pass') %>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="labelUp" id="<%=t('user.password.edit.confirm_pass')%>" alt="<%=t('user.password.edit.confirm_pass')%>"><%=t('user.password.edit.confirm_pass')%> <span class="asterisco">*</span></label>
                <%= f.password_field :password_confirmation, autocomplete: "off",:maxlength => 8, class: "big", 'aria-label' => t('user.password.edit.confirm_pass') %>
              </div>
            </fieldset>
            <hr>
            <div class="button-group text-right">
              <%= f.submit t('user.password.edit.action.send'), class: "event-link big mb20" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>