<div class="mc-acceso nofluid">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post}) do |f| %>
        <% if resource.errors.any? %>
            <div id="errores" class="nofluid">
                <div class="info-seccion">
                    <div class="modal-alert modal-error">
                        <h2 class="title-modal"><%=t('user.password.new.error')%></h2>
                        <h2><%= pluralize(resource.errors.count, "error") %></h2>
                        <ul>
                            <% resource.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="container-fluid">
            <div class="row pt60">
                <div class="col-md-12">
                    <h3 class="titlePage"> <%=t('user.password.new.forgot_pass')%></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form form-electronic">
                        <p class="notes mb20">
                            <%=t('user.password.new.presence').html_safe%>
                        </p>
                        <fieldset>
                            <div class="mc-acceso-item login">
                                <div class="content">
                                    <div class="form-group first">
                                        <label class="labelUp" id="<%=t('user.password.new.email_field')%>" alt="<%=t('user.password.new.email_field')%>">
                                        <%=t('user.password.new.email_field')%> <span class="asterisco">*</span></label>
                                        <%= f.email_field :email, autofocus: true, placeholder:"email", class:  "big" %>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md 12">
                    <fieldset>
                    <hr>
                    <div class="button-group text-right pb80">
                        <button class="event-link big"><%=t('user.password.new.action_instruction')%> <i class=""></i></button>
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>
    <% end %>
</div>