<%= form_for(@rt_entity_unsubscribe, default_form_options) do |f| %>
<div class="form form-electronic">
  <%= render(partial: 'shared/errors', locals: {model_name: @rt_entity_unsubscribe})%>
  <p class="notes mb20">
    <%=t('entity_unsubscribe.presence').html_safe%>
  </p>
  <fieldset>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group all">
          <label class="labelUp" id="<%= Rt::EntityUnsubscribe.human_attribute_name(:notes) %>" alt="<%= Rt::EntityUnsubscribe.human_attribute_name(:notes) %>"><%= Rt::EntityUnsubscribe.human_attribute_name(:notes) %> <span class="asterisco">*</span></label>
          <%= f.text_area :notes, {class: 'all'} %>
        </div>
      </div>
    </div>
  </fieldset>
  <hr>
  <div class="button-group text-right pb80">
    <%= link_to t('action.cancel'), myarea_path, class: "event-link negative big", alt: t('action.cancel')  %>
    <%= f.button t('application.submit'), :class => 'event-link big', alt: t('application.submit') %>
  </div>
</div>
<% end %>
<br/>