<div class="row faq_title">
  <div class="col-12">
    <h4><b><%=comment.userable.email.to_s.split('@')[0]%></b> - <%=comment.created_at.strftime("%d/%m/%Y")%></h4>
  </div>
  <div class="col-12" style="padding: 2rem 0">
    <%=comment.body.to_s.html_safe%>
  </div>                 
  <div class="col-12" style="text-align: right;border-top: 0.1rem solid;padding-top: 2rem">                   
    <span style="padding: 0 2rem"><b>Votos:</b> <%= comment.digital_votes.sum(:value)%></span>
    <%=link_to "<i class='fa fa-thumbs-up'></i>".html_safe, vote_comment_up_digital_path(@digital_topic,comment), class: comment.digital_votes.find_by(userable: current_user).try(:value).to_i > 0 ? "voto_plus" : "voto_neutro"%>
    <%=link_to "<i class='fa fa-thumbs-down'></i>".html_safe, vote_comment_down_digital_path(@digital_topic,comment),  class: comment.digital_votes.find_by(userable: current_user).try(:value).to_i < 0 ? "voto_minus" : "voto_neutro"%>
    <%=button_tag "<i class='fa fa-comment'></i> #{filter_comments(comment.digital_comments, params[:search_text]).count}".html_safe, class: "button_enter_foro", onclick: "showHideSubcomentes('#{comment.id}')" if comment.digital_comment.blank?%>
    <%=button_tag "<i class='fa fa-reply'></i> Responder".html_safe, class: "button_enter_foro", onclick: "changeToResponse('#{comment.id}')" if comment.digital_comment.blank?%>
  </div>
</div>