@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

#map{
width: 100%;
height: 300px;
}


ul,
ol {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.button-group {
    &>* {
        margin-left: 30px;
    }
}

.pb90 {
    padding-bottom: 90px;
}

.pb80 {
    padding-bottom: 80px;
}

.pt60 {
    padding-top: 60px;
}

.mr30 {
    margin-right: 30px;
}

.mt45 {
    margin-top: 45px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml10{
    margin-left: 10px;
}

body {
    &.projects_show,
    &.pages_whoami,
    &.pages_volunteers,
    &.pages_entities,
    &.pages_conditions,
    &.pages_accesibility,
    &.pages_mta_privacy,
    &.volunteers_index,
    &.entities_index,
    &.activity_publishings_new,
    &.entity_subscribes_new,
    &.entities_new,
    &.entities_create,
    &.volunteer_subscribes_new,
    &.volunteer_subscribes_create,
    &.volunteer_project_subscribes_new,
    &.volunteer_project_subscribes_create,
    &.activities_index,
    &.solidarity_chains_new,
    &.solidarity_chains_create,
    &.new_campaings_index,
    &.new_campaings_show,
    &.projects_topic,
    &.projects_new_topic,
    &.projects_topic_show,
    &.projects_faq,
    &.sessions_new {
        #HeaderWrapper {
            background-image: none !important;
            height: unset;
            height: auto;
            border-bottom: solid 1px rgba(29, 29, 29, 0.3);
        }

        #HeaderBannerURL {
            display: none
        }

    }
    &.projects_index {
        #HeaderWrapper {
            background-image: none !important;
            height: unset;
            height: auto;
            border-bottom: solid 1px rgba(29, 29, 29, 0.3);
        }
    }
}

.d-block {
    display: block;
}

.navbar-default .navbar-nav>li {
    a {
        &.selected {
            border-bottom: solid 8px #ff6600;
        }
    }
}

.notes {
    font-family: 'Lato';
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.7px;
    color: #1d1d1d;
    .asterisco {
        color: #fc4f08;
    }
}

a {
    &.link {
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba(29, 29, 29, 0.8);
        text-decoration: underline;
    }
}

.event-link {
    border: 0;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    display: inline-block;
    height: 40px;
    border-radius: 100px;
    background-color: rgba(255, 102, 0, 0.7);
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    color: #1d1d1d;
    padding: 0 30px;
    &.negative {
        background-color: transparent;
        height: 38px;
        line-height: 38px;
        border: solid 1px rgba(255, 102, 0, 0.5);
    }
    &.dark {
        border: solid 1px rgba(29, 29, 29, 0.5);
    }
    &.rightChev {
        position: relative;
        padding-right: 43px;
        &:before {
            content: "\f105";
            font-family: FontAwesome;
            font-size: 20px;
            position: absolute;
            right: 25px;
            font-weight: 400;
            color: #ff6600;
        }
    }
    &.noborder {
        border: 0px;
    }
    &.big {
        height: 56px;
        line-height: 56px;
        font-size: 18px;
        padding: 0 45px;
    }
    &:focus {
        outline: none;
        text-decoration: underline;
    }
}

.secondary-link {
  border: 0.1rem solid;
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  display: inline-block;
  height: 40px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: #1d1d1d;
  padding: 0 30px;
  &.negative {
      background-color: transparent;
      height: 38px;
      line-height: 38px;
      border: solid 1px rgba(255, 255, 255, 0.319);
  }
  &.dark {
      border: solid 1px rgba(29, 29, 29, 0.5);
  }
  &.rightChev {
      position: relative;
      padding-right: 43px;
      &:before {
          content: "\f105";
          font-family: FontAwesome;
          font-size: 20px;
          position: absolute;
          right: 25px;
          font-weight: 400;
          color: #ff6600;
      }
  }
  &.noborder {
      border: 0px;
  }
  &.big {
      height: 56px;
      line-height: 56px;
      font-size: 18px;
      padding: 0 45px;
  }
  &:focus {
      outline: none;
      text-decoration: underline;
  }
}


.right {
    float: right;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

#headerTop {
    border-bottom: solid 1px #000000;
    padding: 0;
    * {
        line-height: 69px;
    }
    span {
        font-weight: 700;
        color: #000000;
        font-size: 15px;
    }
}

#menuWrapper {
    background-color: rgba(255, 255, 255, 0.9);
    padding-left: 0;
    padding-right: 0;
}

#HeaderWrapper {
    background-position: center center;
    padding-left: 0;
    padding-right: 0;
    height: 600px;
    background-size: cover;
    position: relative;
    .sessionTrigger {
        line-height: 100px;
        display: inline-block;
        a {
            border-radius: 100px;
            height: 40px;
            padding: 11px 30px;
            border: solid 1px rgba(29, 29, 29, 0.5);
            font-size: 14px;
            font-weight: 700;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
        }
    }
}

.dropdown {
    line-height: 100px;
}

.urgenteWrapper {
    position: absolute;
    width: 100%;
   // bottom: 0;
    left: 0;
    padding: 30px 15% 35px 45px;
    background-color: rgba(242, 242, 242, 0.85);
    h2 {
        font-family: 'Merriweather', serif;
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
    }
    p {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.8px;
        color: #1d1d1d;
        margin-top: 9px;
    }
    a {
        color: rgba(29, 29, 29, 0.5);
        line-height: 56px;
        &:hover {
            text-decoration: none;
        }
    }
    i {
        width: 56px;
        height: 56px;
        text-align: center;
        border-radius: 100px;
        background-color: rgba(29, 29, 29, 0.15);
        font-size: 30px;
        position: absolute;
        right: 45px;
        top: 50%;
        transform: translateY(-50%);
        &:before {
            line-height: 56px;
        }
    }
    //height: 136px;
}

.modal-dialog {
    z-index: 9999;
}

.section-cont {
    text-align: center;
    padding: 45px 20%;
    background-color: #ff6600;
    //margin-top: -60px;
    margin-bottom: 90px;
    h2 {
        span {
            font-family: Lato;
            font-size: 28px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 1.2px;
            text-align: center;
            color: #000000;
        }
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 277px;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 277px;
}

.redes,
.links {
    padding: 0;
    li {
        display: inline-block;
    }
}

footer {
    h3 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: #ffffff;
        margin-bottom: 15px;
    }
    p.tlf {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #ffffff;
    }
    a.email {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.8px;
        color: #ffffff;
        text-decoration: underline;
    }
    #widgetArea {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: rgba(0, 0, 0, 0.85);
        .column {
            padding-left: 45px;
            padding-right: 45px;
            &:nth-child(2) {
                border-left: solid 1px rgba(255, 255, 255, 0.15);
                border-right: solid 1px rgba(255, 255, 255, 0.15);
            }
        }
        .redes {
            margin-top: 25px;
            li {
                i {
                    font-size: 20px;
                    width: 56px;
                    height: 56px;
                    border-radius: 100px;
                    border: solid 1px rgba(255, 255, 255, 0.5);
                    text-align: center;
                    line-height: 56px;
                    margin-right: 24px;
                    color: #ffffff;
                }
                &:last-child {
                    i {
                        margin-right: 0;
                    }
                }
            }
        }
        .form-group {
            position: relative;
            button {
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%);
                background-color: transparent;
                border: 0;
                width: 18px;
                height: 24px;
                padding: 0;
                i {
                    line-height: 24px;
                    text-align: center;
                    font-size: 24px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
        input[type="text"] {
            display: block;
            width: 100%;
            height: 56px;
            border-radius: 28px;
            background-color: rgba(255, 255, 255, 0.05);
            border: solid 1px rgba(255, 255, 255, 0.3);
            padding-left: 30px;
            margin-top: 25px;
            color: #ffffff;
            &::-webkit-input-placeholder,
            &:-moz-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder {
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.8px;
                color: #ffffff;
            }
        }
    }
    #linkArea {
        padding: 20px 30px 24px 30px;
        * {
            line-height: 1;
        }
        li {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #000000;
            a {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
                color: #000000;
                padding-left: 2px;
                text-decoration: underline;
            }
        }
        .links {
            li {
                &:nth-child(2) {
                    margin-left: 28px;
                }
            }
        }
    }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>li.areaT {
    a {
        padding-left: 24px;
    }
    svg {
        top: 50%;
        position: absolute;
        margin-top: -10px;
    }
}

.navbar-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3d3d3d;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 0;
}

.collapsing {
    right: 0;
}

main {
    //padding-top: 60px;
}

.volunteers_index,
.pages_whoami,
.entities_index {
    main {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

h1,
h2,
h3 {
    &.titlePage {
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        margin-bottom: 45px;
    }
}


/*AVISOS*/

#avisos {
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    line-height: auto;
    background-color: rgba(255, 102, 0, 0.9);
    padding: 10px 45px;
    font-family: 'Lato';
    font-size:  18px; 
    font-weight: 900;
    z-index: 99999;
    .close {
        float: right;
        font-size: 21px;
        font-weight: 900;
        line-height: 55px;
        color: #000000;
        text-shadow: 0 1px 0 #ffffff;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }
}

.fa{
    &.educacion{
        &:before{
            content: "\f206";
        }
    }
}



/*AGENDA*/

.datepicker-switch {
    text-align: left;
    padding-left: 20px;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: unset;
    &:after {
        content: "";
        display: none;
    }
}

.datepicker.datepicker-dropdown table tr td{
    &:after {
        content: "";
        display: none;
    }
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background-color: unset;
}

.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: unset;
    padding-top: 15px;
    padding-bottom: 10px;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-color: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-repeat: unset;
    border-color: unset;
    border-color: unset;
    filter: unset;
    color: unset;
    text-shadow: unset;
}

.datepicker {
    background-color: #ffffff;
    thead {
        tr {
            //                th{
            //                    &:first-child{
            //                        text-align: left;
            //                    } &:last-child{
            //                        text-align: right;
            //                    }
            //                }
            &:nth-child(2) {
                position: relative;
                th {
                    border-bottom: solid 1px rgba(29, 29, 29, 0.15);
                    padding-bottom: 5px;
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.27;
                    letter-spacing: normal;
                    text-align: center;
                    color: #1d1d1d;
                }
            }
            &:nth-child(1) {
                th {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.38;
                    letter-spacing: 0.8px;
                    color: #1d1d1d;
                    padding-left: 20px;
                    &:hover {
                        background-color: unset;
                    }
                    i {
                        font-size: 14px;
                        color: rgba(29, 29, 29, 0.3);
                        width: 22px;
                        height: 22px;
                        border-radius: 100px;
                        background-color: rgba(29, 29, 29, 0.05);
                        line-height: 22px;
                        text-align: center;
                    }
                }
            }
        }
    }
    tbody {
        td {
            padding-top: 10px;
        }
        tr {
            &:first-child {}
            //            td{
            //                &:first-child{
            //                    text-align: left;
            //                }
            //                &:last-child{
            //                    text-align: right;
            //                }
            //            }
        }
    }
    td {
        width: 40px;
        height: 40px;
        padding: 0;
        padding-top: 10px;
    }
    &.datepicker-inline {
        width: unset;
        width: auto;
        border: solid 1px rgba(29, 29, 29, 0.3);
        border-radius: 0px;
    }
    .table-condensed {
        width: 100%;
    }
    .day {
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1d1d1d;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 2px;
            right: 11px;
            width: 10px;
            height: 10px;
            background-color: #ff6600;
            border-radius: 100px;
        }
        &.old,
        &.new {
            &:after {
                display: none;
            }
            pointer-events: none;
            color: rgba(29,
            29,
            29,
            0.3);
            a {
                color: rgba(29, 29, 29, 0.3);
            }
            &.active {}
        }
        &.active {
            &:before {
                content: "";
                width: 40px;
                height: 40px;
                background-color: rgba(254, 102, 0, 0.3);
                border-radius: 100px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            background-color: unset;
            background: unset;
            a {
                color: #1d1d1d;
            }
        }
        a {
            color: #1d1d1d;
        }
    }
}

.numActividades {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 1.3px;
    color: #1d1d1d;
}
#buscarAtividades {
    fieldset {
        margin-bottom: 5px;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        background-color: rgba(29, 29, 29, 0.05);
        padding: 30px;
        .row {}
        .labelUp {
            text-indent: -10000px;
            font-size: 0px;
            line-height: 0px;
            margin-bottom: 0;
        }
        input {
            height: 40px;
            width: 100%;
            display: block;
            border-radius: 100px;
            background-color: #ffffff;
            margin-bottom: 0px;
            border: solid 1px rgba(29, 29, 29, 0.5);
        }
        .form-group {
            display: block;
            margin-right: 0;
            &.tagW {
                display: inline-block;
            }
        }
        select {
            width: 100%;
            height: 40px;
            border-radius: 100px;
            margin: 0;
            border: solid 1px rgba(29, 29, 29, 0.5);
        }
        .searchW {
            input {}
        }
    }
    span.tag {
        height: 32px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.7);
        border: solid 1px rgba(29, 29, 29, 0.3);
        display: inline-block;
        line-height: 32px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: #1d1d1d;
        padding-right: 15px;
        padding-left: 15px;
        text-transform: capitalize;
        display: inline-block;
        margin-right: 10px;
        i {
            margin-right: 5px;
        }
        &:focus {
            outline: none;
        }
    }
    input:checked+span.tag {
        background-color: rgba(29, 29, 29, 0.7);
        border: solid 1px #1d1d1d;
        color: #ffffff;
    }
    .form-legend {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        padding-bottom: 10px;
        border-bottom: solid 1px rgba(29, 29, 29, 0.3);
        margin-top: 30px;
        span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            padding-left: 15px;
        }
    }
    input[type="checkbox"] {
        position: fixed;
        top: -1000000000000px;
    }
}

.actividadWrapper {
    padding: 30px;
    border: solid 1px rgba(29, 29, 29, 0.3);
    border-left: solid 6px #ff6600;
    margin-bottom: 30px;
    background-color: #ffffff;
    position: relative;
    .fecha {
        font-size: 52px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.0;
        letter-spacing: 3.5px;
        text-align: center;
        color: rgba(29, 29, 29, 0.7);
        border-right: solid 1px rgba(29, 29, 29, 0.3);
        span {
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.8px;
            text-align: center;
            color: rgba(29, 29, 29, 0.7);
            display: block;
        }
    }
    .distrito {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba(29, 29, 29, 0.8);
    }
    .titular {
        font-family: 'Merriweather', serif;
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 90%;
        overflow: hidden;
    }
    i {
        width: 56px;
        height: 56px;
        text-align: center;
        border-radius: 100px;
        background-color: rgba(29, 29, 29, 0.15);
        font-size: 30px;
        position: absolute;
        right: 45px;
        top: 50%;
        transform: translateY(-50%);
        a {
            color: rgba(29, 29, 29, 0.5);
            line-height: 56px;
            &:hover {
                text-decoration: none;
            }
        }
        &:before {
            line-height: 56px;
        }
    }
}

.single {
    .bloque {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgba(0, 0, 0, 0.05);
        margin-bottom: 30px;
        &.first {
            padding-top: 45px;
        }
        #fechas {
            text-align: center;
            .rangoFechas {
                h3 {
                    font-family: 'Lato';
                    font-size: 24px;
                    font-weight: 900;
                    line-height: 1.43;
                    letter-spacing: 1.2px;
                    text-align: center;
                }
            }
            #timetables {
                h4 {
                    font-family: 'Lato';
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.44;
                    letter-spacing: 0.8px;
                    text-align: center;
                }
            }
        }
        #mapaW {
            margin-bottom: 30px;
        }
        #mapaW,
        #meta,
        #documentacion,
        #proyectosAsociados,
        #actividadesAsociadas {
            padding-left: 30px;
            padding-right: 30px;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        #documentacion {
            p {
                font-family: 'Lato';
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: 0.7px;
                color: rgba(29, 29, 29, 0.8);
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
        h5 {
            font-family: 'Lato';
            font-size: 14px;
            font-weight: bold;
            line-height: 1.43;
            letter-spacing: 0.3px;
        }
        .cardProyectoAsociado {
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.05);
            figure {
                position: relative;
                height: 83px;
                overflow: hidden;
            }
            img {
                position: absolute;
                width: 130px;
                height: auto;
            }
            h3 {
                font-family: 'Lato';
                font-size: 18px;
                font-weight: 900;
                letter-spacing: 1px;
                color: #1d1d1d;
            }
            .flex {
                -webkit-align-items: center;
                align-items: center;
                height: 83px;
            }
        }
    }
    #timetables {
        .direcciones {
            padding-left: 30px;
            padding-right: 30px;
            max-height: 350px;
            overflow-y: scroll;
            li {
                display: block;
                text-align: left;
                i {
                    width: 16px;
                    font-size: 18px;
                    text-align: center;
                }
                p {
                    font-family: 'Lato';
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.7px;
                    color: rgba(29, 29, 29, 0.8);
                    text-indent: -20px;
                    padding-left: 30px;
                    margin-bottom: 18px;
                }
                hr {
                    margin-top: 2px;
                    border-top: solid 1px rgba(29, 29, 29, 0.2)
                }
                &:last-child {
                    hr {
                        display: none;
                    }
                }
            }
        }
    }
    .tags {
        margin-top: 30px;
    }
    .brand {
        .logoW {
            height: 120px;
            text-align: center;
            line-height: 120px;
            background-color: #ffffff;
            img {
                height: 80%;
                width: auto;
            }
        }
        h5 {
            font-family: 'Lato';
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: 0.3px;
            color: #1d1d1d;
            text-align: left;
            text-decoration: underline;
            margin-top: 20px;
        }
    }
    .cardActividadAsociada {
        margin-top: 20px;
        height: 84px;
        background-color: #ffffff;
        border: solid 1px rgba(29, 29, 29, 0.3);
        border-left: solid 6px #ff6600;
        padding-left: 21px;
        h3 {
            font-family: 'Lato';
            font-size: 18px;
            font-weight: 900;
            letter-spacing: 1px;
            color: #1d1d1d;
        }
        .flex {
            -webkit-align-items: center;
            align-items: center;
            height: 82px;
        }
    }
}

.rangoFechas {}


/*HOME*/

#actividadesHome {
    padding-top: 90px;
    padding-bottom: 120px;
    background-color: rgba(0, 0, 0, 0.05);
    h4 {
        font-size: 18px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.22;
        letter-spacing: 1.3px;
        color: #1d1d1d;
        margin-bottom: 30px;
    }
    .actividadWrapper {
        &:nth-child(3) {
            display: block;
        }
        &:nth-child(2) {
            display: block;
        }
        display: none;
    }
}

.destacadosWrapperHome {
    margin-bottom: 90px;
}
.card_project {
    background-color: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding:2em;
}
.gallery-item {
    // background-color: rgba(0, 0, 0, 0.05);
    // border: solid 1px rgba(0, 0, 0, 0.05);
    // margin-bottom: 30px;
    //padding: 6em;
    // header {
    //     height: 300px;
    //     overflow: hidden;
    //     text-align: center;
    //     position: relative;
    //     img {
    //         width: 150%;
    //         height: auto;
    //         position: absolute;
    //         left: 50%;
    //         top: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    // }
    .main {
        // padding: 20px;
        h3 {
            font-family: 'Merriweather', serif;
            font-size: 28px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 1.2px;
            color: #1d1d1d;
            white-space: normal;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                font-family: 'Merriweather', serif;
            font-size: 28px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 1.2px;
            color: #1d1d1d;
            white-space: normal;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                text-decoration: none;
            }
            }
        }
        p {
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 0.7px;
            color: rgba(29, 29, 29, 0.8);
            margin-top: 15px;
        }
        .category {
            display: inline-block;
            line-height: 40px;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.3px;
            color: #1d1d1d;
            width: 170%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .event-link {
            display: inline-block;
            height: 40px;
            border-radius: 100px;
            background-color: rgba(255, 102, 0, 0.7);
            line-height: 40px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            padding: 0 30px;
        }
    }
    // .ctaGroupPreview {
    //     margin-top: 30px;
    // }
}

#mapWrapper {
    // height: 520px;
    // background-color: rgba(206, 206, 206, 1);
    // h1 {
    //     line-height: 520px;
    // }
}

#blogCta {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 15%;
    padding-right: 15%;
    .titlePage {
        margin-bottom: 15px;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 0.8px;
        text-align: center;
        color: #000000;
        margin-bottom: 30px;
    }
}

#mce-error-response {

    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}

#mce-success-response {

    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}


#errores {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
    h2 {
        font-family: 'Lato';
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.7px;
        color: #d0021b;
        margin-bottom: 15px;
        i {
            font-size: 22px;
            position: relative;
            top: 2px;
            margin-right: 15px;
        }
    }
    ul {
        padding: 0;
        padding-left: 38px;
        li {
            display: block;
            font-family: 'Lato';
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.6px;
            color: #d0021b;
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


/*LOGIN*/

#loginContainer {
    .event-link {
        margin-bottom: 30px;
    }
    p {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.7px;
        margin-bottom: 45px;
    }
    .list-inline {
        margin-left: 0px;
    }
    .buttons {
        a {
            line-height: 56px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.7px;
            color: rgba(29, 29, 29, 0.8);
            text-decoration: underline;
        }
        * {
            display: inline-block;
        }
    }
    .form-container {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 120px;
        h2 {
            font-size: 28px;
            font-weight: 900;
            line-height: 1.43;
            letter-spacing: 1.2px;
            margin-bottom: 45px;
        }
    }
    .form-group {
        width: 100%;
    }
    input {
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        height: 48px;
        border-radius: 6px;
        background-color: #f2f2f2;
        border: solid 1px rgba(29, 29, 29, 0.1);
        padding-left: 20px;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        margin-bottom: 30px;
        width: 100%;
        &:focus {
            outline: none;
            border: solid 1px rgba(255, 102, 0, 0.3);
        }
    }
    .form-group {
        display: inline-block;
        margin: 0;
        margin-right: 30px;
        .field_with_errors {
            input,
            select {
                border: solid 1px #d0011b;
                background-color: rgba(208, 1, 26, 0.05);
            }
        }
        label {
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            margin-bottom: 10px;
            .asterisco {
                color: #fc4f08;
                padding-left: 2px;
            }
        }
    }
    label {
        display: block;
    }
}

.users_show {
    .event-link {
        margin-bottom: 20px;
    }
}

#legalWrapper {
    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.autorizar {
    p {
        font-family: Lato;
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        margin-top: 30px;
    }
}

.aviso {
    h3 {
        font-family: 'Lato';
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.6px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 5px;
    }
    p {
        font-family: 'Lato';
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.6px;
        color: rgba(29, 29, 29, 0.8);
    }
}

.radioCustom {
    display: inline-block !important;
    padding-right: 30px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 49px;
    cursor: pointer;
    margin-top: 15px;
    &:hover .inner {
        opacity: .5;
    }
    // Native input control and checked events
    input {
        opacity: 0; // Hide input, but leave it available for tabbing
        &:checked+.outer .inner {
            opacity: 1;
            width: 16px;
            height: 16px;
            background-color: #ff6600;
        }
        &:checked+.outer {}
        &:focus+.outer .inner {
            opacity: 1;
        }
    }
    // Outer ring of custom radio
    .outer {
        display: block;
        float: left;
        margin: 10px -5px 0px 0px;
        border: solid 1px rgba(29, 29, 29, 0.1);
        border-radius: 50%;
        background-color: #fff;
        width: 24px;
        height: 24px;
        background-color: #f2f2f2;
    }
    // Inner ring of custom radio
    .inner {
        display: block;
        margin: 3px;
        border-radius: 50%;
        opacity: 0;
    }
}

.checkCustom {
    width: 24px;
    position: relative;
    margin: 20px 0;
    display: inline-block;
    label {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f2f2f2;
        border-radius: 4px;
        border: solid 1px rgba(29, 29, 29, 0.1);
        margin-bottom: 0px;
        top: -3px;
        &:after {
            content: '';
            width: 11px;
            height: 7px;
            position: absolute;
            top: 6px;
            left: 6px;
            border: 3px solid #ff6600;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 0.3;
        }
    }
    input[type=checkbox] {
        visibility: hidden;
        &:checked+label:after {
            opacity: 1;
        }
    }
}

span.textCheckbox {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #1d1d1d;
    padding-left: 10px;
}

ul#ui-id-1 {
    padding: 15px;
    background-color: #fff;
    border: solid 1px orange;
    li {
        display: block;
    }
}


/*VOLUNTARIOS*/
.accesibility_link{
    margin-left: 10px;
}
#accesibilidad{
    *{
        text-justify: auto;
    }
    h1{
        font-size: 36px;
        text-align: center;
    }
    h2{
        margin-top: 3em;
        margin-bottom: 1.5em;
    }
    ul{
        margin-left: 5%;
    }
    table{
        margin: 0 auto;
        margin-bottom: 2em;
        margin-top: 1em;
        border: #dee0e3;
    }
    li,td {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 1px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 10px;
    }
    th {
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 1px;
        margin-bottom: 10px;
        border: 1px solid #f1f1f1;
        background-color: #fefefe;
    }
    td{
        min-width: 220px;
        height: 40px;
    }
    h3{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .t_title {

        margin-top: 1em;
        text-align: center;
        color: black;
    }

}
#voluntariosNoLoginWrapper,
#entidadessNoLoginWrapper,
#quienesSomos,
#accesibilidad{
    padding-top: 60px;
    padding-bottom: 120px;
    //background-color: rgba(0, 0, 0, 0.05);
    
    P {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.44;
        letter-spacing: 1px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 10px;
    }
    h3.dataGroup {
        font-size: 18px;
        line-height: 1.44;
        letter-spacing: 1px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 25px;
        margin-top: 45px;
    }
    h4 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba(29, 29, 29, 0.8);
        margin-bottom: 5px;
        margin-top: 20px;
    }
    hr {
        margin: 0;
        margin-top: 60px;
        border-top: solid 1px rgba(29, 29, 29, 0.15);
    }
    p.data {
        font-size: 14px;
        color: rgba(29, 29, 29, 0.8);
        line-height: 1.43;
        letter-spacing: 0.7px;
        a {
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: 0.7px;
            color: rgba(29, 29, 29, 0.8);
            text-decoration: underline;
        }
    }
    .redes {
        margin-top: 42px;
        li {
            i {
                font-size: 17px;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                border: solid 1px rgba(29, 29, 29, 0.3);
                text-align: center;
                line-height: 40px;
                margin-right: 24px;
                color: rgba(29, 29, 29, 0.8);
            }
            &:last-child {
                i {
                    margin-right: 0;
                }
            }
        }
    }
    .wrapperColaborar {
        padding: 60px 12%;
        background-color: #ffffff;
        margin-top: 60px;
        text-align: center;
        h3 {
            margin-bottom: 15px;
        }
        p {
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.44;
            letter-spacing: 0.8px;
            text-align: center;
            color: #000000;
            margin-bottom: 30px;
        }
    }
}


/*PROYECTOS*/

.tags {
    margin-bottom: 15px;
    .tag {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        border-radius: 100px;
        background-color: #575554;
        /* background-color: rgba(29, 29, 29, 0.08); */
        padding: 0 15px;
        margin-right: 10px;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 0.6px;
        color: white;
        /*color: #1d1d1d;*/
        margin-bottom: 10px;
        i{
            margin-right: 5px;
        }
    }
}

.selectOrdenar {
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    border: 0;
    background-color: #fff;
    width: 330px;
    border-bottom: solid 1px rgba(29, 29, 29, 0.5);
    border-radius: 0px;
    padding-bottom: 10px;
    padding-top: 12px;
    background-image: url(/assets/icons/down.png);
    background-repeat: no-repeat;
    background-position: right 20px;
    &:focus {
        outline: none;
    }
}

.numVolum {
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #1d1d1d;
    margin-top: 10px;
    margin-bottom: 30px;
}

#view-more {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    a {
        display: block;
        text-align: center;
        line-height: 40px;
        color: rgba(29, 29, 29, .5)
    }
}

.buscarProyectos {
    .panel {
        border: 0px;
        box-shadow: unset;
        position: relative;
        background-color: transparent;
        //top: -150px;
        .panel-body {
            //background-color: rgba(0, 0, 0, 0.05);
            //margin-top: 60px;
            padding: 60px 15px;
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
    .form-group {
        &.tagW {
            margin-right: 10px;
        }
    }
    input[type="text"],
    select {
        appearance: none;
        -moz-appearance: none;
        /* Firefox */
        -webkit-appearance: none;
        /* Safari and Chrome */
        height: 40px;
        border-radius: 100px;
        background-color: rgba(254, 254, 254, 0.3);
        border: solid 1px rgba(29, 29, 29, 0.5);
        &:focus {
            outline: none;
            border: solid 1px rgba(255, 102, 0, 0.3);
        }
        &.small {
            width: 174px;
        }
        &.big {
            width: 362px;
        }
    }
    select {
        background-image: url(/assets/icons/down.png);
        background-repeat: no-repeat;
        background-position: right;
        background-origin: content-box;
        padding-right: 20px;
    }
    select::-ms-expand{
        display: none;
    }
    .date-field {
        input {
            padding-left: 60px;
            background-image: url(/assets/icons/calendar.png);
            background-repeat: no-repeat;
            background-position: 30px center;
            cursor: default;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
        }
        input::-ms-clear{
            display: none;
        }
    }
    input[type="checkbox"] {
        position: fixed;
        top: -1000000000000px;
    }
    span.tag {
        height: 32px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.7);
        border: solid 1px rgba(29, 29, 29, 0.3);
        display: inline-block;
        line-height: 32px;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.6px;
        color: #1d1d1d;
        padding-right: 15px;
        padding-left: 15px;
        text-transform: capitalize;
        i {
            margin-right: 5px;
        }
        &:focus {
            outline: none;
        }
    }
    input:checked+span.tag {
        background-color: rgba(29, 29, 29, 0.7);
        border: solid 1px #1d1d1d;
        color: #ffffff;
    }
    .form-legend {
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        padding-bottom: 10px;
        border-bottom: solid 1px rgba(29, 29, 29, 0.3);
        margin-top: 30px;
        span {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
        }
    }
    //   .panel-heading{
    //      position: relative;
    //        top: -125px;
    //}
    .panel-heading{
        border-bottom: 0px;
        padding-bottom: 0px;
    }
}

.cajaBusqueda {
    padding: 20px 45px;
    border-radius: 4px;
    background-color: rgba(29, 29, 29, 0.8);
    margin-top: -150px;
    .verFiltros {
        display: inline-block;
        height: 40px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.8);
        border: solid 1px rgba(255, 255, 255, 0.3);
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.7px;
        color: #1d1d1d;
        padding-left: 30px;
        padding-right: 30px;
    }
    .conjuntoBusqueda {
        position: relative;
        .buscarInput {
            height: 40px;
            border-radius: 100px;
            background-color: #ffffff;
            border: solid 1px rgba(29, 29, 29, 0.5);
            width: 100%;
            padding-left: 30px;
        }
        .lupa {
            position: absolute;
            top: 50%;
            right: 25px;
            background-color: #fff;
            border: 0;
            transform: translateY(-50%);
            &:after {
                content: "\f002";
                font-family: FontAwesome;
                font-size: 16px;
                color: #ff6600;
            }
        }
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff;
    background-image: none;
    color: rgb(0, 0, 0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #1d1d1d;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    background-color: #fff;
}

.form {
    hr {
        margin-top: 45px;
        margin-bottom: 45px;
        border-top: solid 1px rgba(29, 29, 29, 0.15);
    }
    fieldset {
        input,
        select,
        textarea {
            appearance: none;
            -moz-appearance: none;
            /* Firefox */
            -webkit-appearance: none;
            /* Safari and Chrome */
            height: 48px;
            border-radius: 6px;
            background-color: #f2f2f2;
            border: solid 1px rgba(29, 29, 29, 0.1);
            padding-left: 20px;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            margin-bottom: 30px;
            &:focus {
                outline: none;
                border: solid 1px rgba(255, 102, 0, 0.3);
            }
        }
        textarea {
            resize: none;
            height: 130px;
            padding-top: 14px;
        }
        select {
            &.small {
                width: 146px;
            }
            &.medium {
                width: 233px;
            }
            &.big {
                width: 321px;
            }
            &.all {
                width: 100%;
            }
            background-image: url(/assets/icons/down.png);
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 20px;
            background-origin: content-box;
        }
        input,
        textarea {
            &.small {
                width: 146px;
            }
            &.medium {
                width: 233px;
            }
            &.big {
                width: 321px;
            }
            &.all {
                width: 100%;
            }
        }
    }
    
    .form-group {
        display: inline-block;
        margin: 0;
        margin-right: 30px;
        &.all {
            width: 100%;
            display: block;
        }
        .field_with_errors {
            input, textarea,
            select {
                border: solid 1px #d0011b;
                background-color: rgba(208, 1, 26, 0.05);
            }
        }
        label {
            font-size: 14px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
            color: #1d1d1d;
            margin-bottom: 10px;
            .asterisco {
                color: #fc4f08;
                padding-left: 2px;
            }
        }
    }
    label {
        display: block;
        .asterisco {
            color: #fc4f08;
        }
    }
}


/*DETALLE*/

.single {
    padding-top: 42px;
    .summary-title {
        font-family: 'Merriweather';
        font-size: 28px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
    }
}

.carousel {
    margin-bottom: 30px;
}

.carousel-control {
    &.right,
    &.left {
        background-image: unset;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -28px;
            width: 56px;
            height: 56px;
            border-radius: 100px;
            background-color: rgba(255, 255, 255, 0.5);
            line-height: 56px;
        }
    }
}

.tramites-content {
    margin-bottom: 45px;
    p {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.7px;
        color: rgba (29, 29, 29, 0.80)
    }
}

.videoWrapper {
    margin-top: 45px;
    border: solid 1px rgba(29, 29, 29, 0.3);
}

.video-js {
    display: block;
    vertical-align: top;
    box-sizing: border-box;
    color: #fff;
    background-color: #000;
    position: relative;
    padding: 0;
    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 30px;
}

.video-js .vjs-big-play-button {
    font-size: 3em;
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    display: block;
    margin-top: -0.8em;
    margin-left: -1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 0.06666em solid #fff;
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.videoTitle {
    //margin-top: 20px;
}

.wraperData {
    padding-top: 44px;
    padding-bottom: 35px;
    padding-right: 30px;
}

.item.noTitle {
    h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.43;
        letter-spacing: 0.3px;
        color: #1d1d1d;
        margin-bottom: 20px;
    }
    dl {
        dd {
            margin-bottom: 10px;
            a {
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: 0.3px;
                color: #1d1d1d;
                text-decoration: underline;
            }
        }
    }
}

.ctaVoluntarios {
    text-align: center;
    h3 {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        margin-bottom: 30px;
    }
}
.navbar-brand {
    position: absolute;
    left: 45px;
}

.info-actividad {
    padding: 30px;
}

.volverArrow {
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background-color: rgba(29, 29, 29, 0.05);
    text-align: center;
    line-height: 22px;
    font-size: 14px;
    color: rgba(29, 29, 29, 0.3);
}

.volver {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: 0.7px;
    color: #000000;
    padding-left: 15px;
}

.redesWrapProject {
    margin-bottom: 75px;
    h4 {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.7px;
        margin-bottom: 10px;
    }
    .redes {
        li {
            i {
                font-size: 17px;
                width: 32px;
                height: 32px;
                border-radius: 100px;
                border: solid 1px rgba(29, 29, 29, 0.3);
                text-align: center;
                line-height: 32px;
                margin-right: 10px;
                color: rgba(29, 29, 29, 0.8);
            }
            &:last-child {
                i {
                    margin-right: 0;
                }
            }
        }
    }
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}


/*PROFILE*/

.profileW {
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 60px;
    padding-bottom: 45px;
}

.profile {
    .botones {
        margin-top: 30px;
    }
    .userName {
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #1d1d1d;
        margin-bottom: 30px;
        svg {
            color: #ff6600;
            margin-right: 15px;
        }
    }
    p {
        font-size: 18px;
        letter-spacing: 1px;
        color: rgba( 29, 29, 29, 0.80);
        margin-bottom: 15px;
    }
}

.projectW {
    padding-top: 60px;
    .projectNumber {
        margin-top: -30px;
        font-size: 18px;
        letter-spacing: 1px;
        color: rgba( 29, 29, 29, 0.80);
        margin-bottom: 45px;
    }
}

.pestaniasActividadProyecto {
    border-bottom: solid 1px rgba(29, 29, 29, 0.3);
    margin-top: 60px;
    margin-bottom: 30px;
    li {
        display: inline-block;
        margin-right: 60px;
        padding-bottom: 20px;
        a {
            font-size: 28px;
            font-weight: 900;
            line-height: 1.43;
            letter-spacing: 1.2px;
            color: #1d1d1d;
        }
    }

    .active {
        display: inline-block;
        margin-right: 60px;
        padding-bottom: 20px;
        font-size: 28px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #ff6600;
    }
}

@media(max-width:410px) {
    #headerTop {
        span {
            font-size: 13px;
        }
        img {
            width: 85%;
        }
    }
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-brand {
        img {
            width: 85%;
        }
    }
}

@media(max-width:470px) {
    .profile {
        .botones {
            a {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
    .actividadWrapper {
        .fecha {
            padding-right: 10px;
        }
    }
}

@media(max-width:767px) {
    .actividadWrapper {
        .fecha {
            font-size: 36px;
            span {
                font-size: 14px;
            }
        }
        .distrito {
            font-size: 10px;
        }
        h3.titular {
            font-size: 16px;
        }
    }
    .centerMobile {
        text-align: center !important;
    }
    .projectW .projectNumber {
        text-align: center;
    }
    .profile {
        .contacto {
            margin-top: 30px;
        }
        .botones {
            text-align: center;
            a {
                margin-bottom: 30px;
            }
        }
    }
    #loginContainer {
        text-align: center;
        .form-group {
            margin-right: 0;
        }
        .event-link.big {
            width: 100%;
        }
        .buttons * {
            display: block;
        }
        .buttons {
            padding-left: 25px;
            padding-right: 25px;
        }
        .list-inline {
            display: block;
            width: 100%;
            a {
                display: block;
            }
        }
        .form-container {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 40px;
        }
        label {
            text-align: left;
        }
        .pull-right {
            float: none !important;
        }
    }
    #actividadesHome {
        h4 {
            margin-top: 27px;
        }
    }
    h1.titlePage,
    h2.titlePage {
        text-align: center;
        .right {
            float: none;
            margin-top: 18px;
        }
    }
    .gallery-item {
        margin-bottom: 20px;
        header {
            height: 242px;
        }
    }
    .section-cont {
        padding: 35px 20px;
        h2 span {
            font-size: 18px;
        }
    }
    footer {
        text-align: center;
        #widgetArea {
            .column {
                border: 0;
                border-bottom: solid 1px rgba(255, 255, 255, 0.15);
                padding: 0;
                padding-top: 40px;
                padding-bottom: 40px;
                &:nth-child(1) {
                    padding-top: 0;
                }
                &:nth-child(2) {
                    border-left: 0;
                    border-right: 0;
                }
                &:nth-child(3) {
                    border-bottom: 0;
                }
            }
        }
    }
    .urgenteWrapper {
        padding-right: 30%;
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
        }
    }
}

@media(min-width:768px) {
    .navbar-nav>li>a {}
    .navbar-default .navbar-nav>li a.selected {
        border-bottom: solid 8px #ff6600;
        padding-bottom: 12px;
    }
}

@media(max-width:942px) {
    #loginContainer {
        .pull-right {
            float: none !important;
        }
    }
}

@media(min-width:768px) and (max-width:992px) {
    footer {
        p.tlf {
            font-size: 23px;
            font-weight: 900;
        }
        a.email {
            font-size: 13px;
        }
        #widgetArea {
            .column {
                &:nth-child(2) {
                    border-right: 0;
                }
                &:nth-child(3) {
                    padding-top: 40px;
                    margin-top: 40px;
                    border-top: solid 1px rgba(255, 255, 255, 0.15);
                    text-align: center;
                }
                //padding: 0;
            }
        }
        #linkArea {
            .links1,
            .links2 {
                text-align: center;
                ul {
                    text-align: center;
                }
            }
            .links1 {
                margin-bottom: 25px;
            }
        }
    }
}

@media(min-width:992px) {}

@media (max-width: 1020px) {
    #menuWrapper {
        background-color: rgba(255, 255, 255, 1);
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        background-image: url(/assets/icons/close_menu.svg);
        width: 24px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center;
        &.collapsed {
            width: 24px;
            background-image: url(/assets/icons/open_menu.svg);
            background-size: 24px 20px;
            background-position: center;
        }
    }
    .navbar-collapse {}
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        overflow: hidden !important;
        margin: 0;
        padding: 0;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        padding-top: 30px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-default .navbar-nav>li {
        margin-left: 0;
        text-align: center;
        a {
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            &.selected {
                border-bottom: solid 8px #ff6600;
            }
        }
    }
    #navbar {
        width: 100%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0px;
        z-index: 99;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin-right: 0px;
        margin-left: 0px;
    }
}



@media (min-width: 1021px) and (max-width: 1283px) {
    .navbar-header {
        float: none;
    }
    .dropdown {
        line-height: 30px;
    }
    .navbar-right {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: justify;
        display: block;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 0;
            visibility: hidden;
        }
        li {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            float: none;
            height: 30px;
            &>a {
                line-height: 30px !important;
            }
            &:first-child {
                margin: 0;
            }
        }
    }
    #HeaderWrapper .sessionTrigger {
        line-height: 30px;
        display: inline-block;
    }
}

@media (min-width: 993px) and (max-width: 1244px) {
    footer #widgetArea .redes li i {
        font-size: 16px;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: solid 1px rgba(255, 255, 255, 0.5);
        text-align: center;
        line-height: 40px;
        margin-right: 17px;
        color: #ffffff;
    }
    footer #widgetArea input[type="text"] {
        display: block;
        width: 100%;
        height: 40px;
        border-radius: 28px;
        background-color: rgba(255, 255, 255, 0.05);
        border: solid 1px rgba(255, 255, 255, 0.3);
        padding-left: 30px;
        margin-top: 25px;
        color: #ffffff;
    }
    footer p.tlf {
        font-size: 22px;
        font-weight: 900;
        line-height: 1.43;
        letter-spacing: 1.2px;
        color: #ffffff;
    }
    footer a.email {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.8px;
        color: #ffffff;
        text-decoration: underline;
    }
}

@media(min-width:768px) and (max-width:1200px) {
    .gallery-item {
        header {
            height: 233px;
        }
    }
    .ctaGroupPreview {
        .text-right {
            text-align: left !important;
        }
    }
    .category {
        display: inline-block;
        line-height: 40px;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.3px;
        color: #1d1d1d;
        max-width: 100%;
    }
}



@media(min-width:1300px) {
    
}

@media(min-width:0px) and (max-width:320px) {
    .projectLogo {
        max-width:auto;
        max-height:400px;

    }
}

@media(min-width:320px) and (max-width:480px) {
    .projectLogo {
        max-width:auto;
        max-height:400px;

    }
}

@media(min-width:480px) and (max-width:600px) {
    .projectLogo {
        max-width:auto;
        max-height:400px;

    }
}

@media(min-width:600px) and (max-width:768px) {
    .projectLogo {
        max-width:auto;
        max-height:600px;

    }
}

@media(min-width:768px) and (max-width:1200px) {
    .projectLogo {
        max-width:auto;
        max-height:300px;

    }
}

@media(min-width:1200px) {
    .projectLogo {
        max-width:auto;
        height:300px;

    }
}

.timelines {
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}
.u-floatLeft{
    display: none;
}

.logoEspecifico {
    max-width: 600px;
    height: auto;
    width: 100%;
    max-height: 600px;
}
