/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require leaflet
 *= require leaflet.fullscreen
 *= require simple_calendar
 *= require jquery-ui/datepicker
 *= require jquery-ui/dialog
 *= require jquery-ui/autocomplete
 *= require_self
 *= require sweetalert2
 */
@import "vendor";
@import "bootstrap";
@import "videojs";
@import "social-share-button";
@import "font-awesome";
//@import "jquery-ui/autocomplete";
@import "_custom";
//@import "jquery-ui/custom";
@import "solidarity_chains";
@import "simple_calendar";
@import "calendar_custom";
@import "digital_custom";

table {
    margin-top: 3rem;
    width: 100%;
    border-radius: 0.5rem;
}

th {
    background: #5e5e5e;
    color: white;
    padding: 1rem;
}

td {
    background: white;
    padding: 1rem;
    border-bottom: 0.1rem solid black;
}

thead {
    border-bottom: 0.1rem solid black;
}

.header_image {
    background-image: url("banner_2020.jpg") !important;
}

.progress {
  border: 0.1rem solid #333333;
  background: #717171;
  text-align: center;
  border-radius: 2rem;
}

.progress-bar {
  background: #ff6600;
}
