.calendar_now {
  background-color: #FFA200;
  color: white !important;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  line-height: 0rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.calendar_now a {
  background-color: #FFA200;
  color: white !important;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  line-height: 0rem;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.calendar_link {
  color: black;
  font-size: 2rem !important;
}

.calendar_link:hover {
  color: white;
  font-size: 2rem !important;
}

.calendar_now_button {
  color: white !important;
  font-weight: bold;
}

.calendar_without {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  text-align: center;
  line-height: 0rem;

}

.calendar_without:hover {
  color: rgba(255, 102, 0, 1);
  cursor: pointer;
}

.calendar_now:hover {
  background-color: #005787;
  color: white;
  font-weight: bold;
}

.calendar_selected {
  background-color: #005787;
  border-radius: 5rem;
  color: white;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  line-height: 0rem;
}



.calendar_selected .calendar_without {
  color: white;
  font-weight: normal;
}

.calendar_selected .calendar_without:hover {
  color: white;//rgba(255, 102, 0, 1);
}

.calendar_event {
  background-color: #ff6600;
  border-radius: 5rem;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  
  text-align: center;
  line-height: 0rem;
}

.calendar_event a {
  background-color: rgba(255, 102, 0, 1);
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event_now {
  background-color: #FFA200;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event_now a {
  background-color: #FFA200;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event_now a:hover {
  background-color: #FFA200;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: 3rem;
  text-align: center;
  line-height: 0rem;
}

.calendar_event:hover {
  background-color: #005787;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.calendar_event:hover a {
  background-color: #005787;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.calendar_event_button_secondary {
  color: black;
  padding: 0.1rem;
  text-align: left;
}

.calendar_event_button_secondary:hover {
  color: #005787;
  padding: 0.1rem;
  cursor: pointer;
  text-align: left;
}

.calendar_event_button {
  margin: 0px;
  color: black;
  padding: 0.1rem;
  text-align: left;
}

.calendar_event_button:hover {
  margin: 0px;
  color: white;
  padding: 0.1rem;
  cursor: pointer;
  text-align: left;
}


.calendar_buttons {
  padding: 10px;
  width: 100%;
}

.calendar_input {
  background-origin: content-box;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  margin: 0;
  border: solid 1px rgba(29, 29, 29, 0.5);
  appearance: none;
  padding: 1rem;
}
.calendar_select {
  background-image: url(/assets/icons/down.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  text-align: center;
  background-origin: content-box;
  width: 100%;
  height: 40px;
  border-radius: 100px;
  margin: 0;
  border: solid 1px rgba(29, 29, 29, 0.5);
  appearance: none;
  padding: 1rem;
}

.calendar_columns {
  padding: 1px;
}

.calendar_out {
  background-color: gray;
  padding: 0.1rem;
}

.calendar_secondary {
  background-color: lightgray;
}