.button_digital_menu {
  background: #ff6600;
  border: 0.5rem solid #ff6600;
  padding: 5rem;
  text-align: center;
  color: white;
  border-radius: 1rem;
}

.button_digital_menu:hover {
  background: white;
  border: 0.5rem solid #ff6600;
  padding: 5rem;
  text-align: center;
  color: #ff6600;
  border-radius: 1rem;
}

.faq_title {
  border-bottom: 0.2rem solid #ff6600;
  border-top: 0.2rem solid #ff6600;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem
}

.faq_body {
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.faq-botton {
  background: #ff6600;
  border: 0.1rem solid #ff6600;
  padding: 0.3rem 0.5rem;
  text-align: center;
  color: white;
  border-radius: 1rem;
}

.faq-botton:hover {
  background: white;
  border: 0.1rem solid #ff6600;
  padding: 0.3rem 0.5rem;
  text-align: center;
  color: #ff6600;
  border-radius: 1rem;
}

.voto_neutro {
  background: #717171;
  border: 0.1rem solid #717171;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: white;
  border-radius: 10rem;
}

.voto_neutro:hover {
  background: white;
  border: 0.1rem solid #717171;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: #717171;
  border-radius: 10rem;
}

.voto_plus {
  background: #3F9629;
  border: 0.1rem solid #3F9629;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: white;
  border-radius: 10rem;
}

.voto_plus:hover {
  background: white;
  border: 0.1rem solid #3F9629;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: #3F9629;
  border-radius: 10rem;
}

.voto_minus {
  background: #962929;
  border: 0.1rem solid #962929;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: white;
  border-radius: 10rem;
}

.voto_minus:hover {
  background: white;
  border: 0.1rem solid #962929;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: #962929;
  border-radius: 10rem;
}

.button_follow {
 background: #FFC403;
  border: 0.1rem solid #FFC403;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: black;
  border-radius: 10rem;
}

.button_follow:hover {
  background: white;
   border: 0.1rem solid #FFC403;
   padding: 0.7rem 1.5rem;
   text-align: center;
   color: black;
   border-radius: 10rem;
 }

.button_unfollow {
  background: #962929;
  border: 0.1rem solid #962929;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: white;
  border-radius: 10rem;
}

.button_unfollow:hover {
  background: white;
  border: 0.1rem solid #962929;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: #962929;
  border-radius: 10rem;
}

.button_enter_foro {
  background: #ff6600;
  border: 0.1rem solid #ff6600;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: white;
  border-radius: 10rem;
}

.button_enter_foro:hover {
  background: white;
  border: 0.1rem solid #ff6600;
  padding: 0.7rem 1.5rem;
  text-align: center;
  color: #ff6600;
  border-radius: 10rem;
}