.simple-calendar {

    /* START TOOLTIP STYLES */
    [tooltip] {
      position: relative; /* opinion 1 */
      width: 100%;
      height: 100%;
    }

    /* Applies to all tooltips */
    [tooltip]::before,
    [tooltip]::after {
      text-transform: none; /* opinion 2 */
      font-size: .9em; /* opinion 3 */
      line-height: 1;
      user-select: none;
      pointer-events: none;
      position: absolute;
      display: none;
      opacity: 0;
    }
    [tooltip]::before {
      content: '';
      border: 5px solid transparent; /* opinion 4 */
      z-index: 1001; /* absurdity 1 */
    }
    [tooltip]::after {
      content: attr(tooltip); /* magic! */
      
      /* most of the rest of this is opinion */
      font-family: Helvetica, sans-serif;
      text-align: center;
      
      /* 
        Let the content set the size of the tooltips 
        but this will also keep them from being obnoxious
        */
      min-width: 3em;
      max-width: 21em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1ch 1.5ch;
      border-radius: .3ch;
      box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
      background: #333;
      color: #fff;
      z-index: 1000; /* absurdity 2 */
    }

    /* Make the tooltips respond to hover */
    [tooltip]:hover::before,
    [tooltip]:hover::after {
      display: block;
      /*white-space: pre-line;*/
    }

    /* don't show empty tooltips */
    [tooltip='']::before,
    [tooltip='']::after {
      display: none !important;
    }

    /* FLOW: UP */
    [tooltip]:not([flow])::before,
    [tooltip][flow^="up"]::before {
      bottom: 100%;
      border-bottom-width: 0;
      border-top-color: #333;
    }
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up"]::after {
      bottom: calc(100% + 5px);
    }
    [tooltip]:not([flow])::before,
    [tooltip]:not([flow])::after,
    [tooltip][flow^="up"]::before,
    [tooltip][flow^="up"]::after {
      left: 50%;
      transform: translate(-50%, -.5em);
    }

    /* FLOW: DOWN */
    [tooltip][flow^="down"]::before {
      top: 100%;
      border-top-width: 0;
      border-bottom-color: #333;
    }
    [tooltip][flow^="down"]::after {
      top: calc(100% + 5px);
    }
    [tooltip][flow^="down"]::before,
    [tooltip][flow^="down"]::after {
      left: 50%;
      transform: translate(-50%, .5em);
    }

    /* FLOW: LEFT */
    [tooltip][flow^="left"]::before {
      top: 50%;
      border-right-width: 0;
      border-left-color: #333;
      left: calc(0em - 5px);
      transform: translate(-.5em, -50%);
    }
    [tooltip][flow^="left"]::after {
      top: 50%;
      right: calc(100% + 5px);
      transform: translate(-.5em, -50%);
    }

    /* FLOW: RIGHT */
    [tooltip][flow^="right"]::before {
      top: 50%;
      border-left-width: 0;
      border-right-color: #333;
      right: calc(0em - 5px);
      transform: translate(.5em, -50%);
    }
    [tooltip][flow^="right"]::after {
      top: 50%;
      left: calc(100% + 5px);
      transform: translate(.5em, -50%);
    }

    /* KEYFRAMES */
    @keyframes tooltips-vert {
      to {
        opacity: .9;
        transform: translate(-50%, 0);
      }
    }

    @keyframes tooltips-horz {
      to {
        opacity: .9;
        transform: translate(0, -50%);
      }
    }

    /* FX All The Things */ 
    [tooltip]:not([flow]):hover::before,
    [tooltip]:not([flow]):hover::after,
    [tooltip][flow^="up"]:hover::before,
    [tooltip][flow^="up"]:hover::after,
    [tooltip][flow^="down"]:hover::before,
    [tooltip][flow^="down"]:hover::after {
      animation: tooltips-vert 300ms ease-out forwards;
    }

    [tooltip][flow^="left"]:hover::before,
    [tooltip][flow^="left"]:hover::after,
    [tooltip][flow^="right"]:hover::before,
    [tooltip][flow^="right"]:hover::after {
      animation: tooltips-horz 300ms ease-out forwards;
    }

    table {
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgb(221, 221, 221);
      border-collapse: collapse;
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
    }
  
    tr {
      border-collapse: collapse;
    }
  
    th {
      padding: 6px;
      border-bottom: 2px solid rgb(221, 221, 221);
      border-collapse: collapse;
      border-left: 1px solid rgb(221, 221, 221);
      border-right: 1px solid rgb(221, 221, 221);
      border-top: 0px none rgb(51, 51, 51);
      box-sizing: border-box;
      text-align: left;
    }

    hr{
      margin: 0.5rem;
    }
  
    td {
      /*padding: 6px;*/
      vertical-align: top;
      width: 14%;
  
      border: 1px solid #ddd;
      border-top-color: rgb(221, 221, 221);
      border-top-style: solid;
      border-top-width: 1px;
      border-right-color: rgb(221, 221, 221);
      border-right-style: solid;
      border-right-width: 1px;
      border-bottom-color: rgb(221, 221, 221);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgb(221, 221, 221);
      border-left-style: solid;
      border-left-width: 1px;
    }
  
    .day {
      height: 80px;
    }
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {
      background: #FFFFC0
    }

    .wday{
      height: 5rem;
      background-color: white !important;
      padding: 0.2rem 0.7rem;
    }
  
    .past {}
    .future {}
  
    .start-date {

    }
  
    .prev-month {
      background: #DDD;
    }
    .next-month {
      background: #DDD;
    }

    .calendar-heading{
      font-size: 1.2rem;
      margin: 0.9rem 0;
    }
    .current-month {}
  
    .has-events {
      background-color: #d1d7e9;
    }

    .event{
      padding-top: 1rem;
    }
    
    a{
      color: #003df6;
      padding: 0rem 0.3rem;
      border-radius: 0.9rem;
    }

    a:hover{
      color:#0000e1;
      
    }

    .event_link{
      background-color: none;
      padding: 0;
      margin-bottom: 0;
      border-radius: 0.4rem;
    }

    .event_link:hover{
      color:#0000e1;
      background-color: none;
    }

    .date-str{
      font-size: 1.2rem;
      font-weight: bold;
    }
  }