<%= form_for(@rt_volunteer_project_subscribe) do |f| %>
  <%= f.invisible_captcha :subtitle %>
  <div class="form form-electronic">
    <%= render(partial: 'shared/errors', locals: {model_name: @rt_volunteer_project_subscribe})%>
      <% if !current_user ||  !current_user.loggable_type=="Entity"  %>
          <h4> <%="#{t('volunteer_subscribe.text1')} #{link_to 'Iniciar sesión', new_user_session_path} #{t('volunteer_subscribe.text2')}".html_safe  %>:</h4>

      <% end %>
      <br>
      <fieldset>
        <%= f.hidden_field :project_id, value: params[:project_id] %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:name) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:name) %>" ><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:name) %> <span class="asterisco">*</span></label>
              <%= f.text_field :name, { class: 'medium' } %>
            </div>
            
            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:last_name) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:last_name) %>"><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:last_name) %> <span class="asterisco">*</span></label>
              <%= f.text_field :last_name, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:last_name_alt) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:last_name_alt) %>"><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:last_name_alt) %> </label>
              <%= f.text_field :last_name_alt, { class: 'medium' } %>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:phone_number_alt) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:phone_number_alt) %>"><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:phone_number_alt) %> <span class="asterisco">*</span></label>
              <%= f.text_field :phone_number_alt, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:phone_number) %> " alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:phone_number) %> "><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:phone_number) %> </label>
              <%= f.text_field :phone_number, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:email) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:email) %>"><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:email) %> <span class="asterisco">*</span></label>
              <%= f.text_field :email, { class: 'medium' } %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:postal_code) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:postal_code) %>"><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:postal_code) %></label>
              <%= f.text_field :postal_code, { class: 'medium' } %>
            </div>

            <div class="form-group">
              <label class="labelUp" id="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:district) %>" alt="<%= Rt::VolunteerProjectSubscribe.human_attribute_name(:district) %>"><%= Rt::VolunteerProjectSubscribe.human_attribute_name(:district) %> </label>
              <%= f.select :district_id, @hash_district||{},{include_blank: "", selected: f.object.district_id || ""}%>
            </div>
            <div class="form-group">
              <label class="labelUp" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:info_source) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:info_source) %> </label>
              <%= f.select :info_source_id, @hash_info_source||{},{include_blank: "", selected: f.object.info_source_id || ""}, {'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:info_source)}%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <label class="labelUp" alt="<%= Rt::VolunteerSubscribe.human_attribute_name(:is_adult) %>"><%= Rt::VolunteerSubscribe.human_attribute_name(:is_adult) %> <span class="asterisco">*</span></label>
              <%= f.select :is_adult,{"Sí": "true","No": "false"},{include_blank: "", selected: f.object.is_adult.blank? ? "" : f.object.is_adult},{ class: 'medium', 'aria-label' => Rt::VolunteerSubscribe.human_attribute_name(:is_adult)} %>
            </div>
          </div>
        </div>
        <hr>
      </fieldset>
      <%= render partial: 'shared/protection', locals: {f: f} %>
        <hr>
      <div class="button-group text-right pb90">
        <%= f.button t('application.submit'), :class => 'event-link big', :value => 'Registrarme' %>
      </div>
    </div>
  <% end %>