<div class="container-fluid mt45">
  <div class="row">
    <div class="col-md-6"> 
      <% if params[:project_id] != nil %>
        <h2 class="titlePage"><%=t('volunteer_subscribe.title')%> <%= Project.where(id: params[:project_id]).first.name %></h2>
      <% else %>
        <h2 class="titlePage"><%= main_title(t("volunteer_subscribe.title", model: Rt::VolunteerProjectSubscribe.model_name.human) ) %> </h2>
      <% end %>
    </div>
  </div>
  <%= render 'form' %>
</div>