<div class="actividadWrapper">
  <div class="row">
    <div class="col-sm-4 col-xs-4  no-padding-left" style="border-right: 0.3rem solid">
      <div class="row">
        <div class="<%= !activity.end_date.blank? ? "col-sm-6" : "col" %> fecha">
          <%= activity.start_date.day %>
          <span><%= MONTHNAMES[activity.start_date.month] %> <%= activity.start_date.year %></span>
        </div>
        <%if !activity.end_date.blank?%>
          <div class="col-sm-6  fecha">
            <%= activity.end_date.day %>
            <span><%= MONTHNAMES[activity.end_date.month] %> <%= activity.end_date.year %></span>
          </div>  
        <%end%>  
      </div>
    </div>
    <div class="col-sm-8 col-xs-8">
      <p class="distrito">
        <% activity.addresses.select(:district_id).distinct.each do |address| %>
          <p class="distrito"><%= address.district %></p>
        <% end %>
      </p>
      <h3 class="titular"><%=activity.try(:name) %></h3>
      <p><%=activity.try(:description).to_s.truncate(75,omission: '...').html_safe %><p>
    </div>
    <i><%= link_to  " " , activity_path(activity.id), class: "fa fa-chevron-right" %> </i>
  </div>
</div>