<div id="buscarAtividades" class="form form-electronic panel-body" style="background-color: rgba(29, 29, 29, 0.05);padding: 3rem ">
<%= form_tag activities_path, :method => :get, class: "dates_form" do |f| %>
  <%= hidden_field_tag :set_date, params[:set_date] %>
  <div class="row">
    <div class="col-sm-4 calendar_columns " style="padding: 1rem">
        <%=label_tag :select_day, "Día", class: "labelUp" %>
        <%= select_day(@current_date_calendar,{prefix: :select},{class: "calendar_select",onchange: "send_form()"})%>
    </div>
    <div class="col-sm-4  calendar_columns"  style="padding: 1rem">
        <%=label_tag :select_month, "Mes", class: "labelUp" %>
        <%= select_month(@current_date_calendar,{prefix: :select},{class: "calendar_select",onchange: 'send_form()'})%>
    </div>
    <div class="col-sm-4   calendar_columns"  style="padding: 1rem">
        <%=label_tag :select_year, "Año", class: "labelUp" %>
        <%= select_year(@current_date_calendar, {prefix: :select,start_year: 2005},{class: "calendar_select",onchange: 'send_form()'})%>
    </div>         
  </div>   
  <div class="row">
    <div class="col-sm-2 calendar_columns text-center">
      <%=link_to "<i class='fa fa-angle-double-left fa-2x'></i>".html_safe,set_init_month_calendar(params), class: "event-link", style: "padding: 0.5rem 2rem"%>
    </div>
    <div class="col-sm-2  calendar_columns text-center" >
      <%=link_to "<i class='fa fa-angle-left fa-2x'></i>".html_safe,set_previus_month_calendar(params), class: "event-link", style: "padding: 0.5rem 2rem"%>
    </div>
    <div class="col-sm-4   calendar_columns text-center" >
      <%=link_to "Hoy",set_now_calendar(params), class: "event-link"%>
    </div>
    <div class="col-sm-2 calendar_columns text-center">
      <%=link_to "<i class='fa fa-angle-right fa-2x'></i>".html_safe,set_next_month_calendar(params), class: "event-link", style: "padding: 0.5rem 2rem"%>
    </div>
    <div class="col-sm-2  calendar_columns text-center">
      <%=link_to "<i class='fa fa-angle-double-right fa-2x'></i>".html_safe,set_finish_month_calendar(params), class: "event-link", style: "padding: 0.5rem 2rem"%>
    </div>
  </div>
  <div class="row" style="padding: 0px;overflow-x:auto;">   
    <table class="table table-striped" style="width: 100%;margin-top: 1rem">
      <thead><tr><%=get_week_first_monday%></tr></thead>
      <tbody><%=get_days_month_range(@current_date_calendar, @activities_unpag, params)%></tbody>
    </table>
  </div>
  <div class="row" style="margin-bottom: 3rem">    
    <div class="col-sm-6   calendar_columns text-center" >
      <%=link_to "Día",set_day_calendar(params), class: params[:select_check].to_s == 'day' ? "event-link" : "secondary-link"%>
    </div>
   <div class="col-sm-6   calendar_columns text-center" >
      <%=link_to "Mes",set_month_calendar(params), class: params[:select_check].blank? || params[:select_check].to_s == 'month' ? "event-link" : "secondary-link"%>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div style="height: 1rem;width: 1rem; border-radius: 100%;background: rgba(255, 102, 0, 1);float: left;padding: 0.8rem;margin-right: 1rem;"></div> Eventos
    </div>
    <div class="col-12">
      <div style="height: 1rem;width: 1rem; border-radius: 100%;background: #FFA200;float: left;padding: 0.8rem;margin-right: 1rem;"></div> Día actual
    </div>
  </div>
  <div class="row" style="padding-top: 5rem">
    <div class="col calendar_columns">
      <%=label_tag :search_text, "#{t('activity.filter.description')} <span class='asterisco'>*</span>".html_safe, class: "labelUp" %>
      <%= text_field_tag :search_text,params[:search_text], class: "calendar_input", placeholder: t('activity.filter.find_placeholder'), 'aria-label' => t('activity.filter.find_placeholder') %>          
    </div>
  </div>
  
  <div class="row"  style="padding-top: 2rem">
    <div class="col calendar_columns">
      <%=label_tag :search_district, t('activity.filter.district'), class: "labelUp" %>
      <%= select_tag :search_district, options_from_collection_for_select(get_districts,"id","name", params[:search_district]), include_blank: '',class: "calendar_select" %>  
    </div>
  </div>
  <div id="boroughts">
  <div class="row"  style="padding-top: 2rem">
    <div  class="col calendar_columns">
      <%=label_tag :search_borought, t('activity.filter.borough'), class: "labelUp" %>
      <%= select_tag :search_borought, options_from_collection_for_select(get_boroughts(params[:search_district]),"id","name",  params[:search_borought]),include_blank: '', class: "calendar_select" %>
    </div>
  </div>
 
  </div>
  <div class="row"  style="padding-top: 2rem">
    <div class="col calendar_columns">
      <%=label_tag "search_areas[]", t('activity.filter.tematic').html_safe, class: "labelUp" %>
      <div class="row" style="padding: 2rem">
        <% @areas.each do |area| %>
          <div style="float:left">
            <label alt="<%= area.name %>">
              <%= check_box_tag "search_areas[]", area.id,!params[:search_areas].blank? && params[:search_areas].include?(area.id.to_s)  %>
              <span class="tag"><%= area.name.capitalize %></span>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col calendar_columns">
      <div class="button-group text-right mt20">
        <%= submit_tag t('activity.action.find'), class: "event-link", alt: t('activity.action.find')%>
      </div>
    </div>
  </div>
<% end %>
</div>