<% content_for :title, t('activity.main_title').html_safe  %>
<% content_for :description, t('activity.description').html_safe %>

<div class="container-fluid">
  <h1 class="titlePage" alt="<%=t('activity.title')%>"><%=t('activity.title')%></h1>
  <div class="row">
    <div class="col-md-4">      
      <%= render "buscador" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <%= render partial: 'numActivities', locals: {events: @activities_search.count}  %>
      </div>
      <div class="row" style="overflow: auto;height: 112rem;">
        <% @activities.each do |activity|%>
          <div class="col-12">
            <%=render 'activity', activity: activity%>
          </div>
        <%end%>
      </div>      
      <div class ="row">
        <div class="col">
          <%= render partial: "shared/pagination", locals: {collection: @activities} %>
        </div>
      </div>
    </div>
  </div>
</div>