<div class="container-fluid single actividadSingle">
  <%=render partial: "commons/back_show_list", locals: {path: activities_path, text: t('application.activities')}%>

  <div class="row">    
    <div class="col-md-8">
      <h3 class="summary-title"><%= @activity&.name %></h3>
      <div class="row">
        <% if !@activity&.areas.blank? %>
          <div class=" col tags">
            <%= render partial: "shared/area", locals:{ areas:  @activity.areas } %>
          </div>
        <% end %>
      </div>
      <%if !@activity.try(:links).try(:image).blank? || !@activity.try(:logo).blank?%>
        <div class="row">
          <div class="col">
            <%= render partial: "commons/wrapper_slides", locals: {object: @activity} %>
          </div>
        </div>
      <%end%>
      <div class="row">
        <div class="col">
           <%= @activity&.description&.html_safe %>
        </div>
      </div>
      <%= render partial: "commons/links_url_video", locals: {resource: @activity}%>      
      <div class="bg-fluid5 nofluid" style= "margin:20px 0px;">
        <%= link_to t('url_link_activities'), @activity.link_url unless @activity.link_url.blank? %>
      </div> 
      <%if !@activity&.project.blank?%>
        <h4><strong>Datos proyecto asociado</strong></h4>
        <div style="border: 0.3rem solid lightgrey; padding: 3rem; margin-top: 3rem; border-radius: 1rem;margin-bottom: 2rem">
          <%=render partial: "projects/show_project", locals: {project: @activity.project} %>
        </div>
      <%end%>
    </div>
    <div class="col-md-4 ">
      <%= render partial: "commons/sidebar_activities", member: @activity %>
    </div>
  </div>
  <%if @activity.share%>
    <div class="row" style="margin-top: 5rem">    
      <div class="col-md-8">        
        <%= render partial: "commons/share_links", locals: {object: @activity} %>    
      </div>
    </div>
  <%end%>
</div>