<section class="container-fluid profileW">
  <div class="row">
    <div class="col-md-12">
      <div class="profile row">
        <% if current_user.loggable_type == "Entity" %>
          <div class="col-md-12 centerMobile">
            <h3 class="userName"><i class="fa fa-user" style="color: #FF6600"></i>  <%= current_user.loggable.name %></h3>
          </div>
          <div class="col-12 centerMobile contacto">
            <p><span><%= current_user.loggable.vat_number %></span><%=" / " if !current_user.loggable.vat_number.to_s.strip.blank? && !current_user.loggable.email.to_s.strip.blank?%><span><%= current_user.loggable.email %></span></p>
          </div>
          <div class="col-12 centerMobile contacto">
            <p><span><%= current_user.loggable.name %></span><%=" / " if !current_user.loggable.name.to_s.strip.blank? && !current_user.loggable.phone_number.to_s.strip.blank?%><span><%= current_user.loggable.phone_number %></span></p>
          </div>
          <div class="col-12 centerMobile contacto">
            <p><span><%= current_user.loggable.address.road_type %> <%= current_user.loggable.address.road_name %> <%= current_user.loggable.address.road_number_type %> <%= current_user.loggable.address.road_number %> 1º, <%= current_user.loggable.address.postal_code %> <%= current_user.loggable.address.town %>, <%= current_user.loggable.address.province %></span></p>
          </div>
          <div class="col-12 botones">
            <%= link_to t('user.generic.change_pass'), edit_user_registration_path, class: "event-link mr30" %>
            <%= link_to t('user.generic.activity'), new_rt_activity_publishing_path, class: "event-link negative mr30" %>
            <%= link_to t('user.generic.volunteer'), new_rt_volunteers_demand_path, class: "event-link negative mr30" %>
            <%= link_to t('user.generic.project'), new_rt_project_publishing_path, class: "event-link negative mr30" %>
            <%= link_to t('user.generic.request'), new_rt_other_path, class: "event-link negative mr30" %>
          </div>
        <% else %>
          <div class="col-12 centerMobile">
            <h3 class="userName"><i class="fa fa-user" style="color: #FF6600"></i> <%= current_user.loggable.full_name%></h3>       
          </div>
          <div class="col-12 centerMobile contacto">
            <p><span><%= current_user.loggable.phone_number %></span><%=" / " if !current_user.loggable.phone_number.to_s.strip.blank? && !current_user.loggable.email.to_s.strip.blank?%><span><%= current_user.loggable.email %></span></p>
          </div>
          <div class="col-12 botones">
            <%= link_to t('user.generic.change_pass'), edit_user_registration_path, class: "event-link mr30" %>
            <%= link_to t('user.generic.change_data'), new_rt_volunteer_amendment_path, class: "event-link mr30" %>
            <%= link_to t('user.generic.appointment'), new_rt_volunteer_appointment_path, class: "event-link negative" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user.loggable_type == "Volunteer" %>
    <div class="row" style="margin-top: 3rem">
      <div class="col-12"><h3 class="userName"><%=t('user.generic.albums')%></h3></div>
    </div>
    <div class="row" style="margin-top: 3rem">
      <%= form_tag(download_zip_path,method: "post") do %>
        <div class="col-md-2">
          <%= select_tag :search_proyect, options_for_select(@hash_fechas||{}), include_blank: t('user.generic.project_year'), class: "form-especifico", 'aria-label' => t('user.generic.project_year')%>
        </div>
        <div class="col-md-6">
          <%= select_tag :search_proyect_id, options_for_select(@hash_projects||{}), include_blank: t('user.generic.project'), class: "form-especifico", 'aria-label' => t('user.generic.project')%>
        </div>
        <div class="col-md-4">
          <%= submit_tag  t('user.generic.download_zip'), class: "event-link negative" %>
        </div>
      <% end %>
    </div>
  <%end%>
</section>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="pestaniasActividadProyecto">
        <% if current_user.loggable_type=="Entity" %>
            <%entity_tabs.each_with_index do |m, index|%>
                <li class="<%= "active" if index==0 && params[:type].blank? || params[:type].to_s==m[0]%>"><%= index==0 && params[:type].blank? || params[:type].to_s==m[0] ? m[1] : (link_to m[1], myarea_path(type: m[0])) %></li>
            <%end%>
        <%else%>
            <%volunteer_tabs.each_with_index do |m, index|%>
                <li class="<%= "active" if index==0 && params[:type].blank? || params[:type].to_s==m[0]%>"><%= index==0 && params[:type].blank? || params[:type].to_s==m[0] ? m[1] : (link_to m[1], myarea_path(type: m[0])) %></li>
            <%end%>
        <% end %>
      </ul>
    </div>
  </div>
</div>