<%= month_calendar(attribute: :date, events: @meetings  ) do |date, appointments| %>
  <span class="date-str"><%= date.day %></span> 
  <% appointments.each do |appointment| %>
    <div tooltip="<%=appointment.hour + " | " + Project.find(appointment.project_id).name %>">      
      <%= appointment.name %> <hr>
    </div>
  <% end %>
<% end %>


