<% @projects_actives.each_slice(3) do |group| %>
  <ul class="row">
    <% group.each do |project| %>
      <li class="card_project col-xs-12 col-sm-12 col-md-12" style="display:inline-block">
        <div class="gallery-item">
          <div class="main">
            <div class="col-md-6">
              <h3><%= link_to project.name, project_path(project)  %></h3>
              <p><%= truncate(strip_tags(project.description), length: 145, :escape => false).html_safe %></p>
            </div>
            <div class="col-md-2">
              <p><%= project.execution_start_date%>
                <% unless project.execution_end_date.blank?%> - <%= project.execution_end_date%> 
                <% end %>
              </p>
            </div>
            <%if current_user.loggable_type == "Volunteer"%>
            <div class="col-md-2">
              <p><%= ProjectsVolunteer.find_by(project_id: project.id, volunteer_id: current_user.loggable_id).try(:description_turn) %></p>
            </div>
            <div class="col-md-2" >
              <p><%= t("user.type.#{ProjectsVolunteer.find_by(project_id: project.id, volunteer_id: current_user.loggable_id).try(:volunteer_type).blank? ? "ASOCIATED" : ProjectsVolunteer.find_by(project_id: project.id, volunteer_id: current_user.loggable_id).try(:volunteer_type)}") %></p>
            </div>
            <%end%>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>