<%if ! @projects_digitals.blank?%>
  <% @projects_digitals.each do |project| %>
    <ul class="row">   
        <li class="card_project col-xs-12 col-sm-12 col-md-12" style="display:inline-block">
          <div class="gallery-item">
            <div class="main">
              <div class="col-md-6">
                <h3><%= project.name %></h3>
                <p><%= truncate(strip_tags(project.description), length: 145, :escape => false).html_safe %></p>
              </div>
              <div class="col-md-4">
                <p><%= project.execution_start_date%> <%= " - #{project.execution_end_date}" if !project.execution_end_date.blank?%></p>
              </div>  
              <div class="col-md-2">
                <%= link_to "<i class='fa fa-chevron-circle-right fa-4x' style='color: #ff6600'></i>".html_safe,show_project_path(project)%>
              </div>          
            </div>
          </div>
        </li>
    </ul>
  <% end %>
<% else %>
  <p>No estás asignada/o en ningún proyecto digital</p>
<% end %>
