<ul class="row">
  <% unless @requests.blank?%>
    <% @requests.order(:created_at).each do |req| %>
      <% unless req.user_id.blank? %>
        <div class="actividadWrapper">
          <div class="row">
            <div class="col-sm-2 col-xs-3  no-padding-left">
                <p class="fecha">
                  <%= req.created_at.day %>
                  <span><%= MONTHNAMES[req.created_at.month] %> <%= req.created_at.year %></span>
                </p>
            </div>
            <div class="col-sm-8 col-xs-7">
              <h3 class="titular"><%= t(req.rt_extendable_type) %></h3>
              <% unless req.req_rejection_type_id.blank? %>
                <h4 style = "margin-top: 10px"><b><%= Entity.human_attribute_name(:req_reason_id)%>:</b> <%= ReqRejectionType.find(req.req_rejection_type_id).name %></h4>
              <%end%>
              <%=req.rt_extendable.set_data.html_safe%>
            </div>
            <div class="col-sm-2 col-xs-1">
              <p class="titular" style="color: <%=get_color_rt(req.req_status_id)%>;"><%= t(req.req_status_id) %></p>
              <label id="request_status_date"><%= req.status_date.to_date %></label>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</ul>
