<%=render partial: "profile/users/data_common"%>
<%params[:type] ||= "myProjects"%>
<section class="container-fluid projectW">
  <ul class="row">       
    <%= render partial: params[:type] %>
  </ul>  
</section>