<div class="bg-fluid1">
  <div class="container">
    <div class="col-md-3">
      <div class="hidden-print menuVertical  normal">
        <div class="enlacesMenuVertical">
          <div class="botonesFuenteImprimir">
            <div class="separadorIzq">
              <a href="#" id="btnMenuVerticalAumentarFuente" class="btnMenuVerticalAumentarFuente"><span class="text-hide"><%=t('layout.accesibility.action.font_more')%></span></a>
              <a href="#" id="btnMenuVerticalReducirFuente" class="btnMenuVerticalReducirFuente"><span class="text-hide"><%=t('layout.accesibility.action.font_less')%></span></a>
            </div>
            <div class="separadorIzq">
              <a href="#" id="btnMenuVerticalImprimir" class="btnMenuVerticalImprimir"><span class="text-hide"><%=t('layout.accesibility.action.print')%></span></a>
            </div>
          </div>
          <div class="botonesCompartir">
            <form action="#" class="formMenuVerticalMas">
              <button type="submit" class="btnMenuVerticalMas">
              <span class="text" alt="<%=t('layout.accesibility.subscribe')%>" class=""><%=t('layout.accesibility.subscribe')%></span>
              </button>
            </form>
            <a href="#" class="btnMenuVerticalCompartir"><span class="text"><%=t('layout.accesibility.action.share')%></span></a>
          </div>
          <div class="popupMenuSocial">
            <a href="#" class="linkCerrarPopupSocial" title="Cerrar" alt="Cerrar"><span class="text-hide"><%=t('layout.accesibility.action.close')%></span></a>
            <ul class="listaCompartirEn">
              <li>
                <a href="#" class="compartir-link compartir-facebook" alt="compartir facebook" >En Facebook</a>
              </li>
              <li>
                <a href="#" class="compartir-link compartir-twitter" alt="Compartir twitter">Twitter</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>