<% if notice %>
<div class='form form-electronic'>
  <div id="avisos" class="nofluid" style="font-size:  18px;">
    <div class="info-seccion">
      <div class="modal-alert modal-success">
        <a href="#" onclick='closeAvisos()' class="close" title="<%= t("application.close") %>">&times;</a>
        <h2 class="title-modal"></h2>
        <%= notice.html_safe %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if alert %>
<div class='form form-electronic'>
  <div id="avisos" class="nofluid">
    <div class="info-seccion">
      <div class="modal-alert modal-error">
        <a href="#" onclick='closeAvisos()' class="close" title="<%= t("application.close") %>">&times;</a>
        <h2 class="title-modal"></h2>
        <%= alert %>
      </div>
    </div>
  </div>
</div>
<% end %>