<footer>
    <div id="widgetArea" class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-5 column">
                <h3><%=t('layout.footer.contact')%></h3>
                <p class="tlf"><%=@cvcontact_telefono%></p>
                <a class="email" href="mailto: <%=@cvcontact_email%>" alt="Correo de contacto"><%=@cvcontact_email%></a>
            </div>
            <div class="col-md-4 col-sm-7 column">
            </div>
            <div class="col-md-4 col-sm-12 column">
                <h3><%=t('layout.footer.follow')%>:</h3>
                <nav id="navbar_footer" name="nav_footer" alt="nav_footer">
                    <ul class="redes">
                      <%if !@rrss_facebook.blank?%>
                        <li><a href="<%=@rrss_facebook%>" target="_blank" name="facebook" alt="facebook" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true" aria-label="facebook"></i></a></li>
                      <%end%>
                      <%if !@rrss_twitter.blank?%>
                        <li><a href="<%= @rrss_twitter%>" target="_blank" alt="Twitter" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true" aria-label="twitter"></i></a></li>
                      <%end%>          
                      <%if !@rrss_instagram.blank?%>
                        <li><a href="<%=@rrss_instagram%>" target="_blank" alt="Instagram" aria-label="instagram"><i class="fa fa-instagram" aria-hidden="true" aria-label="instagram"></i></a></li>
                      <%end%>          
                      <%if !@rrss_youtube.blank?%>
                        <li><a href="<%=@rrss_youtube%>" target="_blank" alt="Youtube" aria-label="youtube"><i class="fa fa-youtube-play" aria-hidden="true" aria-label="youtube"></i></a></li>
                      <%end%>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div id="linkArea" class="container-fluid">
        <div class="row">
            <div class="col-md-8 text-left links1">
                <nav id="latout_footer">
                    <ul class="links">
                        <li><%=t('layout.footer.name')%> <span class="anio"></span></li>
                        <li><a href="/volun/conditions" alt="<%=t('layout.footer.conditions')%>"><%=t('layout.footer.conditions')%></a>
                        <li class="accesibility_link" style="margin-left:10px"><%= nav_link t('layout.footer.accesibility'), accesibility_path, :alt => t('layout.footer.accesibility')%></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4 text-right links2">
                <nav id="list_rrss">
                    <ul class="redes">                       
                      <%if !@rrss_facebook.blank?%>
                        <li><a href="<%=@rrss_facebook%>" target="_blank" name="facebook" alt="facebook" aria-label="facebook"><i class="fa fa-facebook" aria-hidden="true" aria-label="facebook"></i> Facebook</a></li>
                      <%end%>
                      <%if !@rrss_twitter.blank?%>
                        <li><a href="<%= @rrss_twitter%>" target="_blank" alt="Twitter" aria-label="twitter"><i class="fa fa-twitter" aria-hidden="true" aria-label="twitter"></i> Twitter</a></li>
                      <%end%>          
                      <%if !@rrss_instagram.blank?%>
                        <li><a href="<%=@rrss_instagram%>" target="_blank" alt="Instagram" aria-label="instagram"><i class="fa fa-instagram" aria-hidden="true" aria-label="instagram"></i> Instagram</a></li>
                      <%end%>          
                      <%if !@rrss_youtube.blank?%>
                        <li><a href="<%=@rrss_youtube%>" target="_blank" alt="Youtube" aria-label="youtube"><i class="fa fa-youtube-play" aria-hidden="true" aria-label="youtube"></i> Youtube</a></li>
                      <%end%>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>