<header>
  <div id="headerTop" class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-left text-center-xs">
          <span><%=t('layout.header.title')%></span>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <%= image_tag "logo_black_min.svg", title: "Ayuntamiento de Madrid", alt: "Ayuntamiento de Madrid", :html_options => {:role => "navigation"}%>
        </div>
      </div>
    </div>
  </div>
  <div id="HeaderWrapper" class="container-fluid header_image" style="background-image: url(<%=@component_home.image_header.url%>) !important">
    <div id="menuWrapper" class="container-fluid">
      <nav id="navbar_default" class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header" style="float: none">
            <div class="col-md-5" style="margin-top: 30px;"> 
              <div class=row>              
                <a accesskey="1" href="<%= root_path %>" class="col-sm-6">  <%= image_tag("LOGO_VOLUNTARIOS_ALTA.svg", title: t('layout.header.logo'), alt: t('layout.header.logo')) %></a>
                <button type="button" class="navbar-toggle collapsed col-sm-6 text-right" style="margin-top:0px;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
                </button>
              </div>
            </div> 
            <% if !current_user.blank? %> 
              <div class="col-md-7" style="margin: 30px 0px; "> 
                <div class="row"> 
                  <div class="col-12 text-right" style="float:right"> 
                    <h3 class="userName" style="float:left; padding: 0 5rem " ><i class="fa fa-user" style="color: #FF6600"></i> <%= current_user.email %></h3>  
                    <%= link_to(t('action.out_session'), destroy_user_session_path, method: :delete, class: "event-link negative dark") %>
                  </div>
                </div> 
              </div> 
            <%end%> 
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <%= nav_link t('layout.header.whoami'), whoami_path, :accesskey => "2", :alt => t('layout.header.whoami')%></li>
              <li><%= nav_link t('layout.header.volunteer'), volunteers_path, :accesskey => "3", :html_options => {:alt => t('layout.header.volunteer')}%></li>
              <li><%= link_to t('layout.header.project'), projects_path, :accesskey => "4", :alt => t('layout.header.project') %></li>
              <li><%= nav_link t('layout.header.entity'), entities_path, :accesskey => "5", :alt => t('layout.header.entity') %></li>
              <li><%= nav_link t('layout.header.campaing'), new_campaings_path, :accesskey => "6", :alt => t('layout.header.campaing') %></li>
              <li><%= nav_link t('layout.header.activity'), activities_path, :accesskey => "7", :alt => t('layout.header.activity') %></li>
              <li><%#= nav_link t('layout.header.blog'), "https://voluntariospormadridblog.madrid.es/", :accesskey => "8", :alt => t('layout.header.blog') %></li>

              <% if !current_user.blank? %>  
                <li><%= nav_link "<i class='fa fa-user' style='color: #FF6600'></i> #{t('shared.personal_area')}".html_safe, myarea_path, alt: t('shared.personal_area') %></li>
              <% else %>
                <li><span class="sessionTrigger"><%= nav_link t('action.in_session'), new_user_session_path, :accesskey => "9", :alt => t('action.in_session') %></span> </li>
               <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container containerHeaderOverlay">
      <%= yield :head %>
    </div>
  </div>
</header>