<div class="bg-fluid1">
  <div class="container">
    <ul class="breadcrumbs hidden-xs">
      <li>
        <a class="bc-item bc-item-home" href="http://www.madrid.es"><span>Home</span></a>
      </li>
      <li>
        <a class="bc-item " href="https://sede.madrid.es"><span><%=t('layout.migas.sede')%></span></a>
      </li>
      <li>
        <a class="bc-item " href="https://sede.madrid.es/empresas"><span><%=t('layout.migas.emprise')%></span></a>
      </li>
      <li>
        <span class="bc-item bc-item-last"><%=t('layout.migas.tribute')%></span>
      </li>
    </ul>
  </div>
</div>