<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta description="<%= content_for?(:description).html_safe? ? yield(:description).html_safe? : "Voluntariado" %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title).html_safe? ? yield(:title).html_safe? : "Voluntariado" %></title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"  type="text/javascript">
    <script>
      var aytmad = {};
        aytmad.config = {
          routes:{
          menu:'data/menu.json',
          menuTramites:'data/menu_tramites.json',
          calendar:'04-buscador-agenda.html?vgnextchannel=27dfb4f19cce3210VgnVCM10000026205a0aRCRD&amp;cuando=cuandoDia&amp;enviar=Buscar&amp;newSearch=true&amp;fechaAccesible=',
          taxonomias:'data/XMLAutocompletarTaxonomias.xml'
        },
        constants:{
          numVisibleLinks:3,
          API_KEY: "<%= Rails.application.secrets.jsa %>"
        }
      };
    </script>

    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//webanalytics01.madrid.es/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '12']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//sigmapre.madrid.es/arcgis_js_api/library/3.14/3.14/esri/css/esri.css">
    
  </head>
  <body class="<%=controller_name %>_<%=action_name %>">
    <div id="wrapper">
      <%= render 'layouts/header' %>
     
      <% if true==false %>
      <%= render 'layouts/migas' %>
      <% end %>
      <%= render 'layouts/avisos' %>
      <main>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
      <%#= javascript_pack_tag "datepicker" %>
      <%#= javascript_pack_tag "datepicker_es.min" %>
      <script src="<%= Rails.application.secrets.url_init %>"></script>
    </div>
  </body>
</html>