<p><%=t('user.mailer.welcome')%> <%= @email %>!</p>

<p><%=t('user.mailer.confirm_instruccion_body')%>:</p>

<p><%= link_to t('user.mailer.action_confirm'), confirmation_url(@resource, confirmation_token: @token) %></p>
