<p><%=t('user.mailer.hi')%> <%= @resource.email %>!</p>

<p><%=t('user.mailer.body')%></p>

<p><%=t('user.mailer.link')%>:</p>

<p><%= link_to t('user.mailer.action'), unlock_url(@resource, unlock_token: @token) %></p>
