<div class="container-fluid pt60">
  <div class="row">
    <div class="col-md-12">
      <div class="mc-acceso nofluid">
        <%= render(partial: 'shared/errors', locals: {model_name: @user})%>
        <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%=t('user.registration.edit.currently')%>: <%= resource.unconfirmed_email %></div>
        <% end %>
        <h2 class="titlePage"><%=t('user.registration.edit.title')%></h2>
        <p class="notes mb20">
          <%=t('user.registration.edit.presence').html_safe%>
        </p>
        <p  class="notes mb20">
          <%=t('user.registration.edit.validate')%>
        </p>
        <div class="form form-electronic">
          <div class="mc-acceso-item login">
            <fieldset>
              <div class="form-group">
                <label class="labelUp" id="<%=t('user.registration.edit.new_pass')%>" alt="<%=t('user.registration.edit.new_pass')%>"><legend><%=t('user.registration.edit.new_pass')%> <span class="asterisco">*</span></legend></label>
                <%= f.password_field :password, autocomplete: "off",:maxlength => 8, class: "big", 'aria-label' => t('user.registration.edit.new_pass') %>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label class="labelUp" id="<%=t('user.registration.edit.confirm_pass')%>"><legend><%=t('user.registration.edit.confirm_pass')%> <span class="asterisco">*</span></legend></label>
                <%= f.password_field :password_confirmation, autocomplete: "off",:maxlength => 8, class: "big", 'aria-label' => t('user.registration.edit.confirm_pass') %>
              </div>
            </fieldset>
            <hr>
            <div class="button-group text-right">
              <%= link_to t('user.registration.edit.action.cancel'), myarea_path, class: "event-link negative big"  %>
              <%= f.submit t('user.registration.edit.action.send'), class: "event-link big mb20" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>