<div class="mc-acceso nofluid">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="panel panel-type1">
        <div class="panel-heading">
            <h3 class="panel-title"><%=t('user.registration.title')%></h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-6 col-xs-6 col-md-12">
                    <div class="mc-acceso-item login">
                        <div class="content">
                            <h4 class="legend legend-user"><%=t('user.registration.title_form')%></h4>
                            <div class="form-group first">
                                <span class="labelUp"><%=t('user.registration.email_field')%></span>
                                <%= f.email_field :email, autofocus: true, placeholder:"email", class:  "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.check_box :perfil,  class:"ftl" %> <span class="labelCheck ftl"><%=t('user.registration.is_entity_field')%> </span>

                            </div>
                            <br/>
                            <div class="form-group">
                                <span class="labelUp"><%=t('user.registration.pass_field')%></span>                           
                                <%= f.password_field :password, autocomplete: "off" , class:  "form-control" ,placeholder: t('user.registration.placeholder_pass') %>
                            </div>
                            <div class="form-group">
                                <span class="labelUp"><%=t('user.registration.confirm_field')%></span>
                                <%= f.password_field :password_confirmation, autocomplete: "off",placeholder: t('user.registration.placeholder_confirm'), class:  "form-control" %>
                            </div>
                            <div class="buttons">
                                <button class="button button4 button-icon"><%=t('user.registration.register_action')%> <i class="button-icon-arrowright"></i></button>

                                <ul class="list-inline">
                                    <%= render "devise/shared/links" %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>